FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)
    + Attributes
        + commentaries_get_url (string) - URL to get a commentary
        + commentaries_list_url (string) - URL to get a list of commentary teasers
        + commentaries_full_url (string) - URL to get a list of full commentaries

## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary Teaser

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary

# Group CRUD Functions

**Authentication**

You will need to use a user's access token when making requests to any non-public endpoint.

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + introduction - Introduction block in HTML.
    + psalm_proverbs - The commentary for Psalms or Proverbs in HTML format.
    + new_testament - The commentary for New Testament in HTML format.
    + old_testament - The commentary for Old Testament in HTML format.
    + pippa_adds - The HTML text for Pippa Adds.
    + updated - Time the item was last updated in Unix Time format.
    + show_twitter - Display the twitter links (boolean).
    + cartoon_key - URL for cartoon.
    + deleted - Flag defining delete status (boolean)
    + scheduled_for - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year - The day number.
    + day - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

  
+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Attributes (Commentary)

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (array)
        + (object)
            + Include Commentary


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204


## Day [/days]

Manage day objects.
+ Attributes
  + did (number) - day ID
  + psalm - Psalms verse numbers
  + proverbs - Proverbs verse numbers
  + new_testament - New Testament verse numbers
  + old_testament - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text - Proverbs text in HTML format
  + new_testament_text - New Testament text in HTML format
  + old_testament_text - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

        
+ Response 201

### List Days [GET]
+ Response 200

### Get Day [GET /days/{id}]
+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id
    + name
    + filename
    + path
    + owner
    + deleted
    + created
    + updated

### List Audio [GET /audio{?limit,page,orderBy,orderType,published}]
+ Parameters
    + limit: `10` (number, optional) - The number of results to return per page.
        + Default: `10`
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + orderBy: `d.name` (string, optional) - The value for sort results.
        + Default: `d.did`
    + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
        + Default: `ASC`
    + published: `0` (string, optional) - The value to filter published and unpublished Audio.

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + body (array)
            + (Audio)
        + Include Pager


## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + status: approved (string)
        + published: true (boolean)

+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Attributes (Audio)


## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + comment: comments (string) - reasons for rejection
        + email: test@gmail.com (string) - email address
        + status: rejected (string) - rejection status

+ Response 200 (application/json)
    + Attributes (Audio)


# Group Translation

Manage the Daily Commentaries Translations

## Translations [/translations]
Display translations allocated for daily commentaries

+ Attributes
    + default (Commentary)
    + translations (array)
        + (Translation)

### List Translations [GET /translations{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (Translations)


### Create Translation [POST]
Create translation for daily commentary.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}
             
    + Attributes (object)
        + cid: 1234 (number, required) - commentary ID
        + locale: fr (string, required) - locale for this translation
        + Include Translation

+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Attributes (Translations)

## Update Translation [/{cid}/translations/{translationId}]

Update translation for daily commentary.

### Update Translation [PUT]

+ Parameters
    + cid: 1234 (number, required) - Commentary ID
    + translationId: `1008` (number, required) - The value of translations Id.

+ Request

    + Headers

             Authorization: Bearer {access_token}
             
    + Body
    
            {
                "commentary": "1008",
                "language": "zh",
                "locale": "zh",
                "status": "ready",
                "translations": {
                    "introduction": {
                        "id": 100,
                        "content": "<p>translation content for introduction</p>",
                        "translated": true
                        
                    },
                    "newTestament": {
                        "id": 102, 
                        "content": "<p>translation content for newTestament",
                        "translated": true
                    },
                    "oldTestament": {
                        "id": 103,
                        "content": "<p>translation content for oldTestament</p>",
                        "translated": true
                    },
                    "pippaAdds": {
                        "id": 104,
                        "content": "<p>translation content for pippaAdds</p>",
                        "translated": true
                    },
                    "psalmProverbs": {
                        "id": 101,
                        "content": "<p>translation content for psalmProverbs</p>",
                        "translated": true
                    },
                    "reference": {
                        "id": 105,
                        "content": "<p>translation content for reference</p>",
                        "translated": true
                    },
                    "title": {
                        "id": 99,
                        "content": "<p>translation content for title</p>",
                        "translated": true
                    }
                }
            }

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            {
              "id": 14,
              "commentary": {
                    "did": 258,
                    "scheduled_for": null,
                    "audio_path": null,
                    "day_info": "Psalm 107:23-32, Galatians 2:1-10, Isaiah 36:1-37:38",
                    "cid": 1008,
                    "title": "How to Respond to a Crisis",
                    "introduction": "<p>President J.F. Kennedy once remarked that &lsquo;when written in Chinese, the word &ldquo;crisis&rdquo; is composed of two characters. One represents danger, and the other represents opportunity.&rsquo; Every crisis is, at the same time, an opportunity.</p>\r\n\r\n<p>All of us have problems. Many of us will face crises. How do we respond to a time of trouble, danger or great difficulty? What do we do about a crisis in our personal lives? How do we respond to a crisis in the church or in our nation? What do we do when we are &lsquo;at [our] wits&rsquo; end&rsquo;? (Psalm 107:27). What do we do when the &lsquo;truth of the gospel&rsquo; is at stake? (Galatians 2:5). How do we respond to &lsquo;a black day&rsquo; in our lives? (Isaiah 37:3, MSG).</p>\r\n",
                    "psalm_proverbs": "<h2>1. Cry out to the Lord in prayer</h2>\r\n\r\n<p>There may be times in your life when you face major storms. A &lsquo;tempest&rsquo; seems to blow and the waves are &lsquo;lifted high&rsquo; (v.25). Your courage melts away (v.26b) and you reach your wits&rsquo; end (vv.26&ndash;27). You hit a crisis and cannot work out how to get out of it.</p>\r\n\r\n<p>This psalm tells us how to respond. The people:<br />\r\n&lsquo;called out to God in [their] desperate condition;<br />\r\n&nbsp;&nbsp; he got [them] out in the nick of time.<br />\r\nHe quieted the wind down to a whisper,<br />\r\n&nbsp;&nbsp; put a muzzle on all the big waves<br />\r\nAnd [they] were so glad when the storm died down,<br />\r\n&nbsp;&nbsp; and he led [them] safely back to harbour&rsquo; (vv.28&ndash;30, MSG).</p>\r\n\r\n<p>When God answers your cry for help don&rsquo;t forget to thank him:<br />\r\n&lsquo;So thank God for his marvellous love,<br />\r\n&nbsp;&nbsp; for his miracle mercy to the children he loves.<br />\r\nLift high your praises when the people assemble,<br />\r\n&nbsp;&nbsp; shout Hallelujah when the elders meet!&rsquo; (vv.31&ndash;32, MSG).</p>\r\n\r\n<blockquote>\r\n<p>Lord, thank you for the many times you have heard me and rescued me when I cried out to you in my distress. Lord, I cry out to you today for help in my own life &hellip; I cry out to you for the church in this country, for our nation, and for our world.</p>\r\n</blockquote>\r\n",
                    "new_testament": "<h2>2. Use skill, diplomacy and courage</h2>\r\n\r\n<p>As we saw yesterday, sometimes we may be tempted to look down on other parts of the church, other denominations or other Christians and wish they were more like us! If only they did things more like us they would be &lsquo;proper&rsquo; Christians or &lsquo;better&rsquo; Christians! In thinking like this we are, in effect, denying that faith in Jesus is enough.</p>\r\n\r\n<p>This is what was happening to the churches in Galatia. They were being told that their faith in Jesus was not enough. If they wanted to be &lsquo;real&rsquo; Christians, they needed to be circumcised.</p>\r\n\r\n<p>The early church was facing a potential crisis, and the apostle Paul had to use every ounce of his skill, diplomacy and courage to avoid a damaging division and split in the church.</p>\r\n\r\n<p>Paul wants to make clear that he acted under the guidance and activity of the Holy Spirit: &lsquo;I went in response to a revelation&rsquo; (v.2). Paul was convinced of the validity of the gospel he preached, but was also concerned for unity: &lsquo;I did this in private with the leaders &hellip; so that our concern would <em>not become a controversial public issue</em>&rsquo; (v.2, MSG).</p>\r\n\r\n<p>He took with him two friends: Barnabas and Titus. Barnabas was a Jew and Titus was a Greek (an uncircumcised Gentile). For a first-century Jew there were two kinds of people in the world: Jewish and Greek (circumcised and uncircumcised). Circumcision was a sign that marked out a Jew, in accordance with God&rsquo;s command in Genesis 17:9&ndash;14. It signified God&rsquo;s covenant with his chosen people.</p>\r\n\r\n<p>Yet, Paul chose Titus as one of his companions. &lsquo;Significantly, Titus, non-Jewish though he was, was not required to be circumcised&rsquo; (Galatians 2:3, MSG). Paul&rsquo;s point in the section that follows is that the Jerusalem apostles (James, Peter and John) agreed that the good news of Jesus Christ was for everyone: Jew and Gentile, circumcised and uncircumcised.</p>\r\n\r\n<p>Paul was forced to defend the &lsquo;freedom we have in Christ Jesus&rsquo; (v.4). True freedom is only found through faith in Christ. The necessity of circumcision for justification before God would &lsquo;make us slaves&rsquo; (v.4).</p>\r\n\r\n<p>If they had yielded to the demands for circumcision of Gentile converts, they would have denied the very essence of the gospel. The purpose of this letter was to explain &lsquo;the <em>truth </em>of the gospel&rsquo; (v.5). Paul wanted to demonstrate that Jesus&rsquo; life, death and resurrection had fulfilled <em>all </em>the requirements of the law of Moses.</p>\r\n\r\n<p>The meeting in Jerusalem was to resolve the circumcision question. The ruling reached was one of the most important ever made in the history of Christianity. The decision here prevented a ruinous division within the church.</p>\r\n\r\n<p>Not only was the issue resolved, but also the gospel preached by Peter and Paul was firmly established as being <em>one and the same </em>(v.6). The leaders in Jerusalem recognised that Paul&rsquo;s apostleship bore all the marks of God-given authority.</p>\r\n\r\n<p>Peter and the others accepted Paul and agreed a division of responsibility &ndash; Paul for the non-Jews and Peter for the Jews. The same gospel would be brought to two different spheres by different people. They shook hands on it as a sign that the agreement would be honoured (vv.7&ndash;9). This was a monumental moment for the early church.</p>\r\n\r\n<p>It is important to note that the parties had a sensible and detailed discussion about their differences. Paul refused to be overawed, although those he met were &lsquo;reputed to be pillars&rsquo; (v.9). This was, after all, quite a group to take on! James had presumably already become leader of the Jerusalem church. Peter and John were both members of Jesus&rsquo; inner circle.</p>\r\n\r\n<p>A pleasing agreement was reached. Paul seems to have acted with respect and courtesy despite being a determined man conscious of a special task. He would not allow opposition from without, nor discouragement from within, to stop him from doing what he felt called to do.</p>\r\n\r\n<p>The only condition that the Jerusalem leaders stipulated caused no problem for Paul: &lsquo;to remember the poor&rsquo; (v.10). The church must always prioritise the poor and disadvantaged in society.</p>\r\n\r\n<blockquote>\r\n<p>Lord, as the church faces theological debates and a potential crisis of disunity, give us the skill, diplomacy and courage that the apostle Paul had. Help us to recognise that different people have different callings and different roles to play. Help us, like Paul, to embrace the entire church of Jesus Christ, and not add our own ideas and human requirements to what is needed to be a Christian.</p>\r\n</blockquote>\r\n",
                    "old_testament": "<h2>3. Bring to the Lord the &lsquo;impossible&rsquo; situation</h2>\r\n\r\n<p>Have you ever been taunted or mocked for your faith in God? &lsquo;Do you really think that God is with you?&rsquo; they say. &lsquo;Isn&rsquo;t it just your imaginary friend?&rsquo;; &lsquo;Do you really think that trusting in God is going to do you any good?&rsquo; This is the way God&rsquo;s people have been taunted throughout history.</p>\r\n\r\n<p>Israel faced a crisis that seemed an impossible situation. This is such an important incident in Israel&rsquo;s history that it appears three times in the Bible (see 2 Kings 18, 2 Chronicles 32). Sennacherib, King of Assyria, was attacking Jerusalem with a huge army. His minions were <em>taunting </em>the people, &lsquo;On what are you basing this confidence of yours?&rsquo; (Isaiah 36:4). They were being taunted and ridiculed for their faith in God.</p>\r\n\r\n<p>It must have been a terrifying situation. They were facing having to eat their own excrement and drink their own urine (v.12). They were told their God could not deliver them (v.15). No one else had ever been delivered out of the &lsquo;hand of the king of Assyria&rsquo; (v.18).</p>\r\n\r\n<p>King Hezekiah responded to the crisis by tearing his clothes, putting on sackcloth and going into the temple of the Lord (37:1). He sent for the prophet Isaiah. Hezekiah said, &lsquo;This is a black day. We&rsquo;re <em>in crisis</em>&rsquo; (v.3, MSG). Hezekiah asked Isaiah to pray (v.4).</p>\r\n\r\n<p>Isaiah responded by saying that God&rsquo;s message was: &lsquo;Don&rsquo;t be upset by what you&rsquo;ve heard ... I personally will take care of him&rsquo; (vv.6&ndash;7, MSG).</p>\r\n\r\n<p>When Hezekiah received a threatening letter, he went up to the house of the Lord, <em>spread it out before the Lord </em>and prayed: &lsquo;O Lord Almighty &hellip; you alone are God over all the kingdoms of the earth. You have made heaven and earth. Give ear, O Lord, and hear; open your eyes, O Lord and see; listen to all the words Sennacherib has sent to insult the living God &hellip; Now, O Lord our God, deliver us from his hand, so that all kingdoms on earth may know that you alone, O Lord, are God&rsquo; (vv.14&ndash;20).</p>\r\n\r\n<p>Isaiah sent him a message, &lsquo;This is what the Lord, the God of Israel, says: <em>Because you have prayed to me </em>&hellip; I will defend this city and save it, for my sake and for the sake of David my servant!&rsquo; (vv.21,35)</p>\r\n\r\n<p>God heard the prayer of Hezekiah and Isaiah and he rescued and delivered his people (vv.36&ndash;38).</p>\r\n\r\n<blockquote>\r\n<p>Lord, we face a real crisis in our culture, our nation and our world. The name of Jesus is no longer honoured in our society. Lord, would you pour out a spirit of prayer and supplication on your people so that we may turn to you in prayer. Lord, hear our prayer and deliver us in this time of crisis.</p>\r\n</blockquote>\r\n",
                    "pippa_adds": "<p><strong>Galatians 2:10</strong></p>\r\n\r\n<p>&lsquo;All they asked was that we should continue to remember the poor, the very thing I was eager to do.&rsquo;</p>\r\n\r\n<p>I am eager to remember the poor too, but occasionally I feel too overwhelmed, or too preoccupied or disillusioned by someone taking me for a ride. I need not to be put off, but to keep remembering.</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                    "reference": null,
                    "updated": "2015-10-15 07:04:37",
                    "show_twitter": false,
                    "cartoon_key": "",
                    "language": "en",
                    "document_path": null,
                    "realday": "2015-09-14",
                    "status": "ready"
              },
              "status": "ready",
              "published": false,
              "language": "zh",
              "locale": "zh",
              "commentary_translations": [
                {
                    "id": 92,
                    "locale": "en",
                    "field": "title",
                    "object": null,
                    "content": "Translation content for Title",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 93,
                    "locale": "en",
                    "field": "introduction",
                    "object": null,
                    "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 94,
                    "locale": "en",
                    "field": "psalm_proverbs",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 95,
                    "locale": "en",
                    "field": "new_testament",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 96,
                    "locale": "en",
                    "field": "old_testament",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 97,
                    "locale": "en",
                    "field": "pippa_adds",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Pippa Adds</strong></p>\n",
                    "translated": true,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 98,
                    "locale": "en",
                    "field": "reference",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n",
                    "translated": true,
                    "approved": false,
                    "language": "zh"
                }
              ]
            }
    

# Group Users

Manage the user access & groups

# Group Languages

Manage the Language codes on the system

### Create a Language [POST]

### List Languages [GET]

### Read language [GET]

### Update Language [PUT]

### Delete Language [DELETE]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204 (text/html; charset=UTF-8)

    + Headers

            Accept: application/json

# Search

Supports search functions from mobile

# Group Mailchimp

## Submit Campaign

Create a new Mailchimp campaign.  Build and submit the HTML commentary and create a scheduled timewarp campaign.

## List Campaign

List all the processed campaigns with:

- Scheduled date
- Timewarp start date/time based on London Time
- Title of Campaign
- stats - subscribers, opens, clicks for sent campaigns

## Delete Campaign

Remove a Mailchimp campaign.

# Group Dashboard

## Statistics

### Apple

### Android

### Amazon Kindle

### Mailchimp

### YouVersion




# Group Highlights

Resources related to storing and fetching user highlights. **User authentication/filtering not implemented yet**

## Highlights Collection [/highlights{?limit,page}]

Fetch all highlights made by a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Highlights [GET]

_highlightedLocation_ should be stored as a serialized array in the database

+ Response 200 (application/json)
    + Body
        
            {
                "highlights": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "highlightedFrom": "psalm_proverbs",
                        "highlightedText": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#FF0000",
                        "created": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "commentary",
                        "highlightedText": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#CCCCCC",
                        "created": "2014-10-05T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "new_testament",
                        "highlightedText": "Praesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#FF0000",
                        "created": "2014-10-06T09:33:56+0000"
                    }
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Highlight [POST]

+ commentaryId (number)
+ highlightedFrom (enum[string]) - Options: commentary, psalm_proverbs, new_testament, old_testament
+ highlightedText (string)
+ highlightedLocation (array) - Serialize array when storing in database
+ color (string) - HEX

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 245,
                "highlightedFrom": "old_testament",
                "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                "highlightedLocation: [
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "is accumsan, in rutrum odio sodales. Vestibulum ",
                        "3:5",
                        35,
                        48
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                        "3:7",
                        0,
                        108
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "ante ipsum",
                        "3:6:0",
                        0,
                        10
                    ]
                ],
                "color": "#FF0000"
            }

+ Response 201 (application/json)
    + Body
            
            {
                "highlight": {
                    "id": 234,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "color": "#FF0000",
                    "created": "2014-10-06T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Highlight [/highlights/{id}]

+ Parameters
    + id: `2` (number, required) - The ID of the highlight to delete.

### Delete a Highlight [DELETE]

+ Request (application/json)

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Notes

Resources related to storing and fetching user notes. **User authentication/filtering not implemented yet**

## Notes Collection [/notes{?limit,page}]

Fetch all notes made by a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Notes [GET]

+ Response 200 (application/json)
    + Body
        
            {
                "notes": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "highlightedFrom": "psalm_proverbs",
                        "highlightedText": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "commentary",
                        "highlightedText": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "new_testament",
                        "highlightedText": "Praesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    }
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Note [POST]

+ commentaryId (number)
+ highlightedFrom (enum[string]) - Options: commentary, psalm_proverbs, new_testament, old_testament
+ highlightedText (string)
+ highlightedLocation (array) - Serialize array when storing in database
+ note (string) - Plaintext no HTML

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 245,
                "highlightedFrom": "old_testament",
                "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                "highlightedLocation: [
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "is accumsan, in rutrum odio sodales. Vestibulum ",
                        "3:5",
                        35,
                        48
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                        "3:7",
                        0,
                        108
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "ante ipsum",
                        "3:6:0",
                        0,
                        10
                    ]
                ],
                "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et."
            }

+ Response 201 (application/json)
    + Body
            
            {
                "note": {
                    "id": 2323,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Note [/notes/{id}]

Unlike highlights notes should be __soft-deletable__

+ Parameters
    + id: `2` (number, required) - The ID of the note.

### Update a Note [PUT]

+ note (string) - Plaintext no HTML

+ Request (application/json)
    + Body
            
            {
                "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et."
            }

+ Response 200 (application/json)
    + Body
            
            {
                "note": {
                    "id": 2323,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-06T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Delete a Note [DELETE]

+ Request (application/json)

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Reading Statuses

Resources related to storing and fetching user's read status. **User authentication/filtering not implemented yet**

## Reading Status Collection [/reading-statuses{?limit,page}]

Fetch all reading statuses of a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Reading Statuses [GET]

+ Response 200 (application/json)
    + Body
        
            {
                "readingStatuses": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "commentary": true,
                        "psalmProverbs": false,
                        "newTestament": false,
                        "oldTestament": true,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1279,
                        "commentary": true,
                        "psalmProverbs": true,
                        "newTestament": true,
                        "oldTestament": false,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 3,
                        "commentaryId": 1280,
                        "commentary": true,
                        "psalmProverbs": false,
                        "newTestament": false,
                        "oldTestament": false,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Reading Status [POST]

+ commentaryId (number)
+ commentary (boolean)
+ psalmProverbs (boolean)
+ newTestament (boolean)
+ oldTestament (boolean)

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 1280,
                "commentary": true,
                "psalmProverbs": false,
                "newTestament": false,
                "oldTestament": false
            }

+ Response 201 (application/json)
    + Body
            
            {
                "readingStatus": {
                    "id": 4
                    "commentaryId": 1280,
                    "commentary": true,
                    "psalmProverbs": false,
                    "newTestament": false,
                    "oldTestament": false,
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Read Status [/reading-statuses/{commentaryId}]

+ Parameters
    + commentaryId: `2` (number, required) - The ID of the commentary.

### Update a Reading Status [PUT]

+ commentary (boolean)
+ psalmProverbs (boolean)
+ newTestament (boolean)
+ oldTestament (boolean)

+ Request (application/json)
    + Body
            
            {
                "commentary": true,
                "psalmProverbs": false,
                "newTestament": false,
                "oldTestament": false
            }

+ Response 200 (application/json)
    + Body
            
            {
                "readingStatus": {
                    "id": 4
                    "commentaryId": 1280,
                    "commentary": true,
                    "psalmProverbs": false,
                    "newTestament": false,
                    "oldTestament": false,
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Data Structures

## Commentary Teaser (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + realday - The real day number.
    + teaser - the short teaser text for each commentary.
    
## Translation (object)
    + id (number) - translation ID
    + locale: en (string) - language locale for which this is valid
    + field: psalms_text (string) - field for which this is a translation
    + content (string) - translated content
    + approved: true (boolean) - approved or not

## Pager (object)
    + totalItems (number) - total number of items
    + totalPages (number) - total number of pages
    + currentPage (number) - current page number
