FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)
    + Attributes
        + commentaries_get_url: `/bioy/2/public/getCommentary/{id}/{lang}` (string) - URL to get a commentary
        + commentaries_list_url: `/bioy/2/public/listCommentaries/{language}/{startDate}/{limit}/{page}` (string) - URL to get a list of commentary teasers
        + commentaries_full_url: `/bioy/2/public/listFullCommentariesByBatch/{language}/{startDate}/{endDate}/{limit}/{page}` (string) - URL to get a list of full commentaries

## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary Teaser

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary

# Group Commentary functions

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + introduction - Introduction block in HTML.
    + psalm_proverbs - The commentary for Psalms or Proverbs in HTML format.
    + new_testament - The commentary for New Testament in HTML format.
    + old_testament - The commentary for Old Testament in HTML format.
    + pippa_adds - The HTML text for Pippa Adds.
    + updated - Time the item was last updated in Unix Time format.
    + show_twitter - Display the twitter links (boolean).
    + cartoon_key - URL for cartoon.
    + deleted - Flag defining delete status (boolean)
    + scheduled_for - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year - The day number.
    + day - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

  
+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Attributes (Commentary)

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (array)
        + (object)
            + Include Commentary


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204

# Group Days functions

## Day [/days]

Manage day objects.
+ Attributes
  + did (number) - day ID
  + psalm - Psalms verse numbers
  + proverbs - Proverbs verse numbers
  + new_testament - New Testament verse numbers
  + old_testament - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text - Proverbs text in HTML format
  + new_testament_text - New Testament text in HTML format
  + old_testament_text - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 201

### List Days [GET /days{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200

### Get Day [GET /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id
    + name
    + filename
    + path
    + owner
    + deleted
    + created
    + updated

### List Audio [GET /audio{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`
    

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + body (array)
            + (Audio)
        + Include Pager


## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + status: approved (string)
        + published: true (boolean)

+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Attributes (Audio)


## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + comment: comments (string) - reasons for rejection
        + email: test@gmail.com (string) - email address
        + status: rejected (string) - rejection status

+ Response 200 (application/json)
    + Attributes (Audio)


# Group Translation

Manage the Daily Commentaries Translations

## Translations [/translations]
Display translations allocated for daily commentaries

+ Attributes
    + default (Commentary)
    + translations (Commentary Translations)

### List Translations [GET /translations{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (Translations)


### Create Translation [POST]
Create translation for daily commentary.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}
             
    + Attributes (object)
        + cid: 1234 (number, required) - commentary ID
        + locale: fr (string, required) - locale for this translation
        + Include Commentary Translations

+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Attributes (Translations)

## Update Translation [/{cid}/translations/{translationId}]

Update translation for daily commentary.

### Update Translation [PUT]

+ Parameters
    + cid: 1234 (number, required) - Commentary ID
    + translationId: `1008` (number, required) - The value of translations Id.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}

    + Attributes (Commentary Translations)

+ Response 200 (application/json)
    + Attributes (Translations)
    

# Group Users

Manage the user access & groups

## User [/users]

+ Attributes (object)
    + id (number) - the user ID
    + email: example@example.com (string) - email address
    + languages (array)

### List Users [GET /users{?limit,page,orderBy,orderType,email}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`
        + email: test@%.com (string, optional) - email to locate in SQL LIKE format
    + Headers

             Authorization: Bearer {access_token}

+ Response 200
    + Attributes
        + body (array)
            + (User)

### Get User [GET /users/{id}]
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Update User [PUT /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Delete User [DELETE /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 204
            
# Group Languages

Manage the Language codes on the system

## Language [/languages]

Manage language objects.
+ Attributes
  + id (number) - language ID
  + iso (string) - ISO code
  + locale (string) - locale identifier
  + label (string) - label
  + created
  + updated
  + deleted

### Create Language [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 201

### List Languages [GET /languages{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.id`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Language)
        + pager (Pager)

### Get Language [GET /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Language)

### Update Language [PUT /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 200

### Delete Language [DELETE /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            

# Group Email

## Email [/emails]

Manage email campaigns.
+ Attributes
    + eid
    + campaign_id
    + scheduled_on
    + scheduled_for
    + commentary (Commentary)
    

### List Emails [GET /emails{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.eid`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}
+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Email)
        + pager (Pager)            
            

### Get Email [GET /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Email)

### Update Email [PUT /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Email)

+ Response 200

### Delete Email [DELETE /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            
# Data Structures

## Commentary Teaser (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + realday - The real day number.
    + teaser - the short teaser text for each commentary.
    
## Commentary Translations (object)
    + psalms_text (Translation)
    + proverbs_text (Translation)

## Translation (object)
    + id (number) - translation ID
    + locale: en (string) - language locale for which this is valid
    + field: psalms_text (string) - field for which this is a translation
    + content (string) - translated content
    + approved: true (boolean) - approved or not
    
## Pager (object)
    + totalItems (number) - total number of items
    + totalPages (number) - total number of pages
    + currentPage (number) - current page number
