FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
                "commentaries_get_url": "\/bioy\/2\/public\/getCommentary\/{id}\/{lang}",
                "commentaries_list_url": "\/bioy\/2\/public\/listCommentaries\/{language}\/{startDate}\/{limit}\/{page}",
                "commentaries_full_url": "\/bioy\/2\/public\/listFullCommentariesByBatch\/{language}\/{startDate}\/{endDate}\/{limit}\/{page}"
        }


## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Attributes
  + Include Commentary

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)

        {
          "did": 152,
          "scheduled_for": 1433116800,
          "day_of_year": 152,
          "day": {
            "did": 152,
            "day": 152,
            "psalm": null,
            "proverbs": "Proverbs 13:20-14:4",
            "new_testament": "John 20:10-31",
            "old_testament": "2 Samuel 1:1-2:7",
            "psalm_text": "",
            "proverbs_text": "<p class=\"line\"><sup class=\"versenum\">20\u00a0<\/sup>Walk with the wise and become wise,<br>\u00a0\u00a0\u00a0\u00a0for a companion of fools suffers harm. <\/p> <p class=\"line\"><sup class=\"versenum\">21\u00a0<\/sup>Trouble pursues the sinner, <br>\u00a0\u00a0\u00a0\u00a0but the righteous are rewarded with good things. <\/p> <p class=\"line\"><sup class=\"versenum\">22\u00a0<\/sup>A good person leaves an inheritance for their children\u2019s children,<br>\u00a0\u00a0\u00a0\u00a0but a sinner\u2019s wealth is stored up for the righteous. <\/p> <p class=\"line\"><sup class=\"versenum\">23\u00a0<\/sup>An unplowed field produces food for the poor,<br>\u00a0\u00a0\u00a0\u00a0but injustice sweeps it away.<\/p> <p class=\"line\"><sup class=\"versenum\">24\u00a0<\/sup>Whoever spares the rod hates their children,<br>\u00a0\u00a0\u00a0\u00a0but the one who loves their children is careful to discipline them. <\/p> <p class=\"line\"><sup class=\"versenum\">25\u00a0<\/sup>The righteous eat to their hearts\u2019 content,<br>\u00a0\u00a0\u00a0\u00a0but the stomach of the wicked goes hungry. <\/p> <p class=\"line\"><strong>14\u00a0<\/strong>The wise woman builds her house, <br>\u00a0\u00a0\u00a0\u00a0but with her own hands the foolish one tears hers down.<\/p> <p class=\"line\"><sup class=\"versenum\">2\u00a0<\/sup>Whoever fears the Lord walks uprightly,<br>\u00a0\u00a0\u00a0\u00a0but those who despise him are devious in their ways.<\/p> <p class=\"line\"><sup class=\"versenum\">3\u00a0<\/sup>A fool\u2019s mouth lashes out with pride, <br>\u00a0\u00a0\u00a0\u00a0but the lips of the wise protect them. <\/p> <p class=\"line\"><sup class=\"versenum\">4\u00a0<\/sup>Where there are no oxen, the manger is empty,<br>\u00a0\u00a0\u00a0\u00a0but from the strength of an ox come abundant harvests.<\/p>",
            "new_testament_text": "<p><sup class=\"versenum\">10\u00a0<\/sup>Then the disciples went back to where they were staying.<\/p> <h3>Jesus Appears to Mary Magdalene<\/h3><p><sup class=\"versenum\">11\u00a0<\/sup>Now Mary stood outside the tomb crying. As she wept, she bent over to look into the tomb <sup class=\"versenum\">12\u00a0<\/sup>and saw two angels in white, seated where Jesus\u2019 body had been, one at the head and the other at the foot.<\/p> <p><sup class=\"versenum\">13\u00a0<\/sup>They asked her, \u201cWoman, why are you crying?\u201d <\/p><p>\u201cThey have taken my Lord away,\u201d she said, \u201cand I don\u2019t know where they have put him.\u201d <sup class=\"versenum\">14\u00a0<\/sup>At this, she turned around and saw Jesus standing there, but she did not realize that it was Jesus. <\/p> <p><sup class=\"versenum\">15\u00a0<\/sup>He asked her, \u201cWoman, why are you crying? Who is it you are looking for?\u201d<\/p><p>Thinking he was the gardener, she said, \u201cSir, if you have carried him away, tell me where you have put him, and I will get him.\u201d<\/p> <p><sup class=\"versenum\">16\u00a0<\/sup>Jesus said to her, \u201cMary.\u201d<\/p><p>She turned toward him and cried out in Aramaic, \u201cRabboni!\u201d (which means \u201cTeacher\u201d).<\/p> <p><sup class=\"versenum\">17\u00a0<\/sup>Jesus said, \u201cDo not hold on to me, for I have not yet ascended to the Father. Go instead to my brothers and tell them, \u2018I am ascending to my Father and your Father, to my God and your God.\u2019\u201d<\/p> <p><sup class=\"versenum\">18\u00a0<\/sup>Mary Magdalene went to the disciples with the news: \u201cI have seen the Lord!\u201d And she told them that he had said these things to her.<\/p> <h3>Jesus Appears to His Disciples<\/h3><p><sup class=\"versenum\">19\u00a0<\/sup>On the evening of that first day of the week, when the disciples were together, with the doors locked for fear of the Jewish leaders, Jesus came and stood among them and said, \u201cPeace be with you!\u201d <sup class=\"versenum\">20\u00a0<\/sup>After he said this, he showed them his hands and side. The disciples were overjoyed when they saw the Lord.<\/p> <p><sup class=\"versenum\">21\u00a0<\/sup>Again Jesus said, \u201cPeace be with you! As the Father has sent me, I am sending you.\u201d <sup class=\"versenum\">22\u00a0<\/sup>And with that he breathed on them and said, \u201cReceive the Holy Spirit. <sup class=\"versenum\">23\u00a0<\/sup>If you forgive anyone\u2019s sins, their sins are forgiven; if you do not forgive them, they are not forgiven.\u201d <\/p> <h3>Jesus Appears to Thomas<\/h3><p><sup class=\"versenum\">24\u00a0<\/sup>Now Thomas (also known as Didymus), one of the Twelve, was not with the disciples when Jesus came. <sup class=\"versenum\">25\u00a0<\/sup>So the other disciples told him, \u201cWe have seen the Lord!\u201d<\/p><p>But he said to them, \u201cUnless I see the nail marks in his hands and put my finger where the nails were, and put my hand into his side, I will not believe.\u201d <\/p> <p><sup class=\"versenum\">26\u00a0<\/sup>A week later his disciples were in the house again, and Thomas was with them. Though the doors were locked, Jesus came and stood among them and said, \u201cPeace be with you!\u201d <sup class=\"versenum\">27\u00a0<\/sup>Then he said to Thomas, \u201cPut your finger here; see my hands. Reach out your hand and put it into my side. Stop doubting and believe.\u201d <\/p> <p><sup class=\"versenum\">28\u00a0<\/sup>Thomas said to him, \u201cMy Lord and my God!\u201d<\/p> <p><sup class=\"versenum\">29\u00a0<\/sup>Then Jesus told him, \u201cBecause you have seen me, you have believed; blessed are those who have not seen and yet have believed.\u201d <\/p> <h3>The Purpose of John\u2019s Gospel<\/h3><p><sup class=\"versenum\">30\u00a0<\/sup>Jesus performed many other signs in the presence of his disciples, which are not recorded in this book. <sup class=\"versenum\">31\u00a0<\/sup>But these are written that you may believe that Jesus is the Messiah, the Son of God, and that by believing you may have life in his name. <\/p>",
            "old_testament_text": "<h3>David Hears of Saul\u2019s Death <\/h3><p class=\"chapter-1\"><strong>1\u00a0<\/strong>After the death of Saul, David returned from striking down the Amalekites and stayed in Ziklag two days. <sup class=\"versenum\">2\u00a0<\/sup>On the third day a man arrived from Saul\u2019s camp with his clothes torn and dust on his head. When he came to David, he fell to the ground to pay him honor. <\/p> <p><sup class=\"versenum\">3\u00a0<\/sup>\u201cWhere have you come from?\u201d David asked him.<\/p><p>He answered, \u201cI have escaped from the Israelite camp.\u201d<\/p> <p><sup class=\"versenum\">4\u00a0<\/sup>\u201cWhat happened?\u201d David asked. \u201cTell me.\u201d<\/p><p>\u201cThe men fled from the battle,\u201d he replied. \u201cMany of them fell and died. And Saul and his son Jonathan are dead.\u201d<\/p> <p><sup class=\"versenum\">5\u00a0<\/sup>Then David said to the young man who brought him the report, \u201cHow do you know that Saul and his son Jonathan are dead?\u201d<\/p> <p><sup class=\"versenum\">6\u00a0<\/sup>\u201cI happened to be on Mount Gilboa, \u201d the young man said, \u201cand there was Saul, leaning on his spear, with the chariots and their drivers in hot pursuit. <sup class=\"versenum\">7\u00a0<\/sup>When he turned around and saw me, he called out to me, and I said, \u2018What can I do?\u2019<\/p> <p><sup class=\"versenum\">8\u00a0<\/sup>\u201cHe asked me, \u2018Who are you?\u2019<\/p><p>\u201c\u2018An Amalekite, \u2019 I answered.<\/p> <p><sup class=\"versenum\">9\u00a0<\/sup>\u201cThen he said to me, \u2018Stand here by me and kill me! I\u2019m in the throes of death, but I\u2019m still alive.\u2019<\/p> <p><sup class=\"versenum\">10\u00a0<\/sup>\u201cSo I stood beside him and killed him, because I knew that after he had fallen he could not survive. And I took the crown that was on his head and the band on his arm and have brought them here to my lord.\u201d<\/p> <p><sup class=\"versenum\">11\u00a0<\/sup>Then David and all the men with him took hold of their clothes and tore them. <sup class=\"versenum\">12\u00a0<\/sup>They mourned and wept and fasted till evening for Saul and his son Jonathan, and for the army of the Lord and for the nation of Israel, because they had fallen by the sword.<\/p> <p><sup class=\"versenum\">13\u00a0<\/sup>David said to the young man who brought him the report, \u201cWhere are you from?\u201d<\/p><p>\u201cI am the son of a foreigner, an Amalekite, \u201d he answered.<\/p> <p><sup class=\"versenum\">14\u00a0<\/sup>David asked him, \u201cWhy weren\u2019t you afraid to lift your hand to destroy the Lord\u2019s anointed? \u201d<\/p> <p><sup class=\"versenum\">15\u00a0<\/sup>Then David called one of his men and said, \u201cGo, strike him down!\u201d So he struck him down, and he died. <sup class=\"versenum\">16\u00a0<\/sup>For David had said to him, \u201cYour blood be on your own head. Your own mouth testified against you when you said, \u2018I killed the Lord\u2019s anointed.\u2019\u201d<\/p> <h3>David\u2019s Lament for Saul and Jonathan<\/h3><p><sup class=\"versenum\">17\u00a0<\/sup>David took up this lament concerning Saul and his son Jonathan, <sup class=\"versenum\">18\u00a0<\/sup>and he ordered that the people of Judah be taught this lament of the bow (it is written in the Book of Jashar): <\/p> <p class=\"line\"><sup class=\"versenum\">19\u00a0<\/sup>\u201cA gazelle lies slain on your heights, Israel.<br>\u00a0\u00a0\u00a0\u00a0How the mighty have fallen! <\/p> <p class=\"line\"><sup class=\"versenum\">20\u00a0<\/sup>\u201cTell it not in Gath, <br>\u00a0\u00a0\u00a0\u00a0proclaim it not in the streets of Ashkelon, <br>lest the daughters of the Philistines be glad,<br>\u00a0\u00a0\u00a0\u00a0lest the daughters of the uncircumcised rejoice. <\/p> <p class=\"line\"><sup class=\"versenum\">21\u00a0<\/sup>\u201cMountains of Gilboa, <br>\u00a0\u00a0\u00a0\u00a0may you have neither dew nor rain, <br>\u00a0\u00a0\u00a0\u00a0may no showers fall on your terraced fields.<br>For there the shield of the mighty was despised,<br>\u00a0\u00a0\u00a0\u00a0the shield of Saul\u2014no longer rubbed with oil. <\/p> <p class=\"line\"><sup class=\"versenum\">22\u00a0<\/sup>\u201cFrom the blood of the slain,<br>\u00a0\u00a0\u00a0\u00a0from the flesh of the mighty,<br>the bow of Jonathan did not turn back,<br>\u00a0\u00a0\u00a0\u00a0the sword of Saul did not return unsatisfied.<br><sup class=\"versenum\">23\u00a0<\/sup>Saul and Jonathan\u2014<br>\u00a0\u00a0\u00a0\u00a0in life they were loved and admired,<br>\u00a0\u00a0\u00a0\u00a0and in death they were not parted.<br>They were swifter than eagles, <br>\u00a0\u00a0\u00a0\u00a0they were stronger than lions. <\/p> <p class=\"line\"><sup class=\"versenum\">24\u00a0<\/sup>\u201cDaughters of Israel,<br>\u00a0\u00a0\u00a0\u00a0weep for Saul,<br>who clothed you in scarlet and finery,<br>\u00a0\u00a0\u00a0\u00a0who adorned your garments with ornaments of gold. <\/p> <p class=\"line\"><sup class=\"versenum\">25\u00a0<\/sup>\u201cHow the mighty have fallen in battle!<br>\u00a0\u00a0\u00a0\u00a0Jonathan lies slain on your heights.<br><sup class=\"versenum\">26\u00a0<\/sup>I grieve for you, Jonathan my brother; <br>\u00a0\u00a0\u00a0\u00a0you were very dear to me.<br>Your love for me was wonderful, <br>\u00a0\u00a0\u00a0\u00a0more wonderful than that of women.<\/p> <p class=\"line\"><sup class=\"versenum\">27\u00a0<\/sup>\u201cHow the mighty have fallen!<br>\u00a0\u00a0\u00a0\u00a0The weapons of war have perished!\u201d <\/p> <h3>David Anointed King Over Judah<\/h3><p class=\"chapter-1\"><strong>2\u00a0<\/strong>In the course of time, David inquired of the Lord. \u201cShall I go up to one of the towns of Judah?\u201d he asked.<\/p><p>The Lord said, \u201cGo up.\u201d<\/p><p>David asked, \u201cWhere shall I go?\u201d<\/p><p>\u201cTo Hebron,\u201d the Lord answered.<\/p> <p><sup class=\"versenum\">2\u00a0<\/sup>So David went up there with his two wives, Ahinoam of Jezreel and Abigail, the widow of Nabal of Carmel. <sup class=\"versenum\">3\u00a0<\/sup>David also took the men who were with him, each with his family, and they settled in Hebron and its towns. <sup class=\"versenum\">4\u00a0<\/sup>Then the men of Judah came to Hebron, and there they anointed David king over the tribe of Judah.<\/p><p>When David was told that it was the men from Jabesh Gilead who had buried Saul, <sup class=\"versenum\">5\u00a0<\/sup>he sent messengers to them to say to them, \u201cThe Lord bless you for showing this kindness to Saul your master by burying him. <sup class=\"versenum\">6\u00a0<\/sup>May the Lord now show you kindness and faithfulness, and I too will show you the same favor because you have done this. <sup class=\"versenum\">7\u00a0<\/sup>Now then, be strong and brave, for Saul your master is dead, and the people of Judah have anointed me king over them.\u201d<\/p>",
            "language": "en"
          },
          "audio_path": null,
          "cid": 1269,
          "title": "Wow!",
          "introduction": "<p>Judah Smith is a delightful, young Pentecostal pastor from Seattle, Washington. He is one of the best communicators that I have ever heard &ndash; especially to young people. When listening to others, his favourite expression is &lsquo;Wow!&rsquo; For him it is an expression of respect, awe and reverence.<\/p>\r\n\r\n<p>There are many blessings to living in Western Europe in the twenty-first century. However, we live in a society in which respect, reverence and awe do not seem to be as valued as they once were.<\/p>\r\n\r\n<p>Each of the passages for today reflects on what these words mean and why they are important.<\/p>\r\n",
          "psalm_proverbs": "<h2>1. Respect<\/h2>\r\n\r\n<p>A culture of respect underlies the book of Proverbs. We see three examples in this passage:<\/p>\r\n\r\n<ul>\r\n\t<li>Respect for the Lord<br \/>\r\n\t&lsquo;An honest life shows <em>respect <\/em>for God&rsquo; (14:2, MSG). As we have seen, the word &lsquo;fear&rsquo; (NIV) is probably best understood as &lsquo;respect&rsquo;. Respect for the Lord is the starting point for respect in all our other relationships.<\/li>\r\n\t<li>Respect for the wise<br \/>\r\n\t&lsquo;Whoever walks with the wise grows wise&rsquo; (13:20). &lsquo;Wise speech evokes nothing but <em>respect<\/em>&rsquo; (14:3, MSG). Our society increasingly devalues the wisdom that comes with age. Wisdom often (though not always) comes through the experience of a long life. There is a huge amount of untapped wisdom in older people in our society.<\/li>\r\n\t<li>Respect in the home<br \/>\r\n\t&lsquo;A refusal to correct is a refusal to love; love your children by disciplining them&rsquo; (13:24, MSG). This teaching has sometimes been abused by an over-literal interpretation. What the book of Proverbs is encouraging is a culture of respect in the family &ndash; respect for parents and also respect for children, which involves loving discipline.<\/li>\r\n<\/ul>\r\n\r\n<p class=\"rteindent1\">As St Paul writes, &lsquo;Do not exasperate your children; instead, bring them up in the training and instruction of the Lord&rsquo; (Ephesians 6:4).<\/p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to gain wisdom as we spend time with those who are wise. Help us as a church community to model good parenting, combining love and discipline. Help us to live lives of uprightness in respect for the Lord.<\/p>\r\n<\/blockquote>\r\n",
          "new_testament": "<h2>2. Awe<\/h2>\r\n\r\n<p>Jesus really was raised from the dead. The tomb really was empty on Easter morning. Jesus&rsquo; followers really did meet him alive again. The resurrection did happen. The best historical explanation for the origin of Christianity is that it really is true. Jesus is alive today!<\/p>\r\n\r\n<p>John records four resurrection appearances of Jesus &ndash; the first three of which are in this passage. In these appearances we see not only some of the evidence, but also some of the results of the resurrection.<\/p>\r\n\r\n<ul>\r\n\t<li>Awe and amazement<br \/>\r\n\tIn the culture of the day, a woman&rsquo;s testimony would not have been considered as weighty as that of a man. If the disciples had been making this up, they would not have devised the first appearance as being to Mary Magdalene.<\/li>\r\n<\/ul>\r\n\r\n<p class=\"rteindent1\">This shows a huge amount about Jesus&rsquo; respect for women. By this act, and others during his life on earth, he laid the foundation for a revolution in the world&rsquo;s attitude to women. Sadly, it has taken 2,000 years and we are still not there yet.<\/p>\r\n\r\n<p class=\"rteindent1\">Jesus does not ask Mary what she is looking for. He asks, &lsquo;<em>Who <\/em>is it you are you looking for?&rsquo; (v.15). It is not enough to know the evidence of the facts of the resurrection. We need a personal encounter with the resurrected Jesus.<\/p>\r\n\r\n<p class=\"rteindent1\">The respect goes both ways. In Mary&rsquo;s case it is one of awe and amazement. As she realised it was Jesus, she cried out in Aramaic, &lsquo;&ldquo;Rabboni!&rdquo; (which means Teacher)&rsquo; (v.16), and rushed off to tell the disciples, &lsquo;I have seen the Lord!&rsquo; (v.18).<\/p>\r\n\r\n<p class=\"rteindent1\">The great theologian, C. H. Dodd, wrote of Jesus&rsquo; appearance to Mary that it &lsquo;has something indefinably firsthand about it. It stands in any case alone. There is nothing quite like it in the Gospels. Is there anything quite like it in all ancient literature?&rsquo;<\/p>\r\n\r\n<ul>\r\n\t<li>Joy and peace<br \/>\r\n\tThe world is desperately searching for happiness and peace of mind. The supreme source of joy and peace is a relationship with Jesus.<\/li>\r\n<\/ul>\r\n\r\n<p class=\"rteindent1\">Jesus&rsquo; appearance to the disciples brought them overwhelming joy: &lsquo;The disciples were <em>overjoyed <\/em>when they saw the Lord&rsquo; (v.20). Three times he says to them, &lsquo;<em>Peace <\/em>be with you!&rsquo; (vv.19,21,26).<\/p>\r\n\r\n<p class=\"rteindent1\">Faith in Jesus brings joy and peace to all who believe. Jesus said to Thomas, &lsquo;Blessed and <em>happy <\/em>and to be envied are those who have never seen me and yet have believed and adhered to and trusted and relied on me&rsquo; (v.29, AMP).<\/p>\r\n\r\n<ul>\r\n\t<li>Purpose and power<br \/>\r\n\tJesus gives them a new sense of purpose: &lsquo;As the Father has sent me, I am sending you&rsquo; (v.21). The resurrection is the message of hope for the world. If this life were all there was, it would ultimately be meaningless and purposeless. But Jesus Christ is risen from the dead. There is life beyond the grave. This gives your life on earth a whole new meaning and purpose. You are sent out by Jesus to proclaim this message to the world.<\/li>\r\n<\/ul>\r\n\r\n<p class=\"rteindent1\">Finally, he also gave them power. He &lsquo;breathed on them and said, &ldquo;Receive the Holy Spirit. If you forgive the sins of anyone, their sins are forgiven; if you do not forgive them, they are not forgiven&rdquo;&rsquo; (vv.22&ndash;23). The Holy Spirit provides the strength and ability for you to forgive.<\/p>\r\n\r\n<p class=\"rteindent1\">The same power that raised Jesus from the dead is available to you. He gives you the power of his Holy Spirit and the power of his word to declare the message of God&rsquo;s forgiveness to human beings. This is the message that brings eternal life.<\/p>\r\n\r\n<ul>\r\n\t<li>Respect and reverence<br \/>\r\n\tThomas was a cynic; sceptical and full of doubt. I think I would probably have had the same response as him when he said, &lsquo;Unless I see the nail marks in his hands and put my finger where the nails were, and put my hand into his side, I will not believe it&rsquo; (v.25).<\/li>\r\n<\/ul>\r\n\r\n<p class=\"rteindent1\">He must have felt so stupid when Jesus appeared to him and said, &lsquo;Put your finger here; see my hands. Reach out your hand and put it into my side. Stop doubting and believe&rsquo; (v.27).<\/p>\r\n\r\n<p class=\"rteindent1\">Do not feel guilty about having doubts. Like Thomas, be honest about your doubts and bring them to Jesus. When Jesus answered his doubts, Thomas&rsquo; response was the pinnacle of respect, reverence and awe. He said, &lsquo;My Lord and my God!&rsquo; (v.28). From a place of having doubted, Thomas makes perhaps the strongest statement of Jesus&rsquo; divinity in all of the Gospels. He is the first person to look at Jesus and call him &lsquo;God&rsquo;. He said, in effect, &lsquo;Wow!&rsquo;<\/p>\r\n\r\n<p class=\"rteindent1\">Jesus went on to tell him that belief leads to blessing (v.29). In fact, it leads to life. Belief and life go hand in hand in John&rsquo;s Gospel (v.31), because, if you believe in Jesus you have life. This is <em>real <\/em>life of high quality, an abundant life (10:10) that goes on forever (3:16).<\/p>\r\n\r\n<p class=\"rteindent1\">John&rsquo;s whole reason for writing his Gospel was so that &lsquo;you may believe that Jesus is the Christ, the Son of God, and that by believing you may have life in his name&rsquo; (20:31). As Tom Wright puts it, &lsquo;Resurrection is the ground of Christian hope for life <em>before death<\/em>, as well as beyond it.&rsquo;<\/p>\r\n\r\n<blockquote>\r\n<p>Jesus, my Lord and my God, today I worship you with awe and reverence. Thank you for giving me joy and peace, purpose in life and the power of the Holy Spirit to live within me.<\/p>\r\n<\/blockquote>\r\n",
          "old_testament": "<h2>3. Reverence<\/h2>\r\n\r\n<p>David&rsquo;s attitude to Saul is a wonderful example of how to respond to those who try to do you harm. David did not seek revenge. He was not bitter. He treated Saul with the utmost respect. After all, God had used Saul greatly in the past. The fact that Saul had gone off the rails did not erase David&rsquo;s respect.<\/p>\r\n\r\n<p>His attitude to Saul was quite extraordinary. He said to the Amalekite who claimed to have finished off Saul, &lsquo;Why were you not afraid to lift your hand to destroy the Lord&rsquo;s anointed?&rsquo; (v.14). In the light of 1 Samuel 31, the Amalekite may well have been trying to benefit from what would have been a perversion of the facts. He may have been a human vulture, who took the royal insignia from Saul to gain favour with David. In any event, it did him no good because of David&rsquo;s reverence for Saul.<\/p>\r\n\r\n<p>David grieved over the death of his great friend Jonathan and over Saul (2 Samuel 1:19&ndash;27). Grief is a natural, necessary and healthy response to the death of those we love.<\/p>\r\n\r\n<p>Supremely, David reverenced God. He &lsquo;enquired of the Lord&rsquo; (2:1). He asked, &lsquo;Shall I go up to one of the towns of Judah?&rsquo; The Lord answered, &lsquo;Go up.&rsquo; He then asked, &lsquo;Where shall I go?&rsquo; The Lord answered, &lsquo;To Hebron.&rsquo; David obeyed and was anointed king over the house of Judah.<\/p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to have the same love that David had for all those you have anointed in leadership roles, whether they support us or whether they don&rsquo;t. Help us never to take revenge but always to treat people with respect. Help us, most of all, to live a life of reverence and respect and obedience to you.<\/p>\r\n<\/blockquote>\r\n",
          "pippa_adds": "<p><strong>John 20:10<\/strong><\/p>\r\n\r\n<p>I am so interested that, of all the people he could have appeared to, Jesus chose to appear first to Mary Magdalene. He did not go to his senior disciple (or even his mother!), but rather to a woman whom no one in the world rated as important.<\/p>\r\n",
          "reference": null,
          "updated": "2015-06-01 09:04:45",
          "show_twitter": false,
          "cartoon_key": "",
          "deleted": false,
          "language": "en",
          "realday": "2015-06-01",
          "status": "approved"
        }
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Attributes
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + realday - The real day number.
    + teaser - the short teaser text for each commentary.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)

        [
        {
            "cid": 1269,
            "did": 152,
            "title": "Wow!",
            "realday": 152,
            "teaser": "Judah Smith is a delightful, young Pentecostal pastor from Seattle, Washington. He is one of the best communicators that I have ever heard &ndash; especially to young people. When listening to others, his favourite expression is &lsquo;Wow!&rsquo; For him it is an expression of respect, awe and reverence."
        },
        {
            "cid": 1268,
            "did": 151,
            "title": "You Have the Energy of God",
            "realday": 151,
            "teaser": "The world is running out of energy. It is a question of supply. How do we ensure sufficient energy supplies to sustain life? Where will we find this energy? Our own resources (oil, coal, gas, etc) are running out. We are searching anxiously for power &lsquo;from above&rsquo; &ndash; trying to harness the almost limitless power of the sun."
        },
        {
            "cid": 1267,
            "did": 150,
            "title": "Your Trial Will Become Your Triumph",
            "realday": 150,
            "teaser": "&lsquo;Houston, we&rsquo;ve had a problem,&rsquo; were the words of Jim Lovell on the evening of 13 April 1970. Nearly fifty-six hours into the mission to the moon, an explosion aboard the spacecraft plunged the crew into a fight for their survival. Within less than a minute there was a cascade of systems failures throughout the spacecraft. &lsquo;It was all at one time &ndash; a monstrous failure,&rsquo; said NASA&rsquo;s flight controller."
        }
        ]

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Attributes
    + Include Commentary

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)

        [
        day: {
            did: 311,
            day: 311,
            psalm: "Psalm 120:1-7",
            proverbs: null,
            new_testament: "Hebrews 8:1-13",
            old_testament: "Ezekiel 13:1-15:8",
            psalm_text: "<h3>Psalm 120</h3><h4>A song of ascents.</h4><p class="line"><sup class="versenum">1 </sup>I call on the Lord in my distress, <br>    and he answers me.<br><sup class="versenum">2 </sup>Save me, Lord,<br>    from lying lips <br>    and from deceitful tongues. </p> <p class="line"><sup class="versenum">3 </sup>What will he do to you,<br>    and what more besides,<br>    you deceitful tongue?<br><sup class="versenum">4 </sup>He will punish you with a warrior’s sharp arrows, <br>    with burning coals of the broom bush.</p> <p class="line"><sup class="versenum">5 </sup>Woe to me that I dwell in Meshek,<br>    that I live among the tents of Kedar! <br><sup class="versenum">6 </sup>Too long have I lived<br>    among those who hate peace.<br><sup class="versenum">7 </sup>I am for peace;<br>    but when I speak, they are for war.</p>",
            proverbs_text: "",
            new_testament_text: "<h3>The High Priest of a New Covenant</h3><p class="chapter-1"><strong>8 </strong>Now the main point of what we are saying is this: We do have such a high priest, who sat down at the right hand of the throne of the Majesty in heaven, <sup class="versenum">2 </sup>and who serves in the sanctuary, the true tabernacle set up by the Lord, not by a mere human being.</p> <p><sup class="versenum">3 </sup>Every high priest is appointed to offer both gifts and sacrifices, and so it was necessary for this one also to have something to offer. <sup class="versenum">4 </sup>If he were on earth, he would not be a priest, for there are already priests who offer the gifts prescribed by the law. <sup class="versenum">5 </sup>They serve at a sanctuary that is a copy and shadow of what is in heaven. This is why Moses was warned when he was about to build the tabernacle: “See to it that you make everything according to the pattern shown you on the mountain.” <sup class="versenum">6 </sup>But in fact the ministry Jesus has received is as superior to theirs as the covenant of which he is mediator is superior to the old one, since the new covenant is established on better promises.</p> <p><sup class="versenum">7 </sup>For if there had been nothing wrong with that first covenant, no place would have been sought for another. <sup class="versenum">8 </sup>But God found fault with the people and said:</p><p class="line">“The days are coming, declares the Lord,<br>    when I will make a new covenant <br>with the people of Israel<br>    and with the people of Judah.<br><sup class="versenum">9 </sup>It will not be like the covenant<br>    I made with their ancestors <br>when I took them by the hand<br>    to lead them out of Egypt,<br>because they did not remain faithful to my covenant,<br>    and I turned away from them,<br>declares the Lord.<br><sup class="versenum">10 </sup>This is the covenant I will establish with the people of Israel<br>    after that time, declares the Lord.<br>I will put my laws in their minds<br>    and write them on their hearts. <br>I will be their God,<br>    and they will be my people. <br><sup class="versenum">11 </sup>No longer will they teach their neighbor,<br>    or say to one another, ‘Know the Lord,’<br>because they will all know me, <br>    from the least of them to the greatest.<br><sup class="versenum">12 </sup>For I will forgive their wickedness<br>    and will remember their sins no more. ”</p> <p class="top-05"><sup class="versenum">13 </sup>By calling this covenant “new,” he has made the first one obsolete; and what is obsolete and outdated will soon disappear.</p>",
            old_testament_text: "<h3>False Prophets Condemned</h3><p class="chapter-2"><strong>13 </strong>The word of the Lord came to me: <sup class="versenum">2 </sup>“Son of man, prophesy against the prophets of Israel who are now prophesying. Say to those who prophesy out of their own imagination: ‘Hear the word of the Lord! <sup class="versenum">3 </sup>This is what the Sovereign Lord says: Woe to the foolish prophets who follow their own spirit and have seen nothing! <sup class="versenum">4 </sup>Your prophets, Israel, are like jackals among ruins. <sup class="versenum">5 </sup>You have not gone up to the breaches in the wall to repair it for the people of Israel so that it will stand firm in the battle on the day of the Lord. <sup class="versenum">6 </sup>Their visions are false and their divinations a lie. Even though the Lord has not sent them, they say, “The Lord declares,” and expect him to fulfill their words. <sup class="versenum">7 </sup>Have you not seen false visions and uttered lying divinations when you say, “The Lord declares,” though I have not spoken?</p> <p><sup class="versenum">8 </sup>“‘Therefore this is what the Sovereign Lord says: Because of your false words and lying visions, I am against you, declares the Sovereign Lord. <sup class="versenum">9 </sup>My hand will be against the prophets who see false visions and utter lying divinations. They will not belong to the council of my people or be listed in the records of Israel, nor will they enter the land of Israel. Then you will know that I am the Sovereign Lord. </p> <p><sup class="versenum">10 </sup>“‘Because they lead my people astray, saying, “Peace,” when there is no peace, and because, when a flimsy wall is built, they cover it with whitewash, <sup class="versenum">11 </sup>therefore tell those who cover it with whitewash that it is going to fall. Rain will come in torrents, and I will send hailstones hurtling down, and violent winds will burst forth. <sup class="versenum">12 </sup>When the wall collapses, will people not ask you, “Where is the whitewash you covered it with?”</p> <p><sup class="versenum">13 </sup>“‘Therefore this is what the Sovereign Lord says: In my wrath I will unleash a violent wind, and in my anger hailstones and torrents of rain will fall with destructive fury. <sup class="versenum">14 </sup>I will tear down the wall you have covered with whitewash and will level it to the ground so that its foundation will be laid bare. When it falls, you will be destroyed in it; and you will know that I am the Lord. <sup class="versenum">15 </sup>So I will pour out my wrath against the wall and against those who covered it with whitewash. I will say to you, “The wall is gone and so are those who whitewashed it, <sup class="versenum">16 </sup>those prophets of Israel who prophesied to Jerusalem and saw visions of peace for her when there was no peace, declares the Sovereign Lord. ”’</p> <p><sup class="versenum">17 </sup>“Now, son of man, set your face against the daughters of your people who prophesy out of their own imagination. Prophesy against them <sup class="versenum">18 </sup>and say, ‘This is what the Sovereign Lord says: Woe to the women who sew magic charms on all their wrists and make veils of various lengths for their heads in order to ensnare people. Will you ensnare the lives of my people but preserve your own? <sup class="versenum">19 </sup>You have profaned me among my people for a few handfuls of barley and scraps of bread. By lying to my people, who listen to lies, you have killed those who should not have died and have spared those who should not live. </p> <p><sup class="versenum">20 </sup>“‘Therefore this is what the Sovereign Lord says: I am against your magic charms with which you ensnare people like birds and I will tear them from your arms; I will set free the people that you ensnare like birds. <sup class="versenum">21 </sup>I will tear off your veils and save my people from your hands, and they will no longer fall prey to your power. Then you will know that I am the Lord. <sup class="versenum">22 </sup>Because you disheartened the righteous with your lies, when I had brought them no grief, and because you encouraged the wicked not to turn from their evil ways and so save their lives, <sup class="versenum">23 </sup>therefore you will no longer see false visions or practice divination. I will save my people from your hands. And then you will know that I am the Lord. ’”</p> <h3>Idolaters Condemned</h3><p class="chapter-2"><strong>14 </strong>Some of the elders of Israel came to me and sat down in front of me. <sup class="versenum">2 </sup>Then the word of the Lord came to me: <sup class="versenum">3 </sup>“Son of man, these men have set up idols in their hearts and put wicked stumbling blocks before their faces. Should I let them inquire of me at all? <sup class="versenum">4 </sup>Therefore speak to them and tell them, ‘This is what the Sovereign Lord says: When any of the Israelites set up idols in their hearts and put a wicked stumbling block before their faces and then go to a prophet, I the Lord will answer them myself in keeping with their great idolatry. <sup class="versenum">5 </sup>I will do this to recapture the hearts of the people of Israel, who have all deserted me for their idols.’ </p> <p><sup class="versenum">6 </sup>“Therefore say to the people of Israel, ‘This is what the Sovereign Lord says: Repent! Turn from your idols and renounce all your detestable practices! </p> <p><sup class="versenum">7 </sup>“‘When any of the Israelites or any foreigner residing in Israel separate themselves from me and set up idols in their hearts and put a wicked stumbling block before their faces and then go to a prophet to inquire of me, I the Lord will answer them myself. <sup class="versenum">8 </sup>I will set my face against them and make them an example and a byword. I will remove them from my people. Then you will know that I am the Lord. </p> <p><sup class="versenum">9 </sup>“‘And if the prophet is enticed to utter a prophecy, I the Lord have enticed that prophet, and I will stretch out my hand against him and destroy him from among my people Israel. <sup class="versenum">10 </sup>They will bear their guilt—the prophet will be as guilty as the one who consults him. <sup class="versenum">11 </sup>Then the people of Israel will no longer stray from me, nor will they defile themselves anymore with all their sins. They will be my people, and I will be their God, declares the Sovereign Lord. ’”</p> <h3>Jerusalem’s Judgment Inescapable</h3><p><sup class="versenum">12 </sup>The word of the Lord came to me: <sup class="versenum">13 </sup>“Son of man, if a country sins against me by being unfaithful and I stretch out my hand against it to cut off its food supply and send famine upon it and kill its people and their animals, <sup class="versenum">14 </sup>even if these three men—Noah, Daniel and Job —were in it, they could save only themselves by their righteousness, declares the Sovereign Lord.</p> <p><sup class="versenum">15 </sup>“Or if I send wild beasts through that country and they leave it childless and it becomes desolate so that no one can pass through it because of the beasts, <sup class="versenum">16 </sup>as surely as I live, declares the Sovereign Lord, even if these three men were in it, they could not save their own sons or daughters. They alone would be saved, but the land would be desolate. </p> <p><sup class="versenum">17 </sup>“Or if I bring a sword against that country and say, ‘Let the sword pass throughout the land,’ and I kill its people and their animals, <sup class="versenum">18 </sup>as surely as I live, declares the Sovereign Lord, even if these three men were in it, they could not save their own sons or daughters. They alone would be saved.</p> <p><sup class="versenum">19 </sup>“Or if I send a plague into that land and pour out my wrath on it through bloodshed, killing its people and their animals, <sup class="versenum">20 </sup>as surely as I live, declares the Sovereign Lord, even if Noah, Daniel and Job were in it, they could save neither son nor daughter. They would save only themselves by their righteousness. </p> <p><sup class="versenum">21 </sup>“For this is what the Sovereign Lord says: How much worse will it be when I send against Jerusalem my four dreadful judgments —sword and famine and wild beasts and plague —to kill its men and their animals! <sup class="versenum">22 </sup>Yet there will be some survivors —sons and daughters who will be brought out of it. They will come to you, and when you see their conduct and their actions, you will be consoled regarding the disaster I have brought on Jerusalem—every disaster I have brought on it. <sup class="versenum">23 </sup>You will be consoled when you see their conduct and their actions, for you will know that I have done nothing in it without cause, declares the Sovereign Lord. ”</p> <h3>Jerusalem as a Useless Vine</h3><p class="chapter-2"><strong>15 </strong>The word of the Lord came to me: <sup class="versenum">2 </sup>“Son of man, how is the wood of a vine different from that of a branch from any of the trees in the forest? <sup class="versenum">3 </sup>Is wood ever taken from it to make anything useful? Do they make pegs from it to hang things on? <sup class="versenum">4 </sup>And after it is thrown on the fire as fuel and the fire burns both ends and chars the middle, is it then useful for anything? <sup class="versenum">5 </sup>If it was not useful for anything when it was whole, how much less can it be made into something useful when the fire has burned it and it is charred?</p> <p><sup class="versenum">6 </sup>“Therefore this is what the Sovereign Lord says: As I have given the wood of the vine among the trees of the forest as fuel for the fire, so will I treat the people living in Jerusalem. <sup class="versenum">7 </sup>I will set my face against them. Although they have come out of the fire , the fire will yet consume them. And when I set my face against them, you will know that I am the Lord. <sup class="versenum">8 </sup>I will make the land desolate because they have been unfaithful, declares the Sovereign Lord.”</p>",
            language: "en"
            },
        teaser: "<p>I remember reading an article in <em>The Big Issue </em>(the magazine sold by, and in aid of, the homeless) called &lsquo;Single Lives&rsquo;. It pointed out that most people&rsquo;s image of loneliness in London is of a frail old lady stuck on the 24th floor of a block of flats. In reality, it could equally be a young, fashionably dressed guy trying desperately to make conversation with a girl standing next to him in a crowded bar. Being surrounded by so many people only compounds the feeling of isolation.</p> <p>Mother Teresa said, &lsquo;Loneliness and the feeling of being uncared for and unwanted are the greatest poverty.&rsquo; Loneliness is one of the greatest problems facing humanity today.</p> <p>&lsquo;The solitary human being is a contradiction in terms,&rsquo; writes Desmond Tutu. He continues, &lsquo;We are made for complementarity. We are created for a delicate network of relationships, of interdependence with our fellow human beings... We belong in one family &ndash; God&rsquo;s family, the human family... the greatest good is communal harmony.&rsquo;</p> <p>God does not intend for you to be lonely and isolated. Loneliness has been described as &lsquo;a homesickness for God&rsquo;. God created you for community &ndash; calling you into relationship with him and with other human beings.</p> ",
        audio_path: "https://dvo6z87ohhlk6.cloudfront.net/audio/BIOY_Day_311.mp3",
        cid: 1429,
        title: "The Answer to Loneliness",
        introduction: "<p>I remember reading an article in <em>The Big Issue </em>(the magazine sold by, and in aid of, the homeless) called &lsquo;Single Lives&rsquo;. It pointed out that most people&rsquo;s image of loneliness in London is of a frail old lady stuck on the 24th floor of a block of flats. In reality, it could equally be a young, fashionably dressed guy trying desperately to make conversation with a girl standing next to him in a crowded bar. Being surrounded by so many people only compounds the feeling of isolation.</p> <p>Mother Teresa said, &lsquo;Loneliness and the feeling of being uncared for and unwanted are the greatest poverty.&rsquo; Loneliness is one of the greatest problems facing humanity today.</p> <p>&lsquo;The solitary human being is a contradiction in terms,&rsquo; writes Desmond Tutu. He continues, &lsquo;We are made for complementarity. We are created for a delicate network of relationships, of interdependence with our fellow human beings... We belong in one family &ndash; God&rsquo;s family, the human family... the greatest good is communal harmony.&rsquo;</p> <p>God does not intend for you to be lonely and isolated. Loneliness has been described as &lsquo;a homesickness for God&rsquo;. God created you for community &ndash; calling you into relationship with him and with other human beings.</p> ",
        psalm_proverbs: "<h2>1. A peaceful community</h2> <p>We live in a world full of aggression, division and broken relationships.</p> <p>One of the main reasons for loneliness is &lsquo;quarrelling&rsquo; (v.6, MSG), which leads to the breakdown of relationships. We see this wherever we look &ndash; broken marriages, family bust-ups, fall-outs between friends, work colleagues and neighbours.</p> <p>Adam and Eve&rsquo;s friendship with God was broken. This led to a separation between Adam and Eve themselves. Cain and Abel quarrelled, and the rest, as they say, is history.</p> <p>The psalmist is feeling isolated as though living in a foreign land (v.5). He is surrounded by lying lips and deceitful tongues (v.2). The people he lives among hate peace (v.6) and are for war (v.7). He feels doomed to live his whole life among &lsquo;quarrelling neighbours&rsquo; (v.6, MSG).</p> <p>In his distress he calls out to the Lord to save him and the Lord answers him (v.1). He describes himself in contrast to those around him as a man of peace (v.7). This is the characteristic of the people of God: Jesus said, &lsquo;Blessed are the peacemakers, for they will be called children of God&rsquo; (Matthew 5:9).</p> <blockquote> <p>Lord, help me to avoid unnecessary quarrelling and to be a peacemaker in my family, workplace and community.</p> </blockquote> ",
        new_testament: "<h2>2. A &lsquo;new&rsquo; community</h2> <p>&lsquo;The local church is the hope for the world,&rsquo; writes Bill Hybels. The church in the New Testament is described as &lsquo;the people of God&rsquo;. The people of God gather in local churches all over the world. The writer of Hebrews quotes the book of Jeremiah saying, &lsquo;I will be their God, and they will be<em> my people</em>&rsquo; (v.10). No longer isolated and alone, we are part of the most amazing community.</p> <p>In the Old Testament, God made a covenant with his people. However, the people did not &lsquo;keep their part of the bargain&rsquo; (v.9, MSG). God promised that one day he would make a new covenant, whereby he would have a new relationship with his people: &lsquo;I will be their God, and they will be <em>my people</em>&rsquo; (v.10).</p> <p>The people of God are far better off now than they were under the old covenant. The writer goes on to say, &lsquo;The ministry Jesus has received is as <em>superior </em>to theirs as the covenant of which he is mediator is <em>superior </em>to the old one, and it is founded on <em>better promises</em>&rsquo; (v.6).</p> <p>There was a problem with the old covenant, for &lsquo;if there had been nothing wrong with that first covenant, no place would have been sought for another&rsquo; (v.7). The problem with the old covenant was that the people were unable to keep the law. They &lsquo;did not remain faithful&rsquo; (v.9).</p> <p>God promised a new covenant that would be superior to the old one and founded on better promises. The writer goes back to the book of Jeremiah, and quotes 31:31&ndash;34.</p> <p>What were these promises? They are fourfold:</p> <ul> <li>New heart<br /> God promises to implant his laws in your heart. This does not mean simply committing the law to memory (as per Deuteronomy 6:6&ndash;9). It means having a new heart, &lsquo;I will put my laws in their minds and write them on their hearts&rsquo; (Hebrews 8:10b).</li> <li>Firsthand knowledge<br /> He promises that the knowledge of God will be a matter of personal experience. &lsquo;No longer will they teach their neighbours, or say to one another, &ldquo;Know the Lord,&rdquo; because they will all know me&rsquo; (v.11). It is possible for all of us to know God in the way that Jeremiah knew God: &lsquo;They&rsquo;ll all get to know me firsthand&rsquo; (v.11, MSG).</li> <li>Universal scope<br /> &lsquo;They will <em>all </em>know me, from the least of them to the greatest&rsquo; (v.11b). This was a fulfilment of the promise in the Old Testament that the promise would no longer be confined to Israel and Judah but would extend to all nations (Isaiah 42:6; 49:6; 19:24).</li> <li>Total forgiveness<br /> &lsquo;For I will forgive their wickedness and will remember their sins no more&rsquo; (Hebrews 8:12). For the Hebrews, the word &lsquo;remembering&rsquo; meant more than mental effort; it carried with it the sense of doing something to the advantage or disadvantage of the person who remembered. If your sins are not remembered, it means that God is determined to forgive and that the &lsquo;slate&rsquo; of your sins is &lsquo;forever wiped clean&rsquo; (v.12, MSG). All this is possible because Jesus offered his life for you (v.13).</li> </ul> <p>This new covenant is far superior and &lsquo;has made the first one obsolete; and what is obsolete and ageing will soon disappear&rsquo; (v.13)</p> <p>The new covenant is the basis of the new community into which God calls you. This new covenant is the answer to loneliness. The covenant is with God&rsquo;s people together, and not solely with each person as individuals. The promises are all in the plural. You have the immense privilege of belonging to the new community of God&rsquo;s people. You know God personally. Your sins are forgiven. The Holy Spirit has come to live within you and given you a new heart. You are never alone.</p> <blockquote> <p>Father, thank you that I can experience a personal relationship with you &ndash; that I can know you. Thank you that I am part of the most wonderful community of the people of God. Thank you that I am never alone.</p> </blockquote> ",
        old_testament: "<h2>3. A faithful community</h2> <p>The great idols of our age are money, sex and power. But an idol can be anything we worship by giving it more attention and treating it as more important than God in our lives. It could be our home, car or possessions but it could also be our work or ministry. When we make an idol out of any of these things, it takes us away from God (14:14).</p> <p>God is looking for people who are faithful to him. The problem under the old covenant was that &lsquo;they <em>did not remain faithful</em>&rsquo; (Hebrews 8:9). In this passage we see an example of what that meant. God spoke through Ezekiel about a country that &lsquo;sins against me by being <em>unfaithful</em>&hellip; they have been <em>unfaithful</em>, declares the Sovereign Lord&rsquo; (Ezekiel 14:13; 15:8).</p> <p>Ezekiel, the prophet, saw ahead to what we have read about in our New Testament passage for today. He foresaw a time when the people &lsquo;will not defile themselves any more with all their sins. They will be <em>my people</em>, and I will be their God, declares the Sovereign Lord&rsquo; (14:11).</p> <p>God&rsquo;s people were ensnared by lies. As we read in the psalm about &lsquo;lying lips&rsquo; (Psalm 120:2), so we read here about lying prophets &lsquo;who prophesy out of their own imagination&rsquo; (Ezekiel 13:2). &lsquo;Their visions are false and their divinations a lie&rsquo; (v.6). Using &lsquo;magic charms&rsquo; they &lsquo;ensnare people&rsquo; (v.18). They lie &lsquo;to my people, who listen to lies&rsquo; (v.19). They dishearten the righteous with their lies (v.22).</p> <p>How had they been unfaithful? The Lord said that they &lsquo;set up idols in their hearts and put wicked stumbling-blocks before their faces&rsquo; (14:3). Even in the Old Testament, the Lord was not concerned only about physical idols &ndash; but also about the idols in people&rsquo;s hearts. God&rsquo;s longing is for us to be a faithful vine bearing good fruit (chapter 15; see also Isaiah 5:1&ndash;7).</p> <p>You are called to be part of a faithful community of the people of God who know and love God. We are to welcome everyone &lsquo;from the least of them to the greatest&rsquo; (Hebrews 8:11). We are called to be a community where many lonely, isolated people find love and forgiveness &ndash; a community of the people of God&nbsp;&ndash; a people of peace who know and love the Lord and are faithful to him in every way. This is the answer to loneliness.</p> <blockquote> <p>Lord, help me to be faithful to you. Help us to be a loving, peaceful and faithful community where many isolated and lonely people come to know you and find, in the community of God&rsquo;s people, the answer to loneliness.</p> </blockquote> ",
        pippa_adds: "<p><span style="line-height: 1.6em;">The Old Testament passage (Ezekiel 14) is all about judgment. Thank goodness God made a &lsquo;new covenant&rsquo; (Hebrews 8:8&ndash;12)! Hope is restored.</span></p> ",
        reference: null,
        updated: "2015-10-31 17:03:14",
        show_twitter: false,
        cartoon_key: "",
        language: "en",
        realday: "2015-11-07",
        status: "approved"
        }
        ]

# Group CRUD Functions

**Authentication**

You will need to use a user's access token when making requests to any non-public endpoint.

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + introduction - Introduction block in HTML.
    + psalm_proverbs - The commentary for Psalms or Proverbs in HTML format.
    + new_testament - The commentary for New Testament in HTML format.
    + old_testament - The commentary for Old Testament in HTML format.
    + pippa_adds - The HTML text for Pippa Adds.
    + updated - Time the item was last updated in Unix Time format.
    + show_twitter - Display the twitter links (boolean).
    + cartoon_key - URL for cartoon.
    + deleted - Flag defining delete status (boolean)
    + scheduled_for - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year - The day number.
    + day - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            [
            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : "ready"
            }
            ]

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : null
            }

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : null
            }


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body


+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
[...]
