FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)

        {
                "commentaries_get_url": "\/bioy\/2\/public\/getCommentary\/{id}\/{lang}",
                "commentaries_list_url": "\/bioy\/2\/public\/listCommentaries\/{language}\/{startDate}\/{limit}\/{page}",
                "commentaries_full_url": "\/bioy\/2\/public\/listFullCommentariesByBatch\/{language}\/{startDate}\/{endDate}\/{limit}\/{page}"
        }


## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Attributes
  + Include Commentary

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary Teaser

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Attributes
    + Include Commentary

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)

        [
        day: {
            did: 311,
            day: 311,
            psalm: "Psalm 120:1-7",
            proverbs: null,
            new_testament: "Hebrews 8:1-13",
            old_testament: "Ezekiel 13:1-15:8",
            psalm_text: "<h3>Psalm 120</h3><h4>A song of ascents.</h4><p class="line"><sup class="versenum">1 </sup>I call on the Lord in my distress, <br>    and he answers me.<br><sup class="versenum">2 </sup>Save me, Lord,<br>    from lying lips <br>    and from deceitful tongues. </p> <p class="line"><sup class="versenum">3 </sup>What will he do to you,<br>    and what more besides,<br>    you deceitful tongue?<br><sup class="versenum">4 </sup>He will punish you with a warrior’s sharp arrows, <br>    with burning coals of the broom bush.</p> <p class="line"><sup class="versenum">5 </sup>Woe to me that I dwell in Meshek,<br>    that I live among the tents of Kedar! <br><sup class="versenum">6 </sup>Too long have I lived<br>    among those who hate peace.<br><sup class="versenum">7 </sup>I am for peace;<br>    but when I speak, they are for war.</p>",
            proverbs_text: "",
            new_testament_text: "<h3>The High Priest of a New Covenant</h3><p class="chapter-1"><strong>8 </strong>Now the main point of what we are saying is this: We do have such a high priest, who sat down at the right hand of the throne of the Majesty in heaven, <sup class="versenum">2 </sup>and who serves in the sanctuary, the true tabernacle set up by the Lord, not by a mere human being.</p> <p><sup class="versenum">3 </sup>Every high priest is appointed to offer both gifts and sacrifices, and so it was necessary for this one also to have something to offer. <sup class="versenum">4 </sup>If he were on earth, he would not be a priest, for there are already priests who offer the gifts prescribed by the law. <sup class="versenum">5 </sup>They serve at a sanctuary that is a copy and shadow of what is in heaven. This is why Moses was warned when he was about to build the tabernacle: “See to it that you make everything according to the pattern shown you on the mountain.” <sup class="versenum">6 </sup>But in fact the ministry Jesus has received is as superior to theirs as the covenant of which he is mediator is superior to the old one, since the new covenant is established on better promises.</p> <p><sup class="versenum">7 </sup>For if there had been nothing wrong with that first covenant, no place would have been sought for another. <sup class="versenum">8 </sup>But God found fault with the people and said:</p><p class="line">“The days are coming, declares the Lord,<br>    when I will make a new covenant <br>with the people of Israel<br>    and with the people of Judah.<br><sup class="versenum">9 </sup>It will not be like the covenant<br>    I made with their ancestors <br>when I took them by the hand<br>    to lead them out of Egypt,<br>because they did not remain faithful to my covenant,<br>    and I turned away from them,<br>declares the Lord.<br><sup class="versenum">10 </sup>This is the covenant I will establish with the people of Israel<br>    after that time, declares the Lord.<br>I will put my laws in their minds<br>    and write them on their hearts. <br>I will be their God,<br>    and they will be my people. <br><sup class="versenum">11 </sup>No longer will they teach their neighbor,<br>    or say to one another, ‘Know the Lord,’<br>because they will all know me, <br>    from the least of them to the greatest.<br><sup class="versenum">12 </sup>For I will forgive their wickedness<br>    and will remember their sins no more. ”</p> <p class="top-05"><sup class="versenum">13 </sup>By calling this covenant “new,” he has made the first one obsolete; and what is obsolete and outdated will soon disappear.</p>",
            old_testament_text: "<h3>False Prophets Condemned</h3><p class="chapter-2"><strong>13 </strong>The word of the Lord came to me: <sup class="versenum">2 </sup>“Son of man, prophesy against the prophets of Israel who are now prophesying. Say to those who prophesy out of their own imagination: ‘Hear the word of the Lord! <sup class="versenum">3 </sup>This is what the Sovereign Lord says: Woe to the foolish prophets who follow their own spirit and have seen nothing! <sup class="versenum">4 </sup>Your prophets, Israel, are like jackals among ruins. <sup class="versenum">5 </sup>You have not gone up to the breaches in the wall to repair it for the people of Israel so that it will stand firm in the battle on the day of the Lord. <sup class="versenum">6 </sup>Their visions are false and their divinations a lie. Even though the Lord has not sent them, they say, “The Lord declares,” and expect him to fulfill their words. <sup class="versenum">7 </sup>Have you not seen false visions and uttered lying divinations when you say, “The Lord declares,” though I have not spoken?</p> <p><sup class="versenum">8 </sup>“‘Therefore this is what the Sovereign Lord says: Because of your false words and lying visions, I am against you, declares the Sovereign Lord. <sup class="versenum">9 </sup>My hand will be against the prophets who see false visions and utter lying divinations. They will not belong to the council of my people or be listed in the records of Israel, nor will they enter the land of Israel. Then you will know that I am the Sovereign Lord. </p> <p><sup class="versenum">10 </sup>“‘Because they lead my people astray, saying, “Peace,” when there is no peace, and because, when a flimsy wall is built, they cover it with whitewash, <sup class="versenum">11 </sup>therefore tell those who cover it with whitewash that it is going to fall. Rain will come in torrents, and I will send hailstones hurtling down, and violent winds will burst forth. <sup class="versenum">12 </sup>When the wall collapses, will people not ask you, “Where is the whitewash you covered it with?”</p> <p><sup class="versenum">13 </sup>“‘Therefore this is what the Sovereign Lord says: In my wrath I will unleash a violent wind, and in my anger hailstones and torrents of rain will fall with destructive fury. <sup class="versenum">14 </sup>I will tear down the wall you have covered with whitewash and will level it to the ground so that its foundation will be laid bare. When it falls, you will be destroyed in it; and you will know that I am the Lord. <sup class="versenum">15 </sup>So I will pour out my wrath against the wall and against those who covered it with whitewash. I will say to you, “The wall is gone and so are those who whitewashed it, <sup class="versenum">16 </sup>those prophets of Israel who prophesied to Jerusalem and saw visions of peace for her when there was no peace, declares the Sovereign Lord. ”’</p> <p><sup class="versenum">17 </sup>“Now, son of man, set your face against the daughters of your people who prophesy out of their own imagination. Prophesy against them <sup class="versenum">18 </sup>and say, ‘This is what the Sovereign Lord says: Woe to the women who sew magic charms on all their wrists and make veils of various lengths for their heads in order to ensnare people. Will you ensnare the lives of my people but preserve your own? <sup class="versenum">19 </sup>You have profaned me among my people for a few handfuls of barley and scraps of bread. By lying to my people, who listen to lies, you have killed those who should not have died and have spared those who should not live. </p> <p><sup class="versenum">20 </sup>“‘Therefore this is what the Sovereign Lord says: I am against your magic charms with which you ensnare people like birds and I will tear them from your arms; I will set free the people that you ensnare like birds. <sup class="versenum">21 </sup>I will tear off your veils and save my people from your hands, and they will no longer fall prey to your power. Then you will know that I am the Lord. <sup class="versenum">22 </sup>Because you disheartened the righteous with your lies, when I had brought them no grief, and because you encouraged the wicked not to turn from their evil ways and so save their lives, <sup class="versenum">23 </sup>therefore you will no longer see false visions or practice divination. I will save my people from your hands. And then you will know that I am the Lord. ’”</p> <h3>Idolaters Condemned</h3><p class="chapter-2"><strong>14 </strong>Some of the elders of Israel came to me and sat down in front of me. <sup class="versenum">2 </sup>Then the word of the Lord came to me: <sup class="versenum">3 </sup>“Son of man, these men have set up idols in their hearts and put wicked stumbling blocks before their faces. Should I let them inquire of me at all? <sup class="versenum">4 </sup>Therefore speak to them and tell them, ‘This is what the Sovereign Lord says: When any of the Israelites set up idols in their hearts and put a wicked stumbling block before their faces and then go to a prophet, I the Lord will answer them myself in keeping with their great idolatry. <sup class="versenum">5 </sup>I will do this to recapture the hearts of the people of Israel, who have all deserted me for their idols.’ </p> <p><sup class="versenum">6 </sup>“Therefore say to the people of Israel, ‘This is what the Sovereign Lord says: Repent! Turn from your idols and renounce all your detestable practices! </p> <p><sup class="versenum">7 </sup>“‘When any of the Israelites or any foreigner residing in Israel separate themselves from me and set up idols in their hearts and put a wicked stumbling block before their faces and then go to a prophet to inquire of me, I the Lord will answer them myself. <sup class="versenum">8 </sup>I will set my face against them and make them an example and a byword. I will remove them from my people. Then you will know that I am the Lord. </p> <p><sup class="versenum">9 </sup>“‘And if the prophet is enticed to utter a prophecy, I the Lord have enticed that prophet, and I will stretch out my hand against him and destroy him from among my people Israel. <sup class="versenum">10 </sup>They will bear their guilt—the prophet will be as guilty as the one who consults him. <sup class="versenum">11 </sup>Then the people of Israel will no longer stray from me, nor will they defile themselves anymore with all their sins. They will be my people, and I will be their God, declares the Sovereign Lord. ’”</p> <h3>Jerusalem’s Judgment Inescapable</h3><p><sup class="versenum">12 </sup>The word of the Lord came to me: <sup class="versenum">13 </sup>“Son of man, if a country sins against me by being unfaithful and I stretch out my hand against it to cut off its food supply and send famine upon it and kill its people and their animals, <sup class="versenum">14 </sup>even if these three men—Noah, Daniel and Job —were in it, they could save only themselves by their righteousness, declares the Sovereign Lord.</p> <p><sup class="versenum">15 </sup>“Or if I send wild beasts through that country and they leave it childless and it becomes desolate so that no one can pass through it because of the beasts, <sup class="versenum">16 </sup>as surely as I live, declares the Sovereign Lord, even if these three men were in it, they could not save their own sons or daughters. They alone would be saved, but the land would be desolate. </p> <p><sup class="versenum">17 </sup>“Or if I bring a sword against that country and say, ‘Let the sword pass throughout the land,’ and I kill its people and their animals, <sup class="versenum">18 </sup>as surely as I live, declares the Sovereign Lord, even if these three men were in it, they could not save their own sons or daughters. They alone would be saved.</p> <p><sup class="versenum">19 </sup>“Or if I send a plague into that land and pour out my wrath on it through bloodshed, killing its people and their animals, <sup class="versenum">20 </sup>as surely as I live, declares the Sovereign Lord, even if Noah, Daniel and Job were in it, they could save neither son nor daughter. They would save only themselves by their righteousness. </p> <p><sup class="versenum">21 </sup>“For this is what the Sovereign Lord says: How much worse will it be when I send against Jerusalem my four dreadful judgments —sword and famine and wild beasts and plague —to kill its men and their animals! <sup class="versenum">22 </sup>Yet there will be some survivors —sons and daughters who will be brought out of it. They will come to you, and when you see their conduct and their actions, you will be consoled regarding the disaster I have brought on Jerusalem—every disaster I have brought on it. <sup class="versenum">23 </sup>You will be consoled when you see their conduct and their actions, for you will know that I have done nothing in it without cause, declares the Sovereign Lord. ”</p> <h3>Jerusalem as a Useless Vine</h3><p class="chapter-2"><strong>15 </strong>The word of the Lord came to me: <sup class="versenum">2 </sup>“Son of man, how is the wood of a vine different from that of a branch from any of the trees in the forest? <sup class="versenum">3 </sup>Is wood ever taken from it to make anything useful? Do they make pegs from it to hang things on? <sup class="versenum">4 </sup>And after it is thrown on the fire as fuel and the fire burns both ends and chars the middle, is it then useful for anything? <sup class="versenum">5 </sup>If it was not useful for anything when it was whole, how much less can it be made into something useful when the fire has burned it and it is charred?</p> <p><sup class="versenum">6 </sup>“Therefore this is what the Sovereign Lord says: As I have given the wood of the vine among the trees of the forest as fuel for the fire, so will I treat the people living in Jerusalem. <sup class="versenum">7 </sup>I will set my face against them. Although they have come out of the fire , the fire will yet consume them. And when I set my face against them, you will know that I am the Lord. <sup class="versenum">8 </sup>I will make the land desolate because they have been unfaithful, declares the Sovereign Lord.”</p>",
            language: "en"
            },
        teaser: "<p>I remember reading an article in <em>The Big Issue </em>(the magazine sold by, and in aid of, the homeless) called &lsquo;Single Lives&rsquo;. It pointed out that most people&rsquo;s image of loneliness in London is of a frail old lady stuck on the 24th floor of a block of flats. In reality, it could equally be a young, fashionably dressed guy trying desperately to make conversation with a girl standing next to him in a crowded bar. Being surrounded by so many people only compounds the feeling of isolation.</p> <p>Mother Teresa said, &lsquo;Loneliness and the feeling of being uncared for and unwanted are the greatest poverty.&rsquo; Loneliness is one of the greatest problems facing humanity today.</p> <p>&lsquo;The solitary human being is a contradiction in terms,&rsquo; writes Desmond Tutu. He continues, &lsquo;We are made for complementarity. We are created for a delicate network of relationships, of interdependence with our fellow human beings... We belong in one family &ndash; God&rsquo;s family, the human family... the greatest good is communal harmony.&rsquo;</p> <p>God does not intend for you to be lonely and isolated. Loneliness has been described as &lsquo;a homesickness for God&rsquo;. God created you for community &ndash; calling you into relationship with him and with other human beings.</p> ",
        audio_path: "https://dvo6z87ohhlk6.cloudfront.net/audio/BIOY_Day_311.mp3",
        cid: 1429,
        title: "The Answer to Loneliness",
        introduction: "<p>I remember reading an article in <em>The Big Issue </em>(the magazine sold by, and in aid of, the homeless) called &lsquo;Single Lives&rsquo;. It pointed out that most people&rsquo;s image of loneliness in London is of a frail old lady stuck on the 24th floor of a block of flats. In reality, it could equally be a young, fashionably dressed guy trying desperately to make conversation with a girl standing next to him in a crowded bar. Being surrounded by so many people only compounds the feeling of isolation.</p> <p>Mother Teresa said, &lsquo;Loneliness and the feeling of being uncared for and unwanted are the greatest poverty.&rsquo; Loneliness is one of the greatest problems facing humanity today.</p> <p>&lsquo;The solitary human being is a contradiction in terms,&rsquo; writes Desmond Tutu. He continues, &lsquo;We are made for complementarity. We are created for a delicate network of relationships, of interdependence with our fellow human beings... We belong in one family &ndash; God&rsquo;s family, the human family... the greatest good is communal harmony.&rsquo;</p> <p>God does not intend for you to be lonely and isolated. Loneliness has been described as &lsquo;a homesickness for God&rsquo;. God created you for community &ndash; calling you into relationship with him and with other human beings.</p> ",
        psalm_proverbs: "<h2>1. A peaceful community</h2> <p>We live in a world full of aggression, division and broken relationships.</p> <p>One of the main reasons for loneliness is &lsquo;quarrelling&rsquo; (v.6, MSG), which leads to the breakdown of relationships. We see this wherever we look &ndash; broken marriages, family bust-ups, fall-outs between friends, work colleagues and neighbours.</p> <p>Adam and Eve&rsquo;s friendship with God was broken. This led to a separation between Adam and Eve themselves. Cain and Abel quarrelled, and the rest, as they say, is history.</p> <p>The psalmist is feeling isolated as though living in a foreign land (v.5). He is surrounded by lying lips and deceitful tongues (v.2). The people he lives among hate peace (v.6) and are for war (v.7). He feels doomed to live his whole life among &lsquo;quarrelling neighbours&rsquo; (v.6, MSG).</p> <p>In his distress he calls out to the Lord to save him and the Lord answers him (v.1). He describes himself in contrast to those around him as a man of peace (v.7). This is the characteristic of the people of God: Jesus said, &lsquo;Blessed are the peacemakers, for they will be called children of God&rsquo; (Matthew 5:9).</p> <blockquote> <p>Lord, help me to avoid unnecessary quarrelling and to be a peacemaker in my family, workplace and community.</p> </blockquote> ",
        new_testament: "<h2>2. A &lsquo;new&rsquo; community</h2> <p>&lsquo;The local church is the hope for the world,&rsquo; writes Bill Hybels. The church in the New Testament is described as &lsquo;the people of God&rsquo;. The people of God gather in local churches all over the world. The writer of Hebrews quotes the book of Jeremiah saying, &lsquo;I will be their God, and they will be<em> my people</em>&rsquo; (v.10). No longer isolated and alone, we are part of the most amazing community.</p> <p>In the Old Testament, God made a covenant with his people. However, the people did not &lsquo;keep their part of the bargain&rsquo; (v.9, MSG). God promised that one day he would make a new covenant, whereby he would have a new relationship with his people: &lsquo;I will be their God, and they will be <em>my people</em>&rsquo; (v.10).</p> <p>The people of God are far better off now than they were under the old covenant. The writer goes on to say, &lsquo;The ministry Jesus has received is as <em>superior </em>to theirs as the covenant of which he is mediator is <em>superior </em>to the old one, and it is founded on <em>better promises</em>&rsquo; (v.6).</p> <p>There was a problem with the old covenant, for &lsquo;if there had been nothing wrong with that first covenant, no place would have been sought for another&rsquo; (v.7). The problem with the old covenant was that the people were unable to keep the law. They &lsquo;did not remain faithful&rsquo; (v.9).</p> <p>God promised a new covenant that would be superior to the old one and founded on better promises. The writer goes back to the book of Jeremiah, and quotes 31:31&ndash;34.</p> <p>What were these promises? They are fourfold:</p> <ul> <li>New heart<br /> God promises to implant his laws in your heart. This does not mean simply committing the law to memory (as per Deuteronomy 6:6&ndash;9). It means having a new heart, &lsquo;I will put my laws in their minds and write them on their hearts&rsquo; (Hebrews 8:10b).</li> <li>Firsthand knowledge<br /> He promises that the knowledge of God will be a matter of personal experience. &lsquo;No longer will they teach their neighbours, or say to one another, &ldquo;Know the Lord,&rdquo; because they will all know me&rsquo; (v.11). It is possible for all of us to know God in the way that Jeremiah knew God: &lsquo;They&rsquo;ll all get to know me firsthand&rsquo; (v.11, MSG).</li> <li>Universal scope<br /> &lsquo;They will <em>all </em>know me, from the least of them to the greatest&rsquo; (v.11b). This was a fulfilment of the promise in the Old Testament that the promise would no longer be confined to Israel and Judah but would extend to all nations (Isaiah 42:6; 49:6; 19:24).</li> <li>Total forgiveness<br /> &lsquo;For I will forgive their wickedness and will remember their sins no more&rsquo; (Hebrews 8:12). For the Hebrews, the word &lsquo;remembering&rsquo; meant more than mental effort; it carried with it the sense of doing something to the advantage or disadvantage of the person who remembered. If your sins are not remembered, it means that God is determined to forgive and that the &lsquo;slate&rsquo; of your sins is &lsquo;forever wiped clean&rsquo; (v.12, MSG). All this is possible because Jesus offered his life for you (v.13).</li> </ul> <p>This new covenant is far superior and &lsquo;has made the first one obsolete; and what is obsolete and ageing will soon disappear&rsquo; (v.13)</p> <p>The new covenant is the basis of the new community into which God calls you. This new covenant is the answer to loneliness. The covenant is with God&rsquo;s people together, and not solely with each person as individuals. The promises are all in the plural. You have the immense privilege of belonging to the new community of God&rsquo;s people. You know God personally. Your sins are forgiven. The Holy Spirit has come to live within you and given you a new heart. You are never alone.</p> <blockquote> <p>Father, thank you that I can experience a personal relationship with you &ndash; that I can know you. Thank you that I am part of the most wonderful community of the people of God. Thank you that I am never alone.</p> </blockquote> ",
        old_testament: "<h2>3. A faithful community</h2> <p>The great idols of our age are money, sex and power. But an idol can be anything we worship by giving it more attention and treating it as more important than God in our lives. It could be our home, car or possessions but it could also be our work or ministry. When we make an idol out of any of these things, it takes us away from God (14:14).</p> <p>God is looking for people who are faithful to him. The problem under the old covenant was that &lsquo;they <em>did not remain faithful</em>&rsquo; (Hebrews 8:9). In this passage we see an example of what that meant. God spoke through Ezekiel about a country that &lsquo;sins against me by being <em>unfaithful</em>&hellip; they have been <em>unfaithful</em>, declares the Sovereign Lord&rsquo; (Ezekiel 14:13; 15:8).</p> <p>Ezekiel, the prophet, saw ahead to what we have read about in our New Testament passage for today. He foresaw a time when the people &lsquo;will not defile themselves any more with all their sins. They will be <em>my people</em>, and I will be their God, declares the Sovereign Lord&rsquo; (14:11).</p> <p>God&rsquo;s people were ensnared by lies. As we read in the psalm about &lsquo;lying lips&rsquo; (Psalm 120:2), so we read here about lying prophets &lsquo;who prophesy out of their own imagination&rsquo; (Ezekiel 13:2). &lsquo;Their visions are false and their divinations a lie&rsquo; (v.6). Using &lsquo;magic charms&rsquo; they &lsquo;ensnare people&rsquo; (v.18). They lie &lsquo;to my people, who listen to lies&rsquo; (v.19). They dishearten the righteous with their lies (v.22).</p> <p>How had they been unfaithful? The Lord said that they &lsquo;set up idols in their hearts and put wicked stumbling-blocks before their faces&rsquo; (14:3). Even in the Old Testament, the Lord was not concerned only about physical idols &ndash; but also about the idols in people&rsquo;s hearts. God&rsquo;s longing is for us to be a faithful vine bearing good fruit (chapter 15; see also Isaiah 5:1&ndash;7).</p> <p>You are called to be part of a faithful community of the people of God who know and love God. We are to welcome everyone &lsquo;from the least of them to the greatest&rsquo; (Hebrews 8:11). We are called to be a community where many lonely, isolated people find love and forgiveness &ndash; a community of the people of God&nbsp;&ndash; a people of peace who know and love the Lord and are faithful to him in every way. This is the answer to loneliness.</p> <blockquote> <p>Lord, help me to be faithful to you. Help us to be a loving, peaceful and faithful community where many isolated and lonely people come to know you and find, in the community of God&rsquo;s people, the answer to loneliness.</p> </blockquote> ",
        pippa_adds: "<p><span style="line-height: 1.6em;">The Old Testament passage (Ezekiel 14) is all about judgment. Thank goodness God made a &lsquo;new covenant&rsquo; (Hebrews 8:8&ndash;12)! Hope is restored.</span></p> ",
        reference: null,
        updated: "2015-10-31 17:03:14",
        show_twitter: false,
        cartoon_key: "",
        language: "en",
        realday: "2015-11-07",
        status: "approved"
        }
        ]

# Group CRUD Functions

**Authentication**

You will need to use a user's access token when making requests to any non-public endpoint.

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + introduction - Introduction block in HTML.
    + psalm_proverbs - The commentary for Psalms or Proverbs in HTML format.
    + new_testament - The commentary for New Testament in HTML format.
    + old_testament - The commentary for Old Testament in HTML format.
    + pippa_adds - The HTML text for Pippa Adds.
    + updated - Time the item was last updated in Unix Time format.
    + show_twitter - Display the twitter links (boolean).
    + cartoon_key - URL for cartoon.
    + deleted - Flag defining delete status (boolean)
    + scheduled_for - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year - The day number.
    + day - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            [
            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : "ready"
            }
            ]

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : null
            }

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : null
            }


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body


+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
                "cid": 1278,
                "did": 160,
                "title": "Be Loyal",
                "introduction": "<p>In 2007, a group of twenty-three South Korean missionaries were captured by the Taliban in Afghanistan. They were terrified. The Taliban separated the group, isolated them and confiscated their possessions. One of the Korean women managed to hold on to her Bible. She ripped it into twenty-three pieces and secretly gave each of them a portion so that wherever they were, each person could read a part of Scripture when no one was watching.</p>\r\n\r\n<p>The group knew that the Taliban had decided to kill them, one at a time. One by one the missionaries surrendered their lives again to Jesus saying, &lsquo;Lord, if you want me to die for your sake I&rsquo;ll do it.&rsquo; Then the pastor said, &lsquo;I&rsquo;ve talked to [the Taliban] because they are going to start killing us and I&rsquo;ve told their leaders that if anyone dies, I die first because I am your pastor.&rsquo; Another said, &lsquo;No, because I also am a pastor and I am your <em>elder</em>. I die first.&rsquo;</p>\r\n\r\n<p>Then the pastor came back and said, &lsquo;You are not ordained, I have been ordained, I die first.&rsquo; And sure enough, he died first. Two more were killed before the rest were eventually rescued. They had demonstrated extraordinary loyalty to God and to each other.</p>\r\n\r\n<p>The South Korean missionaries were following in the footsteps of the apostles who, as we see in today&rsquo;s New Testament passage, showed extraordinary loyalty.</p>\r\n\r\n<p>Loyalty is a combination of love and faithfulness. It is a quality often lacking in our society today. Disloyalty destroys families, churches, businesses, political parties and even nations. Each of the passages today says something about this quality of loyalty.</p>\r\n",
                "psalm_proverbs": "<h2>1. Loyalty to God in our plans</h2>\r\n\r\n<p>Our first loyalty is to God. His favour rests on those who are &lsquo;God-loyal&rsquo; (v.19, MSG).</p>\r\n\r\n<p>The book of Proverbs is full of practical wisdom. It encourages you, for example, to be discerning about what you believe: &lsquo;The gullible believe anything they&rsquo;re told; the prudent sift and weigh every word&rsquo; (v.15, MSG). Ultimately wisdom is about how you relate to God: &lsquo;The wise fear the Lord and shun evil&rsquo; (v.16).</p>\r\n\r\n<p>&lsquo;Fear of the Lord&rsquo; is an attitude of healthy respect and loyalty. It means involving him in all your plans. We need to be very careful about the plans we make &ndash; that they are for good and not for evil. Eventually, even &lsquo;the wicked will respect God-<em>loyal </em>people&rsquo; (v.19, MSG).</p>\r\n\r\n<p>&lsquo;But those who plan what is good find <em>love </em>and <em>faithfulness</em>&rsquo; (v.22b). The word for &lsquo;find&rsquo; is sometimes translated &lsquo;show&rsquo;. Both are true. Those who plan what is good not only <em>find </em>love and faithfulness, they <em>show </em>love and faithfulness as well. This is at the heart of loyalty &ndash; to show love and faithfulness. This is contrasted with those who selfishly plot evil and go astray.</p>\r\n\r\n<blockquote>\r\n<p>Lord, help me to be wise and God-loyal in my plans. Show me more ways to be kind to the needy. May we, as a community of God-loyal people, plan what is good and find love and faithfulness.</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Loyalty to Jesus in our words</h2>\r\n\r\n<p>As the apostles went out and preached the good news they performed <em>many </em>miraculous signs and wonders among the people. &lsquo;More and more men and women believed in the Lord and were added to their number&rsquo; (v.14). As a result, &lsquo;Crowds gathered&hellip; bringing their sick&hellip; <em>all </em>of them were healed&rsquo; (vv.15&ndash;16).</p>\r\n\r\n<p>Sadly, their success led to &lsquo;jealousy&rsquo; from religious leaders (v.17). Once again we see how envy is such a temptation for those of us who are seen as religious. In their jealousy they arrested the apostles and put them in jail (v.18). But once again God performed a miracle. He sent an angel of the Lord to open the doors of the jail and bring them out.</p>\r\n\r\n<p>With huge courage they obeyed the command to &lsquo;Go, stand in the temple courts&hellip; and tell the people the full message of this new life&rsquo; (v.20).</p>\r\n\r\n<p>When they were caught doing exactly what they had been arrested for doing in the first place, they were re-arrested and brought before the Sanhedrin to be questioned by the high priest who said to them, &lsquo;We gave you strict orders not to teach in this name&hellip; Yet you have filled Jerusalem with your teaching and are determined to make us guilty of this man&rsquo;s blood&rsquo; (v.28).</p>\r\n\r\n<p>Peter and the other apostles were loyal to God and to their calling. They replied, &lsquo;We must obey God rather than human beings!&rsquo; (v.29).</p>\r\n\r\n<p>Jesus said, &lsquo;Give to Caesar what is Caesar&rsquo;s,&nbsp;and to God what is God&rsquo;s&rsquo; (Matthew 22:21). In saying this, he defined the limits of loyalty to the authority of human beings. When it conflicts with loyalty to God, God takes precedence. Out of loyalty to God, they continued preaching the gospel &ndash; even when they were on trial.</p>\r\n\r\n<p>The brief sermon (it takes only three verses &ndash; Acts 5:30&ndash;32) is all about Jesus. They preach about the cross, resurrection and the exaltation of Jesus. They proclaimed Jesus as Prince and Saviour. The talk includes a description of the way of salvation: repentance and forgiveness of sins.</p>\r\n\r\n<p>In addition they managed to include the whole Trinity. God the Father: &lsquo;The God of our ancestors (v.30), God the Son: &lsquo;Jesus&rsquo; (v.30) and God &lsquo;the Holy Spirit&rsquo; (v.32). This sermon produces such fury that, like the South Korean missionaries, they faced the threat of death.</p>\r\n\r\n<p>However, in the providence of God, there was a wise man on the Sanhedrin, a Pharisee named Gamaliel, who pointed out to his fellow members (by giving examples from recent history) that &lsquo;if [the apostles&rsquo;] purpose or activity is of human origin, it will fail. But if it is from God, you will not be able to stop these men; you will only find yourselves fighting against God&rsquo; (vv.38&ndash;39).</p>\r\n\r\n<p>Although his speech persuaded them, nevertheless the apostles were flogged and &lsquo;ordered&hellip; not to speak in the name of Jesus&rsquo; (v.40).</p>\r\n\r\n<p>Once again, with extraordinary courage and loyalty to God and their calling, &lsquo;The apostles left the Sanhedrin, rejoicing because they had been counted worthy of suffering disgrace for the Name. Day after day, in the temple courts and from house to house, they never stopped teaching and proclaiming<em> the good news that Jesus is the Christ</em>&rsquo; (vv.41&ndash;42).</p>\r\n\r\n<blockquote>\r\n<p>Lord, may we be inspired by the example of the apostles and those like the South Korean missionaries who followed in their footsteps. Help us to demonstrate loyalty to you regardless of the circumstances and opposition around us. May we never stop teaching and proclaiming the good news that Jesus is the Christ.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Loyalty to each other in our hearts</h2>\r\n\r\n<p>Loyalty is such an attractive characteristic in a person. Disloyalty is subversive and betrays trust. Disloyalty can undermine the leadership in a church, business or even a nation.</p>\r\n\r\n<p>In David&rsquo;s case, disloyalty came from his own son. This must have been so painful for him. David loved Absalom; &lsquo;the king&rsquo;s heart longed for Absalom&rsquo; (14:1). God speaks to David through the wise woman from Tekoa. As a result David says, &lsquo;Go, bring back the young man Absalom&rsquo; (v.21). When he returned &lsquo;the king kissed Absalom&rsquo; (v.33). David gave him another opportunity to be a loyal son.</p>\r\n\r\n<p>Tragically, David&rsquo;s love and loyalty to Absalom were not returned. We see here a powerful description of how disloyalty works.</p>\r\n\r\n<p>There are always opportunities for disloyalty. In any situation &ndash; whether for example in the government, workplace or the church &ndash; there are bound to be those who complain (15:2). If you are a loyal person you will help to deal with these complaints and attempt to diffuse them.</p>\r\n\r\n<p>It has been said, &lsquo;Loyalty means I am down with you whether you are wrong or right. But I will tell you when you are wrong and help you get it right.&rsquo;</p>\r\n\r\n<p>Absalom failed the loyalty test. He would say to the complainers,&nbsp;<span style=\"line-height: 1.6em;\">&lsquo;&ldquo;Look, you&rsquo;ve got a strong case; but the king isn&rsquo;t going to listen to you.&rdquo; Then he&rsquo;d say, &ldquo;Why doesn&rsquo;t someone make me a judge for this country? Anybody with a case could bring it to me and I&rsquo;d settle things fair and square.&rdquo;&rsquo; (vv.3&ndash;4, MSG).</span></p>\r\n\r\n<p>Of course, this is absolute nonsense. But it is easy to make promises of this kind. The disloyal person says, &lsquo;If only I were in charge everything would be so much better.&rsquo; In this way Absalom &lsquo;<em>stole the hearts of the people of Israel</em>&rsquo; (v.6). Disloyalty begins in our hearts and in our thinking. So does loyalty. Guard your heart and your thinking and do not allow your heart to be stolen.</p>\r\n\r\n<p>Those who are feeling discontented in any situation always look for a rallying point. They look for someone among the leadership team whom they can rally around. If the entire leadership team remains faithful, the discontents will be unsuccessful. However, here they found a rallying point around Absalom and &lsquo;the conspiracy gained strength, and Absalom&rsquo;s following kept on increasing&rsquo; (v.12).</p>\r\n\r\n<blockquote>\r\n<p>Lord, help us to stay loyal to our leaders &ndash; to our national leaders and governments, parents, church leaders and bosses. Lord, guard our hearts, keep us loyal to you and to one another. May loyalty, love and faithfulness always be characteristics of our community.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>2 Samuel 14:1&ndash;15:12</strong></p>\r\n\r\n<p>Being beautiful on the outside doesn&rsquo;t make you beautiful on the inside. Absalom had a perfect appearance, but what was going on inside was quite different. People spend hours going to gyms, hairdressers, doing make-up, clothes shopping and working on their outward appearance. What really matters is what&rsquo;s going on inside. We all need to work harder on our inner beauty.&nbsp;</p>\r\n",
                "updated": 1433520526,
                "show_twitter": false,
                "cartoon_key": "",
                "deleted": false,
                "scheduled_for": 1433808000,
                "language": "en_PH",
                "document_path" : "http://files.develop.alpha.org.s3.amazonaws.com/documents/8720655b-c608-4f29-9330-2e73e8b99d15.html",
                "realday" : "2015-03-03",
                "status" : "ready"
            }

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204 (text/html; charset=UTF-8)

    + Headers

            Accept: application/json


## Day [/days]

Manage day objects.
+ Attributes
  + did (number) - day ID
  + psalm - Psalms verse numbers
  + proverbs - Proverbs verse numbers
  + new_testament - New Testament verse numbers
  + old_testament - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text - Proverbs text in HTML format
  + new_testament_text - New Testament text in HTML format
  + old_testament_text - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

        
+ Response 201

### List Days [GET]
+ Response 200

### Get Day [GET /days/{id}]
+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id
    + name
    + filename
    + path
    + owner
    + deleted
    + created
    + updated

### List Audio [GET /audio{?limit,page,orderBy,orderType,published}]
+ Parameters
    + limit: `10` (number, optional) - The number of results to return per page.
        + Default: `10`
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + orderBy: `d.name` (string, optional) - The value for sort results.
        + Default: `d.did`
    + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
        + Default: `ASC`
    + published: `0` (string, optional) - The value to filter published and unpublished Audio.

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "body": [
                {
                  "id": 10,
                  "name": "AAR - Swing, Swing.mp3",
                  "filename": "6e94c863-03a5-4e0d-8a79-a625568e0697.mp3",
                  "url": "http://files.develop.alpha.org.s3.amazonaws.com/audio/6e94c863-03a5-4e0d-8a79-a625568e0697.mp3",
                  "owner": 18,
                  "status": "approved",
                  "published": true,
                  "comment": null,
                  "deleted": null,
                  "created": "2015-09-28 15:58:54",
                  "updated": "2015-09-29 02:53:58",
                  "commentary": {
                    "did": 10,
                    "scheduled_for": null,
                    "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com/audio/6e94c863-03a5-4e0d-8a79-a625568e0697.mp3",
                    "day_info": "Psalm 7:10-17, test, Matthew 8:23-9:13, Genesis 21:1-23:20",
                    "cid": 1479,
                    "title": "asdfas dfasd fdas fasdf",
                    "introduction": null,
                    "psalm_proverbs": null,
                    "new_testament": null,
                    "old_testament": null,
                    "pippa_adds": null,
                    "reference": null,
                    "updated": "2015-09-28 15:59:01",
                    "show_twitter": false,
                    "cartoon_key": null,
                    "language": "en",
                    "document_path": null,
                    "realday": "2015-09-28",
                    "status": null
                  }
                },
                {
                    "id": 18,
                    "name": "Sleep Away.mp3",
                    "filename": "54066ff0-36ce-4397-97a8-c0e844103164.mp3",
                    "url": "http://files.develop.alpha.org.s3.amazonaws.com/audio/54066ff0-36ce-4397-97a8-c0e844103164.mp3",
                    "owner": 18,
                    "status": "in_progress",
                    "published": false,
                    "comment": null,
                    "deleted": null,
                    "created": "2015-10-05 14:02:23",
                    "updated": "2015-10-05 14:02:23",
                    "commentary": {
                        "did": 12,
                        "scheduled_for": null,
                        "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com/audio/64c3bde8-8113-40ab-b115-26bc6291aea6.mp3",
                        "day_info": "Proverbs 1:20-33, Matthew 10:1-31, Genesis 25:1-26:35",
                        "cid": 1474,
                        "title": "test workflow",
                        "introduction": null,
                        "psalm_proverbs": null,
                        "new_testament": null,
                        "old_testament": null,
                        "pippa_adds": null,
                        "reference": null,
                        "updated": "2015-10-05 14:02:23",
                        "show_twitter": false,
                        "cartoon_key": null,
                        "language": "en",
                        "document_path": null,
                        "realday": "2015-01-12",
                        "status": null
                    }
                }
              ],
              "pager": {
                "totalItems": 2,
                "totalPages": 2,
                "currentPage": 1
              }
            }

## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Body
    
            {
                "status": "approved",
                "published": true
            }
            
+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Body

            {
                "id": 23,
                "name": "Test, Audio.mp3",
                "filename": "audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "url": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "owner": 44,
                "status": "approved",
                "published": true,
                "comment": null,
                "deleted": null,
                "created": "2015-10-09 11:31:03",
                "updated": "2015-10-13 09:07:44",
                "commentary": {
                    "did": 10,
                    "scheduled_for": null,
                    "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                    "day_info": "Psalm 7:10-17, test, Matthew 8:23-9:13, Genesis 21:1-23:20",
                    "cid": 1494,
                    "title": "Test wf 2",
                    "introduction": null,
                    "psalm_proverbs": null,
                    "new_testament": null,
                    "old_testament": null,
                    "pippa_adds": null,
                    "reference": null,
                    "updated": "2015-10-09 11:31:03",
                    "show_twitter": false,
                    "cartoon_key": null,
                    "language": "en",
                    "document_path": "http://files.develop.alpha.org.s3.amazonaws.com/documents/6f88e3c5-eab5-48d1-8a05-ad9e37c451d6.html",
                    "realday": "2016-01-09",
                    "status": null
                }
            }

## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Body
    
            {
                "comment" : "comments",
                "email" : "test@gmail.com",
                "status" : "rejected"
            }
            
+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Body

            {
                "id": 23,
                "name": "Test, Audio.mp3",
                "filename": "audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "url": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "owner": 44,
                "status": "rejected",
                "published": false,
                "comment": "comments",
                "deleted": null,
                "created": "2015-10-09 11:31:03",
                "updated": "2015-10-13 09:07:44",
                "commentary": {
                    "did": 10,
                    "scheduled_for": null,
                    "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                    "day_info": "Psalm 7:10-17, test, Matthew 8:23-9:13, Genesis 21:1-23:20",
                    "cid": 1494,
                    "title": "Test wf 2",
                    "introduction": null,
                    "psalm_proverbs": null,
                    "new_testament": null,
                    "old_testament": null,
                    "pippa_adds": null,
                    "reference": null,
                    "updated": "2015-10-09 11:31:03",
                    "show_twitter": false,
                    "cartoon_key": null,
                    "language": "en",
                    "document_path": "http://files.develop.alpha.org.s3.amazonaws.com/documents/6f88e3c5-eab5-48d1-8a05-ad9e37c451d6.html",
                    "realday": "2016-01-09",
                    "status": null
                }
            }




# Group Translation

Manage the Daily Commentaries Translations

## List of Translations [/translations{?limit,page,orderBy,orderType}]

Display translations allocated for daily commentaries

### List of Translations [GET]

+ Parameters
    + limit: `10` (number, optional) - The number of results to return per page.
        + Default: `10`
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + orderBy: `d.did` (string, optional) - The value to sort results.
        + Default: `d.did`
    + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
        + Default: `ASC`
        
+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "body": [
                {
                  "id": 14,
                  "commentary": {
                    "did": null,
                    "scheduled_for": null,
                    "audio_path": null,
                    "day_info": null,
                    "cid": 63,
                    "title": "Happy Leap Year!",
                    "introduction": "<p>I wanted to write a brief note to encourage all of you taking part in the <em>Bible in One Year</em> challenge to keep going.&nbsp; Rick Warren has written that &lsquo;reading the Bible generates life, it produces change, it heals hurts, it builds character, it transforms circumstances, it imparts joy, it overcomes adversity, it defeats temptation, it infuses hope, it releases power, it cleanses the mind&rsquo;.&nbsp; I hope and pray that reading the <em>Bible in One Year</em> brings much benefit to your life, just as it has done to mine.</p>\r\n",
                    "psalm_proverbs": "<h2>1.&nbsp; Keep delighting and meditating on God&rsquo;s words</h2>\r\n\r\n<p>&lsquo;Blessed is the one<br />\r\n&nbsp;&nbsp; who does not walk in step with the wicked<br />\r\nor stand in the way that sinners take<br />\r\n&nbsp;&nbsp; or sit in the company of mockers,<br />\r\nbut whose delight is in the law of the Lord,<br />\r\n&nbsp;&nbsp; and who meditates on his law day and night.<br />\r\nThat person is like a tree planted by streams of water,<br />\r\n&nbsp;&nbsp; which yields its fruit in season<br />\r\nand whose leaf does not wither &ndash;<br />\r\n&nbsp;&nbsp; whatever they do prospers&rsquo; (Psalm 1:1&ndash;3)</p>\r\n",
                    "new_testament": "<h2>2.&nbsp; Keep focused on Jesus as you read</h2>\r\n\r\n<p>&lsquo;You study the Scriptures diligently because you think that in them you have eternal life.&nbsp; These are the very Scriptures that testify about me&rsquo; (John 5:39).</p>\r\n",
                    "old_testament": "<h2>3. Keep putting God&rsquo;s word into practice</h2>\r\n\r\n<p>&lsquo;Now, Israel, hear the decrees and laws I am about to teach you.&nbsp; Follow them so that you may live and may go in and take possession of the land the Lord, the God of your ancestors, is giving you.&nbsp; Do not add to what I command you and do not subtract from it, but keep the commands of the Lord your God that I give you&rsquo; (Deuteronomy 4:1&ndash;2).</p>\r\n",
                    "pippa_adds": "<p>Hurray!&nbsp; A day off!</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                    "reference": null,
                    "updated": "2015-10-13 13:28:15",
                    "show_twitter": false,
                    "cartoon_key": "",
                    "language": "en",
                    "document_path": null,
                    "realday": "2015-03-03",
                    "status": null
                  },
                  "status": "in_progress",
                  "published": false,
                  "language": "zh",
                  "locale": "en",
                  "commentary_translations": [
                    {
                      "id": 92,
                      "locale": "en",
                      "field": "title",
                      "object": null,
                      "content": "Translation content for Title",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 93,
                      "locale": "en",
                      "field": "introduction",
                      "object": null,
                      "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 94,
                      "locale": "en",
                      "field": "psalm_proverbs",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 95,
                      "locale": "en",
                      "field": "new_testament",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 96,
                      "locale": "en",
                      "field": "old_testament",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 97,
                      "locale": "en",
                      "field": "pippa_adds",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Pippa Adds</strong></p>\n",
                      "translated": true,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 98,
                      "locale": "en",
                      "field": "reference",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n",
                      "translated": true,
                      "approved": false,
                      "language": "zh"
                    }
                  ]
                }
              ],
              "pager": {
                "totalItems": 1,
                "totalPages": 1,
                "currentPage": 1
              }
            }
            
## Read a single translation [/translations/{id}]

Return a single translation object including the default daily commentary (en).

### Read a single Translation [GET]

+ Parameters
    + id: `14` (number, required) - The value of translation's Id.
        
+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "id": 14,
              "commentary": {
                "did": null,
                "scheduled_for": null,
                "audio_path": null,
                "day_info": null,
                "cid": 63,
                "title": "Happy Leap Year!",
                "introduction": "<p>I wanted to write a brief note to encourage all of you taking part in the <em>Bible in One Year</em> challenge to keep going.&nbsp; Rick Warren has written that &lsquo;reading the Bible generates life, it produces change, it heals hurts, it builds character, it transforms circumstances, it imparts joy, it overcomes adversity, it defeats temptation, it infuses hope, it releases power, it cleanses the mind&rsquo;.&nbsp; I hope and pray that reading the <em>Bible in One Year</em> brings much benefit to your life, just as it has done to mine.</p>\r\n",
                "psalm_proverbs": "<h2>1.&nbsp; Keep delighting and meditating on God&rsquo;s words</h2>\r\n\r\n<p>&lsquo;Blessed is the one<br />\r\n&nbsp;&nbsp; who does not walk in step with the wicked<br />\r\nor stand in the way that sinners take<br />\r\n&nbsp;&nbsp; or sit in the company of mockers,<br />\r\nbut whose delight is in the law of the Lord,<br />\r\n&nbsp;&nbsp; and who meditates on his law day and night.<br />\r\nThat person is like a tree planted by streams of water,<br />\r\n&nbsp;&nbsp; which yields its fruit in season<br />\r\nand whose leaf does not wither &ndash;<br />\r\n&nbsp;&nbsp; whatever they do prospers&rsquo; (Psalm 1:1&ndash;3)</p>\r\n",
                "new_testament": "<h2>2.&nbsp; Keep focused on Jesus as you read</h2>\r\n\r\n<p>&lsquo;You study the Scriptures diligently because you think that in them you have eternal life.&nbsp; These are the very Scriptures that testify about me&rsquo; (John 5:39).</p>\r\n",
                "old_testament": "<h2>3. Keep putting God&rsquo;s word into practice</h2>\r\n\r\n<p>&lsquo;Now, Israel, hear the decrees and laws I am about to teach you.&nbsp; Follow them so that you may live and may go in and take possession of the land the Lord, the God of your ancestors, is giving you.&nbsp; Do not add to what I command you and do not subtract from it, but keep the commands of the Lord your God that I give you&rsquo; (Deuteronomy 4:1&ndash;2).</p>\r\n",
                "pippa_adds": "<p>Hurray!&nbsp; A day off!</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                "reference": null,
                "updated": "2015-10-13 13:28:15",
                "show_twitter": false,
                "cartoon_key": "",
                "language": "en",
                "document_path": null,
                "realday": "2015-03-03",
                "status": null
              },
              "status": "in_progress",
              "published": false,
              "language": "zh",
              "locale": "en",
              "commentary_translations": [
                {
                  "id": 92,
                  "locale": "en",
                  "field": "title",
                  "object": null,
                  "content": "Translation content for Title",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 93,
                  "locale": "en",
                  "field": "introduction",
                  "object": null,
                  "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 94,
                  "locale": "en",
                  "field": "psalm_proverbs",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 95,
                  "locale": "en",
                  "field": "new_testament",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                  "translated": false,
                  "approved": false,
[...]
