FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)
    + Attributes
        + commentaries_get_url: `/bioy/2/public/getCommentary/{id}/{lang}` (string) - URL to get a commentary
        + commentaries_list_url: `/bioy/2/public/listCommentaries/{language}/{startDate}/{limit}/{page}` (string) - URL to get a list of commentary teasers
        + commentaries_full_url: `/bioy/2/public/listFullCommentariesByBatch/{language}/{startDate}/{endDate}/{limit}/{page}` (string) - URL to get a list of full commentaries

## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary Teaser

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary

# Group Commentary functions

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes (object)
    + cid: 1234 (number) - Internal system commentary ID.
    + did: 152 (number) - The day number.
    + title: Wow! - The title for the day.
    + introduction: `<p>Judah Smith is a delightful, young Pentecostal pastor from Seattle, Washington. He is one of the best communicators that I have ever heard – especially to young people. When listening to others, his favourite expression is ‘Wow!’ For him it is an expression of respect, awe and reverence.</p> <p>There are many blessings to living in Western Europe in the twenty-first century. However, we live in a society in which respect, reverence and awe do not seem to be as valued as they once were.</p> <p>Each of the passages for today reflects on what these words mean and why they are important.</p>` - Introduction block in HTML.
    + psalm_proverbs: `<h2>1. Respect</h2> <p>A culture of respect underlies the book of Proverbs. We see three examples in this passage:</p> <ul> <li>Respect for the Lord<br /> ‘An honest life shows <em>respect </em>for God’ (14:2, MSG). As we have seen, the word ‘fear’ (NIV) is probably best understood as ‘respect’. Respect for the Lord is the starting point for respect in all our other relationships.</li> <li>Respect for the wise<br /> ‘Whoever walks with the wise grows wise’ (13:20). ‘Wise speech evokes nothing but <em>respect</em>’ (14:3, MSG). Our society increasingly devalues the wisdom that comes with age. Wisdom often (though not always) comes through the experience of a long life. There is a huge amount of untapped wisdom in older people in our society.</li> <li>Respect in the home<br /> ‘A refusal to correct is a refusal to love; love your children by disciplining them’ (13:24, MSG). This teaching has sometimes been abused by an over-literal interpretation. What the book of Proverbs is encouraging is a culture of respect in the family – respect for parents and also respect for children, which involves loving discipline.</li> </ul> <p class="rteindent1">As St Paul writes, ‘Do not exasperate your children; instead, bring them up in the training and instruction of the Lord’ (Ephesians 6:4).</p> <blockquote> <p>Lord, help us to gain wisdom as we spend time with those who are wise. Help us as a church community to model good parenting, combining love and discipline. Help us to live lives of uprightness in respect for the Lord.</p> </blockquote>` - The commentary for Psalms or Proverbs in HTML format.
    + new_testament: `<h2>2. Awe</h2> <p>Jesus really was raised from the dead. The tomb really was empty on Easter morning. Jesus’ followers really did meet him alive again. The resurrection did happen. The best historical explanation for the origin of Christianity is that it really is true. Jesus is alive today!</p> <p>John records four resurrection appearances of Jesus – the first three of which are in this passage. In these appearances we see not only some of the evidence, but also some of the results of the resurrection.</p> <ul> <li>Awe and amazement<br /> In the culture of the day, a woman’s testimony would not have been considered as weighty as that of a man. If the disciples had been making this up, they would not have devised the first appearance as being to Mary Magdalene.</li> </ul> <p class="rteindent1">This shows a huge amount about Jesus’ respect for women. By this act, and others during his life on earth, he laid the foundation for a revolution in the world’s attitude to women. Sadly, it has taken 2,000 years and we are still not there yet.</p> <p class="rteindent1">Jesus does not ask Mary what she is looking for. He asks, ‘<em>Who </em>is it you are you looking for?’ (v.15). It is not enough to know the evidence of the facts of the resurrection. We need a personal encounter with the resurrected Jesus.</p> <p class="rteindent1">The respect goes both ways. In Mary’s case it is one of awe and amazement. As she realised it was Jesus, she cried out in Aramaic, ‘“Rabboni!” (which means Teacher)’ (v.16), and rushed off to tell the disciples, ‘I have seen the Lord!’ (v.18).</p> <p class="rteindent1">The great theologian, C. H. Dodd, wrote of Jesus’ appearance to Mary that it ‘has something indefinably firsthand about it. It stands in any case alone. There is nothing quite like it in the Gospels. Is there anything quite like it in all ancient literature?’</p> <ul> <li>Joy and peace<br /> The world is desperately searching for happiness and peace of mind. The supreme source of joy and peace is a relationship with Jesus.</li> </ul> <p class="rteindent1">Jesus’ appearance to the disciples brought them overwhelming joy: ‘The disciples were <em>overjoyed </em>when they saw the Lord’ (v.20). Three times he says to them, ‘<em>Peace </em>be with you!’ (vv.19,21,26).</p> <p class="rteindent1">Faith in Jesus brings joy and peace to all who believe. Jesus said to Thomas, ‘Blessed and <em>happy </em>and to be envied are those who have never seen me and yet have believed and adhered to and trusted and relied on me’ (v.29, AMP).</p> <ul> <li>Purpose and power<br /> Jesus gives them a new sense of purpose: ‘As the Father has sent me, I am sending you’ (v.21). The resurrection is the message of hope for the world. If this life were all there was, it would ultimately be meaningless and purposeless. But Jesus Christ is risen from the dead. There is life beyond the grave. This gives your life on earth a whole new meaning and purpose. You are sent out by Jesus to proclaim this message to the world.</li> </ul> <p class="rteindent1">Finally, he also gave them power. He ‘breathed on them and said, “Receive the Holy Spirit. If you forgive the sins of anyone, their sins are forgiven; if you do not forgive them, they are not forgiven”’ (vv.22–23). The Holy Spirit provides the strength and ability for you to forgive.</p> <p class="rteindent1">The same power that raised Jesus from the dead is available to you. He gives you the power of his Holy Spirit and the power of his word to declare the message of God’s forgiveness to human beings. This is the message that brings eternal life.</p> <ul> <li>Respect and reverence<br /> Thomas was a cynic; sceptical and full of doubt. I think I would probably have had the same response as him when he said, ‘Unless I see the nail marks in his hands and put my finger where the nails were, and put my hand into his side, I will not believe it’ (v.25).</li> </ul> <p class="rteindent1">He must have felt so stupid when Jesus appeared to him and said, ‘Put your finger here; see my hands. Reach out your hand and put it into my side. Stop doubting and believe’ (v.27).</p> <p class="rteindent1">Do not feel guilty about having doubts. Like Thomas, be honest about your doubts and bring them to Jesus. When Jesus answered his doubts, Thomas’ response was the pinnacle of respect, reverence and awe. He said, ‘My Lord and my God!’ (v.28). From a place of having doubted, Thomas makes perhaps the strongest statement of Jesus’ divinity in all of the Gospels. He is the first person to look at Jesus and call him ‘God’. He said, in effect, ‘Wow!’</p> <p class="rteindent1">Jesus went on to tell him that belief leads to blessing (v.29). In fact, it leads to life. Belief and life go hand in hand in John’s Gospel (v.31), because, if you believe in Jesus you have life. This is <em>real </em>life of high quality, an abundant life (10:10) that goes on forever (3:16).</p> <p class="rteindent1">John’s whole reason for writing his Gospel was so that ‘you may believe that Jesus is the Christ, the Son of God, and that by believing you may have life in his name’ (20:31). As Tom Wright puts it, ‘Resurrection is the ground of Christian hope for life <em>before death</em>, as well as beyond it.’</p> <blockquote> <p>Jesus, my Lord and my God, today I worship you with awe and reverence. Thank you for giving me joy and peace, purpose in life and the power of the Holy Spirit to live within me.</p> </blockquote>` - The commentary for New Testament in HTML format.
    + old_testament: `<h2>3. Reverence</h2> <p>David’s attitude to Saul is a wonderful example of how to respond to those who try to do you harm. David did not seek revenge. He was not bitter. He treated Saul with the utmost respect. After all, God had used Saul greatly in the past. The fact that Saul had gone off the rails did not erase David’s respect.</p> <p>His attitude to Saul was quite extraordinary. He said to the Amalekite who claimed to have finished off Saul, ‘Why were you not afraid to lift your hand to destroy the Lord’s anointed?’ (v.14). In the light of 1 Samuel 31, the Amalekite may well have been trying to benefit from what would have been a perversion of the facts. He may have been a human vulture, who took the royal insignia from Saul to gain favour with David. In any event, it did him no good because of David’s reverence for Saul.</p> <p>David grieved over the death of his great friend Jonathan and over Saul (2 Samuel 1:19–27). Grief is a natural, necessary and healthy response to the death of those we love.</p> <p>Supremely, David reverenced God. He ‘enquired of the Lord’ (2:1). He asked, ‘Shall I go up to one of the towns of Judah?’ The Lord answered, ‘Go up.’ He then asked, ‘Where shall I go?’ The Lord answered, ‘To Hebron.’ David obeyed and was anointed king over the house of Judah.</p> <blockquote> <p>Lord, help us to have the same love that David had for all those you have anointed in leadership roles, whether they support us or whether they don’t. Help us never to take revenge but always to treat people with respect. Help us, most of all, to live a life of reverence and respect and obedience to you.</p> </blockquote>` - The commentary for Old Testament in HTML format.
    + pippa_adds: `<p><strong>John 20:10</strong></p> <p>I am so interested that, of all the people he could have appeared to, Jesus chose to appear first to Mary Magdalene. He did not go to his senior disciple (or even his mother!), but rather to a woman whom no one in the world rated as important.</p>` - The HTML text for Pippa Adds.
    + updated: `2015-06-01 09:04:45` - Time the item was last updated in Unix Time format.
    + show_twitter: false - Display the twitter links (boolean).
    + cartoon_key: `` - URL for cartoon.
    + deleted: false - Flag defining delete status (boolean)
    + scheduled_for: 1433116800 (number) - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year: 152 - The day number.
    + day (Day) - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

  
+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Attributes (Commentary)

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (array)
        + (object)
            + Include Commentary


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204

# Group Days functions

## Day [/days]

Manage day objects.
+ Attributes
  + did (number) - day ID
  + psalm - Psalms verse numbers
  + proverbs - Proverbs verse numbers
  + new_testament - New Testament verse numbers
  + old_testament - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text - Proverbs text in HTML format
  + new_testament_text - New Testament text in HTML format
  + old_testament_text - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 201

### List Days [GET /days{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200

### Get Day [GET /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id
    + name
    + filename
    + path
    + owner
    + deleted
    + created
    + updated

### List Audio [GET /audio{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`
    

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + body (array)
            + (Audio)
        + Include Pager


## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + status: approved (string)
        + published: true (boolean)

+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Attributes (Audio)


## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + comment: comments (string) - reasons for rejection
        + email: test@gmail.com (string) - email address
        + status: rejected (string) - rejection status

+ Response 200 (application/json)
    + Attributes (Audio)


# Group Translation

Manage the Daily Commentaries Translations

## Translations [/translations]
Display translations allocated for daily commentaries

+ Attributes
    + default (Commentary)
    + translations (Commentary Translations)

### List Translations [GET /translations{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (Translations)


### Create Translation [POST]
Create translation for daily commentary.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}
             
    + Attributes (object)
        + cid: 1234 (number, required) - commentary ID
        + locale: fr (string, required) - locale for this translation
        + Include Commentary Translations

+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Attributes (Translations)

## Update Translation [/{cid}/translations/{translationId}]

Update translation for daily commentary.

### Update Translation [PUT]

+ Parameters
    + cid: 1234 (number, required) - Commentary ID
    + translationId: `1008` (number, required) - The value of translations Id.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}

    + Attributes (Commentary Translations)

+ Response 200 (application/json)
    + Attributes (Translations)
    

# Group Users

Manage the user access & groups

## User [/users]

+ Attributes (object)
    + id (number) - the user ID
    + email: example@example.com (string) - email address
    + languages (array)

### List Users [GET /users{?limit,page,orderBy,orderType,email}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`
        + email: test@%.com (string, optional) - email to locate in SQL LIKE format
    + Headers

             Authorization: Bearer {access_token}

+ Response 200
    + Attributes
        + body (array)
            + (User)

### Get User [GET /users/{id}]
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Update User [PUT /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Delete User [DELETE /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 204
            
# Group Languages

Manage the Language codes on the system

## Language [/languages]

Manage language objects.
+ Attributes
  + id (number) - language ID
  + iso (string) - ISO code
  + locale (string) - locale identifier
  + label (string) - label
  + created
  + updated
  + deleted

### Create Language [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 201

### List Languages [GET /languages{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.id`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Language)
        + pager (Pager)

### Get Language [GET /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Language)

### Update Language [PUT /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 200

### Delete Language [DELETE /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            

# Group Email

## Email [/emails]

Manage email campaigns.
+ Attributes
    + eid
    + campaign_id
    + scheduled_on
    + scheduled_for
    + commentary (Commentary)
    

### List Emails [GET /emails{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.eid`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}
+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Email)
        + pager (Pager)            
            

### Get Email [GET /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Email)

### Update Email [PUT /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Email)

+ Response 200

### Delete Email [DELETE /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            
# Data Structures

## Commentary Teaser (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + realday - The real day number.
    + teaser - the short teaser text for each commentary.
    
## Commentary Translations (object)
    + psalms_text (Translation)
    + proverbs_text (Translation)

## Translation (object)
    + id (number) - translation ID
    + locale: en (string) - language locale for which this is valid
    + field: psalms_text (string) - field for which this is a translation
    + content (string) - translated content
    + approved: true (boolean) - approved or not
    
## Pager (object)
    + totalItems (number) - total number of items
    + totalPages (number) - total number of pages
    + currentPage (number) - current page number
