FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)
    + Attributes
        + commentaries_get_url (string) - URL to get a commentary
        + commentaries_list_url (string) - URL to get a list of commentary teasers
        + commentaries_full_url (string) - URL to get a list of full commentaries

## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary Teaser

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + Include Commentary

# Group CRUD Functions

**Authentication**

You will need to use a user's access token when making requests to any non-public endpoint.

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + introduction - Introduction block in HTML.
    + psalm_proverbs - The commentary for Psalms or Proverbs in HTML format.
    + new_testament - The commentary for New Testament in HTML format.
    + old_testament - The commentary for Old Testament in HTML format.
    + pippa_adds - The HTML text for Pippa Adds.
    + updated - Time the item was last updated in Unix Time format.
    + show_twitter - Display the twitter links (boolean).
    + cartoon_key - URL for cartoon.
    + deleted - Flag defining delete status (boolean)
    + scheduled_for - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year - The day number.
    + day - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

  
+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Attributes (Commentary)

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (array)
        + (object)
            + Include Commentary


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204


## Day [/days]

Manage day objects.
+ Attributes
  + did (number) - day ID
  + psalm - Psalms verse numbers
  + proverbs - Proverbs verse numbers
  + new_testament - New Testament verse numbers
  + old_testament - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text - Proverbs text in HTML format
  + new_testament_text - New Testament text in HTML format
  + old_testament_text - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

        
+ Response 201

### List Days [GET]
+ Response 200

### Get Day [GET /days/{id}]
+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id
    + name
    + filename
    + path
    + owner
    + deleted
    + created
    + updated

### List Audio [GET /audio{?limit,page,orderBy,orderType,published}]
+ Parameters
    + limit: `10` (number, optional) - The number of results to return per page.
        + Default: `10`
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + orderBy: `d.name` (string, optional) - The value for sort results.
        + Default: `d.did`
    + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
        + Default: `ASC`
    + published: `0` (string, optional) - The value to filter published and unpublished Audio.

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + body (array)
            + (Audio)
        + Include Pager


## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Body
    
            {
                "status": "approved",
                "published": true
            }
            
+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Body

            {
                "id": 23,
                "name": "Test, Audio.mp3",
                "filename": "audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "url": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "owner": 44,
                "status": "approved",
                "published": true,
                "comment": null,
                "deleted": null,
                "created": "2015-10-09 11:31:03",
                "updated": "2015-10-13 09:07:44",
                "commentary": {
                    "did": 10,
                    "scheduled_for": null,
                    "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                    "day_info": "Psalm 7:10-17, test, Matthew 8:23-9:13, Genesis 21:1-23:20",
                    "cid": 1494,
                    "title": "Test wf 2",
                    "introduction": null,
                    "psalm_proverbs": null,
                    "new_testament": null,
                    "old_testament": null,
                    "pippa_adds": null,
                    "reference": null,
                    "updated": "2015-10-09 11:31:03",
                    "show_twitter": false,
                    "cartoon_key": null,
                    "language": "en",
                    "document_path": "http://files.develop.alpha.org.s3.amazonaws.com/documents/6f88e3c5-eab5-48d1-8a05-ad9e37c451d6.html",
                    "realday": "2016-01-09",
                    "status": null
                }
            }

## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Body
    
            {
                "comment" : "comments",
                "email" : "test@gmail.com",
                "status" : "rejected"
            }
            
+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Body

            {
                "id": 23,
                "name": "Test, Audio.mp3",
                "filename": "audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "url": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                "owner": 44,
                "status": "rejected",
                "published": false,
                "comment": "comments",
                "deleted": null,
                "created": "2015-10-09 11:31:03",
                "updated": "2015-10-13 09:07:44",
                "commentary": {
                    "did": 10,
                    "scheduled_for": null,
                    "audio_path": "http://files.develop.alpha.org.s3.amazonaws.com//audio627ce201-5f75-464e-8116-928a551f2b69.mp3",
                    "day_info": "Psalm 7:10-17, test, Matthew 8:23-9:13, Genesis 21:1-23:20",
                    "cid": 1494,
                    "title": "Test wf 2",
                    "introduction": null,
                    "psalm_proverbs": null,
                    "new_testament": null,
                    "old_testament": null,
                    "pippa_adds": null,
                    "reference": null,
                    "updated": "2015-10-09 11:31:03",
                    "show_twitter": false,
                    "cartoon_key": null,
                    "language": "en",
                    "document_path": "http://files.develop.alpha.org.s3.amazonaws.com/documents/6f88e3c5-eab5-48d1-8a05-ad9e37c451d6.html",
                    "realday": "2016-01-09",
                    "status": null
                }
            }




# Group Translation

Manage the Daily Commentaries Translations

## List of Translations [/translations{?limit,page,orderBy,orderType}]

Display translations allocated for daily commentaries

### List of Translations [GET]

+ Parameters
    + limit: `10` (number, optional) - The number of results to return per page.
        + Default: `10`
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + orderBy: `d.did` (string, optional) - The value to sort results.
        + Default: `d.did`
    + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
        + Default: `ASC`
        
+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "body": [
                {
                  "id": 14,
                  "commentary": {
                    "did": null,
                    "scheduled_for": null,
                    "audio_path": null,
                    "day_info": null,
                    "cid": 63,
                    "title": "Happy Leap Year!",
                    "introduction": "<p>I wanted to write a brief note to encourage all of you taking part in the <em>Bible in One Year</em> challenge to keep going.&nbsp; Rick Warren has written that &lsquo;reading the Bible generates life, it produces change, it heals hurts, it builds character, it transforms circumstances, it imparts joy, it overcomes adversity, it defeats temptation, it infuses hope, it releases power, it cleanses the mind&rsquo;.&nbsp; I hope and pray that reading the <em>Bible in One Year</em> brings much benefit to your life, just as it has done to mine.</p>\r\n",
                    "psalm_proverbs": "<h2>1.&nbsp; Keep delighting and meditating on God&rsquo;s words</h2>\r\n\r\n<p>&lsquo;Blessed is the one<br />\r\n&nbsp;&nbsp; who does not walk in step with the wicked<br />\r\nor stand in the way that sinners take<br />\r\n&nbsp;&nbsp; or sit in the company of mockers,<br />\r\nbut whose delight is in the law of the Lord,<br />\r\n&nbsp;&nbsp; and who meditates on his law day and night.<br />\r\nThat person is like a tree planted by streams of water,<br />\r\n&nbsp;&nbsp; which yields its fruit in season<br />\r\nand whose leaf does not wither &ndash;<br />\r\n&nbsp;&nbsp; whatever they do prospers&rsquo; (Psalm 1:1&ndash;3)</p>\r\n",
                    "new_testament": "<h2>2.&nbsp; Keep focused on Jesus as you read</h2>\r\n\r\n<p>&lsquo;You study the Scriptures diligently because you think that in them you have eternal life.&nbsp; These are the very Scriptures that testify about me&rsquo; (John 5:39).</p>\r\n",
                    "old_testament": "<h2>3. Keep putting God&rsquo;s word into practice</h2>\r\n\r\n<p>&lsquo;Now, Israel, hear the decrees and laws I am about to teach you.&nbsp; Follow them so that you may live and may go in and take possession of the land the Lord, the God of your ancestors, is giving you.&nbsp; Do not add to what I command you and do not subtract from it, but keep the commands of the Lord your God that I give you&rsquo; (Deuteronomy 4:1&ndash;2).</p>\r\n",
                    "pippa_adds": "<p>Hurray!&nbsp; A day off!</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                    "reference": null,
                    "updated": "2015-10-13 13:28:15",
                    "show_twitter": false,
                    "cartoon_key": "",
                    "language": "en",
                    "document_path": null,
                    "realday": "2015-03-03",
                    "status": null
                  },
                  "status": "in_progress",
                  "published": false,
                  "language": "zh",
                  "locale": "en",
                  "commentary_translations": [
                    {
                      "id": 92,
                      "locale": "en",
                      "field": "title",
                      "object": null,
                      "content": "Translation content for Title",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 93,
                      "locale": "en",
                      "field": "introduction",
                      "object": null,
                      "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 94,
                      "locale": "en",
                      "field": "psalm_proverbs",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 95,
                      "locale": "en",
                      "field": "new_testament",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 96,
                      "locale": "en",
                      "field": "old_testament",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                      "translated": false,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 97,
                      "locale": "en",
                      "field": "pippa_adds",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>Pippa Adds</strong></p>\n",
                      "translated": true,
                      "approved": false,
                      "language": "zh"
                    },
                    {
                      "id": 98,
                      "locale": "en",
                      "field": "reference",
                      "object": null,
                      "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n",
                      "translated": true,
                      "approved": false,
                      "language": "zh"
                    }
                  ]
                }
              ],
              "pager": {
                "totalItems": 1,
                "totalPages": 1,
                "currentPage": 1
              }
            }
            
## Read a single translation [/translations/{id}]

Return a single translation object including the default daily commentary (en).

### Read a single Translation [GET]

+ Parameters
    + id: `14` (number, required) - The value of translation's Id.
        
+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body

            {
              "id": 14,
              "commentary": {
                "did": null,
                "scheduled_for": null,
                "audio_path": null,
                "day_info": null,
                "cid": 63,
                "title": "Happy Leap Year!",
                "introduction": "<p>I wanted to write a brief note to encourage all of you taking part in the <em>Bible in One Year</em> challenge to keep going.&nbsp; Rick Warren has written that &lsquo;reading the Bible generates life, it produces change, it heals hurts, it builds character, it transforms circumstances, it imparts joy, it overcomes adversity, it defeats temptation, it infuses hope, it releases power, it cleanses the mind&rsquo;.&nbsp; I hope and pray that reading the <em>Bible in One Year</em> brings much benefit to your life, just as it has done to mine.</p>\r\n",
                "psalm_proverbs": "<h2>1.&nbsp; Keep delighting and meditating on God&rsquo;s words</h2>\r\n\r\n<p>&lsquo;Blessed is the one<br />\r\n&nbsp;&nbsp; who does not walk in step with the wicked<br />\r\nor stand in the way that sinners take<br />\r\n&nbsp;&nbsp; or sit in the company of mockers,<br />\r\nbut whose delight is in the law of the Lord,<br />\r\n&nbsp;&nbsp; and who meditates on his law day and night.<br />\r\nThat person is like a tree planted by streams of water,<br />\r\n&nbsp;&nbsp; which yields its fruit in season<br />\r\nand whose leaf does not wither &ndash;<br />\r\n&nbsp;&nbsp; whatever they do prospers&rsquo; (Psalm 1:1&ndash;3)</p>\r\n",
                "new_testament": "<h2>2.&nbsp; Keep focused on Jesus as you read</h2>\r\n\r\n<p>&lsquo;You study the Scriptures diligently because you think that in them you have eternal life.&nbsp; These are the very Scriptures that testify about me&rsquo; (John 5:39).</p>\r\n",
                "old_testament": "<h2>3. Keep putting God&rsquo;s word into practice</h2>\r\n\r\n<p>&lsquo;Now, Israel, hear the decrees and laws I am about to teach you.&nbsp; Follow them so that you may live and may go in and take possession of the land the Lord, the God of your ancestors, is giving you.&nbsp; Do not add to what I command you and do not subtract from it, but keep the commands of the Lord your God that I give you&rsquo; (Deuteronomy 4:1&ndash;2).</p>\r\n",
                "pippa_adds": "<p>Hurray!&nbsp; A day off!</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                "reference": null,
                "updated": "2015-10-13 13:28:15",
                "show_twitter": false,
                "cartoon_key": "",
                "language": "en",
                "document_path": null,
                "realday": "2015-03-03",
                "status": null
              },
              "status": "in_progress",
              "published": false,
              "language": "zh",
              "locale": "en",
              "commentary_translations": [
                {
                  "id": 92,
                  "locale": "en",
                  "field": "title",
                  "object": null,
                  "content": "Translation content for Title",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 93,
                  "locale": "en",
                  "field": "introduction",
                  "object": null,
                  "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 94,
                  "locale": "en",
                  "field": "psalm_proverbs",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 95,
                  "locale": "en",
                  "field": "new_testament",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 96,
                  "locale": "en",
                  "field": "old_testament",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                  "translated": false,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 97,
                  "locale": "en",
                  "field": "pippa_adds",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>Pippa Adds</strong></p>\n",
                  "translated": true,
                  "approved": false,
                  "language": "zh"
                },
                {
                  "id": 98,
                  "locale": "en",
                  "field": "reference",
                  "object": null,
                  "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n",
                  "translated": true,
                  "approved": false,
                  "language": "zh"
                }
              ]
            }
            
## Create Translation [/translations]

Create translation for daily commentary.

### Create Translation [POST]

+ Request

    + Headers

             Authorization: Bearer {access_token}
             
    + Body
    
            {
                "commentary": "1009",
                "language": "gb",
                "locale": "en",
                "status": "ready",
                "translations": {
                        "introduction": {
                            "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                            "translated": true
                        },
                        "newTestament": {
                            "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                            "translated": true
                        },
                            
                        "oldTestament": {
                            "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                            "translated": true
                        },
                        "pippaAdds": {
                            "content": "<p>test</p>",
                            "translated": true
                        },
                        "psalmProverbs": {
                            "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                            "translated": true
                        },
                        "reference": {
                            "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n", 
                            "translated": true
                        },
                        "title": {
                            "content": "Translation content for Title",
                            "translated": true
                        }
                    }
            }

+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            {
              "id": 17,
              "commentary": {
                "did": 262,
                "scheduled_for": null,
                "audio_path": null,
                "day_info": "Psalm 108:6-13, Galatians 4:21-5:6, Isaiah 44:24-46:13",
                "cid": 1009,
                "title": "Cry Freedom",
                "introduction": "<p>He had no one to help him become a lawyer or a politician. He was not interested in the army. He had no desire to be a doctor. Therefore, the only obvious career move in those days for a man of his background was to become a clergyman in the Church of England.</p>\r\n\r\n<p>He tried to make himself acceptable to God by keeping the whole law, inwardly and outwardly. He got up early. He prayed. He denied himself. He tried to earn forgiveness and peace by increased effort. But he &lsquo;groaned under a heavy yoke&rsquo;.</p>\r\n\r\n<p>On 24 May, 1738 at 8.45am he heard someone reading a book by the great reformer, Martin Luther. He later recalled, &lsquo;While he was describing the change which God works in the heart through faith in Christ, <em>I felt my heart strangely warmed</em>. I felt I did trust in Christ, Christ alone for salvation; and an assurance was given [to] me that He had taken away my sins, even mine, and saved me from the law of sin and death.&rsquo;</p>\r\n\r\n<p>John Wesley became one of the greatest preachers ever, preaching over 40,000 sermons centred on freedom through faith in Jesus Christ. He had, as he put it, &lsquo;<em>exchanged the faith of a servant for the faith of a son</em>&rsquo;.</p>\r\n\r\n<p>Jesus Christ is the supreme liberator, and becoming a Christian is the supreme act of liberation. &lsquo;Freedom&rsquo; is the word that best sums up the Christian life.</p>\r\n",
                "psalm_proverbs": "<h2>1. Cry out for freedom</h2>\r\n\r\n<p>David knew that God loved him, and he prayed that God would save and help him. &lsquo;Save us and help us with your right hand, that those you love may be delivered&rsquo; (v.6). To be saved is to be <em>set free</em>.</p>\r\n\r\n<p>If you are facing some difficult challenge in your life, pray like David:<br />\r\n&lsquo;Give us help for the hard task;<br />\r\n&nbsp;&nbsp; human help is worthless.<br />\r\nIn God we&rsquo;ll do our very best&rsquo;<br />\r\n(vv.12&ndash;13a, MSG).</p>\r\n\r\n<blockquote>\r\n<p>Lord, thank you that you love me, help me and set me free. Thank you so much for all the ways in which you have helped me in the past. Lord, today I pray for your help with ...</p>\r\n</blockquote>\r\n",
                "new_testament": "<h2>2. Live a life of freedom</h2>\r\n\r\n<p>According to Paul&rsquo;s teaching in today&rsquo;s passage, freedom comes through Jesus Christ. His message is that we are not &lsquo;born free&rsquo; but that in order to be free, we must be &lsquo;born again&rsquo;. True freedom is found in a life of faith in Christ.</p>\r\n\r\n<p>Many ideas of freedom fail because they do not realise the true nature of our captivity. A belief in freedom as the birthright of a particular group of people has often given birth to malignant nationalism and racism. It has produced some of the gravest evils of recent times, including Nazism and Apartheid.</p>\r\n\r\n<p>The title of the film <em>Cry Freedom </em>expresses something we all long for. Whether it&rsquo;s racial and political freedom (as in the case of this film), free speech, free assembly, free worship, a free conscience, or economic freedom and individual freedom, the whole world cries out for freedom.</p>\r\n\r\n<p>All of these forms of freedom are important, but you can have them all and still be in slavery. Alternatively, you can have none of them but still be free. The gospel contains within it the promise of other forms of freedom, but it begins with a freedom that is more profound than any other.</p>\r\n\r\n<p>&lsquo;Christ has set us free to live a free life&rsquo; (5:1, MSG). Jesus sets us free to live a life of freedom, faith and love through the Spirit. Paul&rsquo;s opponents, &lsquo;the Judaisers&rsquo;, boasted about the fact that they were Abraham&rsquo;s children. Paul used an allegorical argument to confront them. (It is interesting to note in passing that Paul was quite happy to interpret the Old Testament figuratively (4:24).)</p>\r\n\r\n<p>Paul said to his opponents that there are two ways in which we can live &ndash; in bondage or in freedom. He explains that there are two covenants: &lsquo;You boast of being Abraham&rsquo;s children &ndash; but Abraham actually had two children &ndash; one in bondage and one in freedom.&rsquo; True descent from Abraham is not physical, but spiritual. It is not enough to have Abraham as your father. The crucial question is, &lsquo;Who is your mother?&rsquo;</p>\r\n\r\n<p>He argued that by his opponents&rsquo; insistence on the law, they were, in fact, children of Hagar. This analogy represents the old covenant, the present city of Jerusalem, Ishmael, the child of the flesh, and a life of bondage (v.25). This is the life John Wesley experienced before his conversion. It is a life of frustration and failure, confusion and defeat.</p>\r\n\r\n<p>To be a Christian, on the other hand, is to be a child not only of Abraham, but also of Sarah. Sarah represents the new covenant, the new Jerusalem (&lsquo;the Jerusalem that is above&rsquo;, v.26), Isaac (the child of promise, v.28) and the freedom that is in Christ. This is what Wesley experienced the day he trusted in Christ and Christ alone for salvation. His heart was &lsquo;strangely warmed&rsquo;. This is the way of peace, joy and freedom.</p>\r\n\r\n<p>Incidentally, this passage is the origin of Mothering Sunday &ndash; which has morphed into Mother&rsquo;s Day. Paul saw the Jerusalem described above as a representation of the Christian church, as foretold in Isaiah 54:1, and &lsquo;she is our mother&rsquo; (Galatians 4:26), i.e. the church is our mother. (Mothering Sunday was originally a day when Christians celebrated the &ldquo;mother church&rdquo;.)</p>\r\n\r\n<p>Paul pointed out that just as Ishmael ridiculed Isaac (see Genesis 21:9), the Galatians who are &lsquo;born by the power of the Spirit&rsquo; (v.29) should not be surprised that they are being persecuted by these &lsquo;Judaisers&rsquo;.</p>\r\n\r\n<p>He concluded his argument in this section by saying, &lsquo;We are not children of the slave woman, but of the free woman&rsquo; (v.31). He continued, &lsquo;It is for freedom that Christ has set us free. Stand firm, then, and do not let yourselves be burdened again by a yoke of slavery&rsquo; (5:1&ndash;2). The picture is of an ox bowed down with a heavy harness.</p>\r\n\r\n<p>&lsquo;Circumcision&rsquo; was the theological symbol standing for a religion of law (vv.2&ndash;3). Paul argued that to add circumcision is to lose Christ. To seek to be justified by works is to fall away from grace (v.4).</p>\r\n\r\n<p>The Christian life is a life of faith. We do not work for our salvation; we wait for it (v.5). Meanwhile, &lsquo;The only thing that counts is faith expressing itself through love&rsquo; (v.6b).</p>\r\n\r\n<blockquote>\r\n<p>Lord, thank you for setting me free in order that I might live a life of freedom. Thank you for the freedom the Holy Spirit brings to my life. Help me to express my faith in love today.</p>\r\n</blockquote>\r\n",
                "old_testament": "<h2>3. Tell the good news of freedom</h2>\r\n\r\n<p>God&rsquo;s love extends to every person, of every nation, from the moment of conception onwards. Part of his original plan in choosing Israel was that they would bring his blessing to all people (Genesis 12:3).</p>\r\n\r\n<p>God is the creator of the heavens and the earth. He is our maker. There is no other. The book of Isaiah repeats this over and over again for emphasis. Ten times this passage says, &lsquo;There is no other.&rsquo;</p>\r\n\r\n<p>God is our maker. He &lsquo;formed you in the womb&rsquo; (Isaiah 44:24). God&rsquo;s love extends before birth to conception and the womb; this has profound implications for how we treat the unborn. Every human being from the moment of conception is created and sustained by God. &lsquo;I have upheld [you] <em>since you were conceived</em>&rsquo; (46:3b).</p>\r\n\r\n<p>God&rsquo;s love extends beyond Israel to <em>all the nations </em>as well. Since he is the creator of all, God invites all the nations to participate in salvation and freedom. &lsquo;So turn to me and be helped &ndash; saved! &ndash; everyone, whoever and wherever you are&rsquo; (45:22a, MSG). This promises a freedom greater than any the world can offer.</p>\r\n\r\n<p>Here, we get a glimpse of the entire world bowing before Jesus. &lsquo;Before me every knee will bow; by me every tongue will swear&rsquo; (v.23b). Paul referred to this verse as a reference to Jesus (Philippians 2:9 onwards).</p>\r\n\r\n<p>This was a foretaste too, of the fact that God will use people who are &lsquo;Gentiles&rsquo;, that is, non-Jewish. Cyrus was a Persian and yet he is described here as the Lord&rsquo;s anointed (Isaiah 45:1). Isaiah prophesies, &lsquo;I will raise up Cyrus in my righteousness: I will make all his ways straight. He will rebuild my city and set my exiles <em>free</em>&rsquo; (v.13). This prophecy was fulfilled when the exile came to an end through the hand of Cyrus.</p>\r\n\r\n<p>This was God&rsquo;s plan. He said, &lsquo;My purpose will stand, and I will do all that I please. From the east I summon a bird of prey; from a far-off land, a man <em>to fulfil my purpose</em>. What I have said, that will I bring about; what <em>I have planned, that will I do</em>&#39; (46:10b&ndash;11). You can be confident that nothing can thwart God&rsquo;s plan for you.</p>\r\n\r\n<blockquote>\r\n<p>Lord, thank you that from the moment of conception, you love all people regardless of race or background. Thank you that Jesus has set us free and that, one day, every knee will bow and every tongue will confess that Jesus Christ is Lord.</p>\r\n</blockquote>\r\n",
                "pippa_adds": "<p><strong>Galatians 5:1</strong></p>\r\n\r\n<p>&lsquo;It is for freedom that Christ has set us free. Stand firm, then, and do not let yourselves be burdened again by a yoke of slavery.&rsquo;</p>\r\n\r\n<p>It is a wonderful truth; Christ does set us free from sins, addictions, fears and bad habits. I know that freedom myself and have seen many others totally transformed by the reality of this verse. We then have to continue to walk in that freedom and not be tempted back into those old habits, but keep claiming Christ&rsquo;s freedom and the power of the cross.</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                "reference": null,
                "updated": "2015-10-15 06:33:38",
                "show_twitter": false,
                "cartoon_key": "",
                "language": "en",
                "document_path": null,
                "realday": "2015-09-18",
                "status": "ready"
              },
              "status": "ready",
              "published": false,
              "language": "gb",
              "locale": "en",
              "commentary_translations": []
            }
    
## Update Translation [/translations/{translationId}]

Update translation for daily commentary.

### Update Translation [PUT]

+ Parameters
    + translationId: `1008` (number, required) - The value of translations Id.

+ Request

    + Headers

             Authorization: Bearer {access_token}
             
    + Body
    
            {
                "commentary": "1008",
                "language": "zh",
                "locale": "zh",
                "status": "ready",
                "translations": {
                    "introduction": {
                        "id": 100,
                        "content": "<p>translation content for introduction</p>",
                        "translated": true
                        
                    },
                    "newTestament": {
                        "id": 102, 
                        "content": "<p>translation content for newTestament",
                        "translated": true
                    },
                    "oldTestament": {
                        "id": 103,
                        "content": "<p>translation content for oldTestament</p>",
                        "translated": true
                    },
                    "pippaAdds": {
                        "id": 104,
                        "content": "<p>translation content for pippaAdds</p>",
                        "translated": true
                    },
                    "psalmProverbs": {
                        "id": 101,
                        "content": "<p>translation content for psalmProverbs</p>",
                        "translated": true
                    },
                    "reference": {
                        "id": 105,
                        "content": "<p>translation content for reference</p>",
                        "translated": true
                    },
                    "title": {
                        "id": 99,
                        "content": "<p>translation content for title</p>",
                        "translated": true
                    }
                }
            }

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Body
    
            {
              "id": 14,
              "commentary": {
                    "did": 258,
                    "scheduled_for": null,
                    "audio_path": null,
                    "day_info": "Psalm 107:23-32, Galatians 2:1-10, Isaiah 36:1-37:38",
                    "cid": 1008,
                    "title": "How to Respond to a Crisis",
                    "introduction": "<p>President J.F. Kennedy once remarked that &lsquo;when written in Chinese, the word &ldquo;crisis&rdquo; is composed of two characters. One represents danger, and the other represents opportunity.&rsquo; Every crisis is, at the same time, an opportunity.</p>\r\n\r\n<p>All of us have problems. Many of us will face crises. How do we respond to a time of trouble, danger or great difficulty? What do we do about a crisis in our personal lives? How do we respond to a crisis in the church or in our nation? What do we do when we are &lsquo;at [our] wits&rsquo; end&rsquo;? (Psalm 107:27). What do we do when the &lsquo;truth of the gospel&rsquo; is at stake? (Galatians 2:5). How do we respond to &lsquo;a black day&rsquo; in our lives? (Isaiah 37:3, MSG).</p>\r\n",
                    "psalm_proverbs": "<h2>1. Cry out to the Lord in prayer</h2>\r\n\r\n<p>There may be times in your life when you face major storms. A &lsquo;tempest&rsquo; seems to blow and the waves are &lsquo;lifted high&rsquo; (v.25). Your courage melts away (v.26b) and you reach your wits&rsquo; end (vv.26&ndash;27). You hit a crisis and cannot work out how to get out of it.</p>\r\n\r\n<p>This psalm tells us how to respond. The people:<br />\r\n&lsquo;called out to God in [their] desperate condition;<br />\r\n&nbsp;&nbsp; he got [them] out in the nick of time.<br />\r\nHe quieted the wind down to a whisper,<br />\r\n&nbsp;&nbsp; put a muzzle on all the big waves<br />\r\nAnd [they] were so glad when the storm died down,<br />\r\n&nbsp;&nbsp; and he led [them] safely back to harbour&rsquo; (vv.28&ndash;30, MSG).</p>\r\n\r\n<p>When God answers your cry for help don&rsquo;t forget to thank him:<br />\r\n&lsquo;So thank God for his marvellous love,<br />\r\n&nbsp;&nbsp; for his miracle mercy to the children he loves.<br />\r\nLift high your praises when the people assemble,<br />\r\n&nbsp;&nbsp; shout Hallelujah when the elders meet!&rsquo; (vv.31&ndash;32, MSG).</p>\r\n\r\n<blockquote>\r\n<p>Lord, thank you for the many times you have heard me and rescued me when I cried out to you in my distress. Lord, I cry out to you today for help in my own life &hellip; I cry out to you for the church in this country, for our nation, and for our world.</p>\r\n</blockquote>\r\n",
                    "new_testament": "<h2>2. Use skill, diplomacy and courage</h2>\r\n\r\n<p>As we saw yesterday, sometimes we may be tempted to look down on other parts of the church, other denominations or other Christians and wish they were more like us! If only they did things more like us they would be &lsquo;proper&rsquo; Christians or &lsquo;better&rsquo; Christians! In thinking like this we are, in effect, denying that faith in Jesus is enough.</p>\r\n\r\n<p>This is what was happening to the churches in Galatia. They were being told that their faith in Jesus was not enough. If they wanted to be &lsquo;real&rsquo; Christians, they needed to be circumcised.</p>\r\n\r\n<p>The early church was facing a potential crisis, and the apostle Paul had to use every ounce of his skill, diplomacy and courage to avoid a damaging division and split in the church.</p>\r\n\r\n<p>Paul wants to make clear that he acted under the guidance and activity of the Holy Spirit: &lsquo;I went in response to a revelation&rsquo; (v.2). Paul was convinced of the validity of the gospel he preached, but was also concerned for unity: &lsquo;I did this in private with the leaders &hellip; so that our concern would <em>not become a controversial public issue</em>&rsquo; (v.2, MSG).</p>\r\n\r\n<p>He took with him two friends: Barnabas and Titus. Barnabas was a Jew and Titus was a Greek (an uncircumcised Gentile). For a first-century Jew there were two kinds of people in the world: Jewish and Greek (circumcised and uncircumcised). Circumcision was a sign that marked out a Jew, in accordance with God&rsquo;s command in Genesis 17:9&ndash;14. It signified God&rsquo;s covenant with his chosen people.</p>\r\n\r\n<p>Yet, Paul chose Titus as one of his companions. &lsquo;Significantly, Titus, non-Jewish though he was, was not required to be circumcised&rsquo; (Galatians 2:3, MSG). Paul&rsquo;s point in the section that follows is that the Jerusalem apostles (James, Peter and John) agreed that the good news of Jesus Christ was for everyone: Jew and Gentile, circumcised and uncircumcised.</p>\r\n\r\n<p>Paul was forced to defend the &lsquo;freedom we have in Christ Jesus&rsquo; (v.4). True freedom is only found through faith in Christ. The necessity of circumcision for justification before God would &lsquo;make us slaves&rsquo; (v.4).</p>\r\n\r\n<p>If they had yielded to the demands for circumcision of Gentile converts, they would have denied the very essence of the gospel. The purpose of this letter was to explain &lsquo;the <em>truth </em>of the gospel&rsquo; (v.5). Paul wanted to demonstrate that Jesus&rsquo; life, death and resurrection had fulfilled <em>all </em>the requirements of the law of Moses.</p>\r\n\r\n<p>The meeting in Jerusalem was to resolve the circumcision question. The ruling reached was one of the most important ever made in the history of Christianity. The decision here prevented a ruinous division within the church.</p>\r\n\r\n<p>Not only was the issue resolved, but also the gospel preached by Peter and Paul was firmly established as being <em>one and the same </em>(v.6). The leaders in Jerusalem recognised that Paul&rsquo;s apostleship bore all the marks of God-given authority.</p>\r\n\r\n<p>Peter and the others accepted Paul and agreed a division of responsibility &ndash; Paul for the non-Jews and Peter for the Jews. The same gospel would be brought to two different spheres by different people. They shook hands on it as a sign that the agreement would be honoured (vv.7&ndash;9). This was a monumental moment for the early church.</p>\r\n\r\n<p>It is important to note that the parties had a sensible and detailed discussion about their differences. Paul refused to be overawed, although those he met were &lsquo;reputed to be pillars&rsquo; (v.9). This was, after all, quite a group to take on! James had presumably already become leader of the Jerusalem church. Peter and John were both members of Jesus&rsquo; inner circle.</p>\r\n\r\n<p>A pleasing agreement was reached. Paul seems to have acted with respect and courtesy despite being a determined man conscious of a special task. He would not allow opposition from without, nor discouragement from within, to stop him from doing what he felt called to do.</p>\r\n\r\n<p>The only condition that the Jerusalem leaders stipulated caused no problem for Paul: &lsquo;to remember the poor&rsquo; (v.10). The church must always prioritise the poor and disadvantaged in society.</p>\r\n\r\n<blockquote>\r\n<p>Lord, as the church faces theological debates and a potential crisis of disunity, give us the skill, diplomacy and courage that the apostle Paul had. Help us to recognise that different people have different callings and different roles to play. Help us, like Paul, to embrace the entire church of Jesus Christ, and not add our own ideas and human requirements to what is needed to be a Christian.</p>\r\n</blockquote>\r\n",
                    "old_testament": "<h2>3. Bring to the Lord the &lsquo;impossible&rsquo; situation</h2>\r\n\r\n<p>Have you ever been taunted or mocked for your faith in God? &lsquo;Do you really think that God is with you?&rsquo; they say. &lsquo;Isn&rsquo;t it just your imaginary friend?&rsquo;; &lsquo;Do you really think that trusting in God is going to do you any good?&rsquo; This is the way God&rsquo;s people have been taunted throughout history.</p>\r\n\r\n<p>Israel faced a crisis that seemed an impossible situation. This is such an important incident in Israel&rsquo;s history that it appears three times in the Bible (see 2 Kings 18, 2 Chronicles 32). Sennacherib, King of Assyria, was attacking Jerusalem with a huge army. His minions were <em>taunting </em>the people, &lsquo;On what are you basing this confidence of yours?&rsquo; (Isaiah 36:4). They were being taunted and ridiculed for their faith in God.</p>\r\n\r\n<p>It must have been a terrifying situation. They were facing having to eat their own excrement and drink their own urine (v.12). They were told their God could not deliver them (v.15). No one else had ever been delivered out of the &lsquo;hand of the king of Assyria&rsquo; (v.18).</p>\r\n\r\n<p>King Hezekiah responded to the crisis by tearing his clothes, putting on sackcloth and going into the temple of the Lord (37:1). He sent for the prophet Isaiah. Hezekiah said, &lsquo;This is a black day. We&rsquo;re <em>in crisis</em>&rsquo; (v.3, MSG). Hezekiah asked Isaiah to pray (v.4).</p>\r\n\r\n<p>Isaiah responded by saying that God&rsquo;s message was: &lsquo;Don&rsquo;t be upset by what you&rsquo;ve heard ... I personally will take care of him&rsquo; (vv.6&ndash;7, MSG).</p>\r\n\r\n<p>When Hezekiah received a threatening letter, he went up to the house of the Lord, <em>spread it out before the Lord </em>and prayed: &lsquo;O Lord Almighty &hellip; you alone are God over all the kingdoms of the earth. You have made heaven and earth. Give ear, O Lord, and hear; open your eyes, O Lord and see; listen to all the words Sennacherib has sent to insult the living God &hellip; Now, O Lord our God, deliver us from his hand, so that all kingdoms on earth may know that you alone, O Lord, are God&rsquo; (vv.14&ndash;20).</p>\r\n\r\n<p>Isaiah sent him a message, &lsquo;This is what the Lord, the God of Israel, says: <em>Because you have prayed to me </em>&hellip; I will defend this city and save it, for my sake and for the sake of David my servant!&rsquo; (vv.21,35)</p>\r\n\r\n<p>God heard the prayer of Hezekiah and Isaiah and he rescued and delivered his people (vv.36&ndash;38).</p>\r\n\r\n<blockquote>\r\n<p>Lord, we face a real crisis in our culture, our nation and our world. The name of Jesus is no longer honoured in our society. Lord, would you pour out a spirit of prayer and supplication on your people so that we may turn to you in prayer. Lord, hear our prayer and deliver us in this time of crisis.</p>\r\n</blockquote>\r\n",
                    "pippa_adds": "<p><strong>Galatians 2:10</strong></p>\r\n\r\n<p>&lsquo;All they asked was that we should continue to remember the poor, the very thing I was eager to do.&rsquo;</p>\r\n\r\n<p>I am eager to remember the poor too, but occasionally I feel too overwhelmed, or too preoccupied or disillusioned by someone taking me for a ride. I need not to be put off, but to keep remembering.</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<p>&nbsp;</p>\r\n\r\n<h6>Notes:</h6>\r\n\r\n<h6>Unless otherwise stated, Scripture quotations taken from the Holy Bible, New International Version Anglicised, Copyright &copy; 1979, 1984, 2011 Biblica, formerly International Bible Society. Used by permission of Hodder &amp; Stoughton Publishers, an Hachette UK company. All rights reserved. &lsquo;NIV&rsquo; is a registered trademark of Biblica. UK trademark number 1448790.</h6>\r\n\r\n<h6>Scripture quotations marked (AMP) taken from the Amplified&reg; Bible, Copyright &copy; 1954, 1958, 1962, 1964, 1965, 1987 by The Lockman Foundation. Used by permission. (www.Lockman.org)</h6>\r\n\r\n<h6>Scripture marked (MSG) taken from The Message. Copyright &copy; 1993, 1994, 1995, 1996, 2000, 2001, 2002. Used by permission of NavPress Publishing Group.&nbsp;</h6>\r\n",
                    "reference": null,
                    "updated": "2015-10-15 07:04:37",
                    "show_twitter": false,
                    "cartoon_key": "",
                    "language": "en",
                    "document_path": null,
                    "realday": "2015-09-14",
                    "status": "ready"
              },
              "status": "ready",
              "published": false,
              "language": "zh",
              "locale": "zh",
              "commentary_translations": [
                {
                    "id": 92,
                    "locale": "en",
                    "field": "title",
                    "object": null,
                    "content": "Translation content for Title",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 93,
                    "locale": "en",
                    "field": "introduction",
                    "object": null,
                    "content": "<p>Translation content for <strong>Introduction</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 94,
                    "locale": "en",
                    "field": "psalm_proverbs",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Psalm / Proverbs</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 95,
                    "locale": "en",
                    "field": "new_testament",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>New Testament</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 96,
                    "locale": "en",
                    "field": "old_testament",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Old Testament</strong></p>\n",
                    "translated": false,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 97,
                    "locale": "en",
                    "field": "pippa_adds",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>Pippa Adds</strong></p>\n",
                    "translated": true,
                    "approved": false,
                    "language": "zh"
                },
                {
                    "id": 98,
                    "locale": "en",
                    "field": "reference",
                    "object": null,
                    "content": "<p>Translation content for&nbsp;<strong>References</strong></p>\n",
                    "translated": true,
                    "approved": false,
                    "language": "zh"
                }
              ]
            }
    

# Group Users

Manage the user access & groups

# Group Languages

Manage the Language codes on the system

### Create a Language [POST]

### List Languages [GET]

### Read language [GET]

### Update Language [PUT]

### Delete Language [DELETE]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204 (text/html; charset=UTF-8)

    + Headers

            Accept: application/json

# Search

Supports search functions from mobile

# Group Mailchimp

## Submit Campaign

Create a new Mailchimp campaign.  Build and submit the HTML commentary and create a scheduled timewarp campaign.

## List Campaign

List all the processed campaigns with:

- Scheduled date
- Timewarp start date/time based on London Time
- Title of Campaign
- stats - subscribers, opens, clicks for sent campaigns

## Delete Campaign

Remove a Mailchimp campaign.

# Group Dashboard

## Statistics

### Apple

### Android

### Amazon Kindle

### Mailchimp

### YouVersion




# Group Highlights

Resources related to storing and fetching user highlights. **User authentication/filtering not implemented yet**

## Highlights Collection [/highlights{?limit,page}]

Fetch all highlights made by a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Highlights [GET]

_highlightedLocation_ should be stored as a serialized array in the database

+ Response 200 (application/json)
    + Body
        
            {
                "highlights": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "highlightedFrom": "psalm_proverbs",
                        "highlightedText": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#FF0000",
                        "created": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "commentary",
                        "highlightedText": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#CCCCCC",
                        "created": "2014-10-05T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "new_testament",
                        "highlightedText": "Praesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "color": "#FF0000",
                        "created": "2014-10-06T09:33:56+0000"
                    }
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Highlight [POST]

+ commentaryId (number)
+ highlightedFrom (enum[string]) - Options: commentary, psalm_proverbs, new_testament, old_testament
+ highlightedText (string)
+ highlightedLocation (array) - Serialize array when storing in database
+ color (string) - HEX

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 245,
                "highlightedFrom": "old_testament",
                "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                "highlightedLocation: [
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "is accumsan, in rutrum odio sodales. Vestibulum ",
                        "3:5",
                        35,
                        48
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                        "3:7",
                        0,
                        108
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "ante ipsum",
                        "3:6:0",
                        0,
                        10
                    ]
                ],
                "color": "#FF0000"
            }

+ Response 201 (application/json)
    + Body
            
            {
                "highlight": {
                    "id": 234,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "color": "#FF0000",
                    "created": "2014-10-06T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Highlight [/highlights/{id}]

+ Parameters
    + id: `2` (number, required) - The ID of the highlight to delete.

### Delete a Highlight [DELETE]

+ Request (application/json)

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Notes

Resources related to storing and fetching user notes. **User authentication/filtering not implemented yet**

## Notes Collection [/notes{?limit,page}]

Fetch all notes made by a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Notes [GET]

+ Response 200 (application/json)
    + Body
        
            {
                "notes": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "highlightedFrom": "psalm_proverbs",
                        "highlightedText": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "commentary",
                        "highlightedText": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1228,
                        "highlightedFrom": "new_testament",
                        "highlightedText": "Praesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "highlightedLocation: [
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "is accumsan, in rutrum odio sodales. Vestibulum ",
                                "3:5",
                                35,
                                48
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                                "3:7",
                                0,
                                108
                            ],
                            [
                                "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                                "ante ipsum",
                                "3:6:0",
                                0,
                                10
                            ]
                        ],
                        "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    }
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Note [POST]

+ commentaryId (number)
+ highlightedFrom (enum[string]) - Options: commentary, psalm_proverbs, new_testament, old_testament
+ highlightedText (string)
+ highlightedLocation (array) - Serialize array when storing in database
+ note (string) - Plaintext no HTML

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 245,
                "highlightedFrom": "old_testament",
                "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                "highlightedLocation: [
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "is accumsan, in rutrum odio sodales. Vestibulum ",
                        "3:5",
                        35,
                        48
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                        "3:7",
                        0,
                        108
                    ],
                    [
                        "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                        "ante ipsum",
                        "3:6:0",
                        0,
                        10
                    ]
                ],
                "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et."
            }

+ Response 201 (application/json)
    + Body
            
            {
                "note": {
                    "id": 2323,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Note [/notes/{id}]

Unlike highlights notes should be __soft-deletable__

+ Parameters
    + id: `2` (number, required) - The ID of the note.

### Update a Note [PUT]

+ note (string) - Plaintext no HTML

+ Request (application/json)
    + Body
            
            {
                "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et."
            }

+ Response 200 (application/json)
    + Body
            
            {
                "note": {
                    "id": 2323,
                    "commentaryId": 245,
                    "highlightedFrom": "old_testament",
                    "highlightedText": "Morbi leo risus, porta ac consectetur ac, vestibulum at eros?",
                    "highlightedLocation: [
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "is accumsan, in rutrum odio sodales. Vestibulum ",
                            "3:5",
                            35,
                            48
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            " primis in faucibus\n                    orci luctus et ultrices posuere cubilia Curae; Sed at tempus mauris.",
                            "3:7",
                            0,
                            108
                        ],
                        [
                            "<span class=\"highlighted\" data-timestamp=\"1440150908477\" style=\"background-color: rgb(255, 255, 123);\" data-highlighted=\"true\"></span>",
                            "ante ipsum",
                            "3:6:0",
                            0,
                            10
                        ]
                    ],
                    "note": "Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.\n\nPraesent commodo cursus magna, vel scelerisque nisl consectetur et.",
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-06T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Delete a Note [DELETE]

+ Request (application/json)

+ Response 204 (application/json)

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Group Reading Statuses

Resources related to storing and fetching user's read status. **User authentication/filtering not implemented yet**

## Reading Status Collection [/reading-statuses{?limit,page}]

Fetch all reading statuses of a user

+ Parameters
    + page: `2` (number, optional) - The page of results to return.
        + Default: `1`
    + limit: `25` (number, optional) - The number of results to return per page.
        + Default: `50`

### List all Reading Statuses [GET]

+ Response 200 (application/json)
    + Body
        
            {
                "readingStatuses": [
                    {
                        "id": 1,
                        "commentaryId": 1278,
                        "commentary": true,
                        "psalmProverbs": false,
                        "newTestament": false,
                        "oldTestament": true,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 2,
                        "commentaryId": 1279,
                        "commentary": true,
                        "psalmProverbs": true,
                        "newTestament": true,
                        "oldTestament": false,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                    {
                        "id": 3,
                        "commentaryId": 1280,
                        "commentary": true,
                        "psalmProverbs": false,
                        "newTestament": false,
                        "oldTestament": false,
                        "created": "2014-10-04T09:33:56+0000",
                        "updated": "2014-10-04T09:33:56+0000"
                    },
                ],
                "pager": {
                    "totalItems": 3,
                    "totalPages": 1,
                    "currentPage": 1
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

### Create a Reading Status [POST]

+ commentaryId (number)
+ commentary (boolean)
+ psalmProverbs (boolean)
+ newTestament (boolean)
+ oldTestament (boolean)

+ Request (application/json)
    + Body
            
            {
                "commentaryId": 1280,
                "commentary": true,
                "psalmProverbs": false,
                "newTestament": false,
                "oldTestament": false
            }

+ Response 201 (application/json)
    + Body
            
            {
                "readingStatus": {
                    "id": 4
                    "commentaryId": 1280,
                    "commentary": true,
                    "psalmProverbs": false,
                    "newTestament": false,
                    "oldTestament": false,
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

## Read Status [/reading-statuses/{commentaryId}]

+ Parameters
    + commentaryId: `2` (number, required) - The ID of the commentary.

### Update a Reading Status [PUT]

+ commentary (boolean)
+ psalmProverbs (boolean)
+ newTestament (boolean)
+ oldTestament (boolean)

+ Request (application/json)
    + Body
            
            {
                "commentary": true,
                "psalmProverbs": false,
                "newTestament": false,
                "oldTestament": false
            }

+ Response 200 (application/json)
    + Body
            
            {
                "readingStatus": {
                    "id": 4
                    "commentaryId": 1280,
                    "commentary": true,
                    "psalmProverbs": false,
                    "newTestament": false,
                    "oldTestament": false,
                    "created": "2014-10-04T09:33:56+0000",
                    "updated": "2014-10-04T09:33:56+0000"
                }
            }

+ Response 400 (application/json)

+ Response 404 (application/json)

+ Response 500 (application/json)

# Data Structures

## Commentary Teaser (object)
    + cid - Internal system commentary ID.
    + did - The day number.
    + title - The title for the day.
    + realday - The real day number.
    + teaser - the short teaser text for each commentary.

## Pager (object)
    + totalItems (number) - total number of items
    + totalPages (number) - total number of pages
    + currentPage (number) - current page number
