FORMAT: 1A
HOST: https://api.acs-srv.com/bioy/2

# BiOY Version 2

This is the API for the Alpha International Bible In One Year. It allows clients to access and manage commentaries and related resources.

## Authentication

You will need to use an access token when making requests to any non-public endpoint.

# Group Public APIs

Resources related to viewing read only commentaries via the API.  These methods are used by various platforms to access the BiOY.

# BiOY API Root [/public/]

This resource does not have any attributes. Instead it offers the initial public
API affordances in the form of links in the JSON body, following the recommendations of [RCF 5988](https://tools.ietf.org/html/rfc5988).

These are templated links that can be translated to actual URLs programatically by replacing placeholders (in curly brackets)
by corresponding actual values.

## Retrieve the Entry Point [GET]

+ Response 200 (application/json)
    + Attributes
        + commentaries_get_url: `/bioy/2/public/getCommentary/{id}/{lang}` (string) - URL to get a commentary
        + commentaries_list_url: `/bioy/2/public/listCommentaries/{language}/{startDate}/{limit}/{page}` (string) - URL to get a list of commentary teasers
        + commentaries_full_url: `/bioy/2/public/listFullCommentariesByBatch/{language}/{startDate}/{endDate}/{limit}/{page}` (string) - URL to get a list of full commentaries

## Get Commentary  [/public/getCommentary/{commentary_id}/{lang}]

Return a single day full commentary object including the bible reading.  

+ Parameters
    + commentary_id (required, number, `1409`) ... ID of the commentary
    + lang (required, string, `zh_HANS`) ... iso language code

### Get Commentary Detail [GET]

+ Response 200 (application/json)
  + Attributes (Commentary)
## List Commentaries [/public/listCommentaries/{lang}/{start_date}/{ret_num}/{page_num}]

Get a list of Commentary teasers for a specified language and start date.

+ Parameters
    + lang (required, string, `es`) ... iso language code
    + start_date (required, date, `2015-06-01`) ... The ISO 8601 date of the day to list commentaries from (e.g. 2015-06-01)
    + page_num (optional, number, `1`) ... The page of commentaries to list
    + ret_num (optional, number, `3`) ... The number of commentaries to list

### List Commentaries [GET]
+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Commentary Teaser)
        + pager (Pager)            

## Batch List Commentaries [/public/listFullCommentariesByBatch/{lang}/{start_date}/{end_date}/{batch}]

Read multiple complete commentary objects in batched between two dates.  A commentary object has the following attributes:

+ Parameters
    + lang (required, string, `es`) ... 2 digit iso language code - defaults to 'en'
    + start_date (required, date, `2015-07-10`) ... The ISO 8601 date of the day to list commentaries from.
    + end_date (required, date, `2015-07-20`) ... The ISO 8601 date of the day to list commentaries to e.g. 2013-02-10
    + batch (required, integer, `5`) - The number of commentaries to return in the batch.

### Batch List Commentary Detail [GET]

+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Commentary)
        + pager (Pager)            

# Group Commentary functions

## Commentary [/commentaries]

Administer the Commentaries held on the Bible in One Year.

+ Attributes (object)
    + cid: 1234 (number) - Internal system commentary ID.
    + did: 152 (number) - The day number.
    + day_id: 152 (number) - Originally leap-year adjusted day. Now same as did (deprecated).
    + title: Wow! - The title for the day.
    + introduction: `<p>Judah Smith is a delightful, young Pentecostal pastor from Seattle, Washington. He is one of the best communicators that I have ever heard – especially to young people. When listening to others, his favourite expression is ‘Wow!’ For him it is an expression of respect, awe and reverence.</p> <p>There are many blessings to living in Western Europe in the twenty-first century. However, we live in a society in which respect, reverence and awe do not seem to be as valued as they once were.</p> <p>Each of the passages for today reflects on what these words mean and why they are important.</p>` - Introduction block in HTML.
    + psalm_proverbs: `<h2>1. Respect</h2> <p>A culture of respect underlies the book of Proverbs. We see three examples in this passage:</p> <ul> <li>Respect for the Lord<br /> ‘An honest life shows <em>respect </em>for God’ (14:2, MSG). As we have seen, the word ‘fear’ (NIV) is probably best understood as ‘respect’. Respect for the Lord is the starting point for respect in all our other relationships.</li> <li>Respect for the wise<br /> ‘Whoever walks with the wise grows wise’ (13:20). ‘Wise speech evokes nothing but <em>respect</em>’ (14:3, MSG). Our society increasingly devalues the wisdom that comes with age. Wisdom often (though not always) comes through the experience of a long life. There is a huge amount of untapped wisdom in older people in our society.</li> <li>Respect in the home<br /> ‘A refusal to correct is a refusal to love; love your children by disciplining them’ (13:24, MSG). This teaching has sometimes been abused by an over-literal interpretation. What the book of Proverbs is encouraging is a culture of respect in the family – respect for parents and also respect for children, which involves loving discipline.</li> </ul> <p class="rteindent1">As St Paul writes, ‘Do not exasperate your children; instead, bring them up in the training and instruction of the Lord’ (Ephesians 6:4).</p> <blockquote> <p>Lord, help us to gain wisdom as we spend time with those who are wise. Help us as a church community to model good parenting, combining love and discipline. Help us to live lives of uprightness in respect for the Lord.</p> </blockquote>` - The commentary for Psalms or Proverbs in HTML format.
    + new_testament: `<h2>2. Awe</h2> <p>Jesus really was raised from the dead. The tomb really was empty on Easter morning. Jesus’ followers really did meet him alive again. The resurrection did happen. The best historical explanation for the origin of Christianity is that it really is true. Jesus is alive today!</p> <p>John records four resurrection appearances of Jesus – the first three of which are in this passage. In these appearances we see not only some of the evidence, but also some of the results of the resurrection.</p> <ul> <li>Awe and amazement<br /> In the culture of the day, a woman’s testimony would not have been considered as weighty as that of a man. If the disciples had been making this up, they would not have devised the first appearance as being to Mary Magdalene.</li> </ul> <p class="rteindent1">This shows a huge amount about Jesus’ respect for women. By this act, and others during his life on earth, he laid the foundation for a revolution in the world’s attitude to women. Sadly, it has taken 2,000 years and we are still not there yet.</p> <p class="rteindent1">Jesus does not ask Mary what she is looking for. He asks, ‘<em>Who </em>is it you are you looking for?’ (v.15). It is not enough to know the evidence of the facts of the resurrection. We need a personal encounter with the resurrected Jesus.</p> <p class="rteindent1">The respect goes both ways. In Mary’s case it is one of awe and amazement. As she realised it was Jesus, she cried out in Aramaic, ‘“Rabboni!” (which means Teacher)’ (v.16), and rushed off to tell the disciples, ‘I have seen the Lord!’ (v.18).</p> <p class="rteindent1">The great theologian, C. H. Dodd, wrote of Jesus’ appearance to Mary that it ‘has something indefinably firsthand about it. It stands in any case alone. There is nothing quite like it in the Gospels. Is there anything quite like it in all ancient literature?’</p> <ul> <li>Joy and peace<br /> The world is desperately searching for happiness and peace of mind. The supreme source of joy and peace is a relationship with Jesus.</li> </ul> <p class="rteindent1">Jesus’ appearance to the disciples brought them overwhelming joy: ‘The disciples were <em>overjoyed </em>when they saw the Lord’ (v.20). Three times he says to them, ‘<em>Peace </em>be with you!’ (vv.19,21,26).</p> <p class="rteindent1">Faith in Jesus brings joy and peace to all who believe. Jesus said to Thomas, ‘Blessed and <em>happy </em>and to be envied are those who have never seen me and yet have believed and adhered to and trusted and relied on me’ (v.29, AMP).</p> <ul> <li>Purpose and power<br /> Jesus gives them a new sense of purpose: ‘As the Father has sent me, I am sending you’ (v.21). The resurrection is the message of hope for the world. If this life were all there was, it would ultimately be meaningless and purposeless. But Jesus Christ is risen from the dead. There is life beyond the grave. This gives your life on earth a whole new meaning and purpose. You are sent out by Jesus to proclaim this message to the world.</li> </ul> <p class="rteindent1">Finally, he also gave them power. He ‘breathed on them and said, “Receive the Holy Spirit. If you forgive the sins of anyone, their sins are forgiven; if you do not forgive them, they are not forgiven”’ (vv.22–23). The Holy Spirit provides the strength and ability for you to forgive.</p> <p class="rteindent1">The same power that raised Jesus from the dead is available to you. He gives you the power of his Holy Spirit and the power of his word to declare the message of God’s forgiveness to human beings. This is the message that brings eternal life.</p> <ul> <li>Respect and reverence<br /> Thomas was a cynic; sceptical and full of doubt. I think I would probably have had the same response as him when he said, ‘Unless I see the nail marks in his hands and put my finger where the nails were, and put my hand into his side, I will not believe it’ (v.25).</li> </ul> <p class="rteindent1">He must have felt so stupid when Jesus appeared to him and said, ‘Put your finger here; see my hands. Reach out your hand and put it into my side. Stop doubting and believe’ (v.27).</p> <p class="rteindent1">Do not feel guilty about having doubts. Like Thomas, be honest about your doubts and bring them to Jesus. When Jesus answered his doubts, Thomas’ response was the pinnacle of respect, reverence and awe. He said, ‘My Lord and my God!’ (v.28). From a place of having doubted, Thomas makes perhaps the strongest statement of Jesus’ divinity in all of the Gospels. He is the first person to look at Jesus and call him ‘God’. He said, in effect, ‘Wow!’</p> <p class="rteindent1">Jesus went on to tell him that belief leads to blessing (v.29). In fact, it leads to life. Belief and life go hand in hand in John’s Gospel (v.31), because, if you believe in Jesus you have life. This is <em>real </em>life of high quality, an abundant life (10:10) that goes on forever (3:16).</p> <p class="rteindent1">John’s whole reason for writing his Gospel was so that ‘you may believe that Jesus is the Christ, the Son of God, and that by believing you may have life in his name’ (20:31). As Tom Wright puts it, ‘Resurrection is the ground of Christian hope for life <em>before death</em>, as well as beyond it.’</p> <blockquote> <p>Jesus, my Lord and my God, today I worship you with awe and reverence. Thank you for giving me joy and peace, purpose in life and the power of the Holy Spirit to live within me.</p> </blockquote>` - The commentary for New Testament in HTML format.
    + old_testament: `<h2>3. Reverence</h2> <p>David’s attitude to Saul is a wonderful example of how to respond to those who try to do you harm. David did not seek revenge. He was not bitter. He treated Saul with the utmost respect. After all, God had used Saul greatly in the past. The fact that Saul had gone off the rails did not erase David’s respect.</p> <p>His attitude to Saul was quite extraordinary. He said to the Amalekite who claimed to have finished off Saul, ‘Why were you not afraid to lift your hand to destroy the Lord’s anointed?’ (v.14). In the light of 1 Samuel 31, the Amalekite may well have been trying to benefit from what would have been a perversion of the facts. He may have been a human vulture, who took the royal insignia from Saul to gain favour with David. In any event, it did him no good because of David’s reverence for Saul.</p> <p>David grieved over the death of his great friend Jonathan and over Saul (2 Samuel 1:19–27). Grief is a natural, necessary and healthy response to the death of those we love.</p> <p>Supremely, David reverenced God. He ‘enquired of the Lord’ (2:1). He asked, ‘Shall I go up to one of the towns of Judah?’ The Lord answered, ‘Go up.’ He then asked, ‘Where shall I go?’ The Lord answered, ‘To Hebron.’ David obeyed and was anointed king over the house of Judah.</p> <blockquote> <p>Lord, help us to have the same love that David had for all those you have anointed in leadership roles, whether they support us or whether they don’t. Help us never to take revenge but always to treat people with respect. Help us, most of all, to live a life of reverence and respect and obedience to you.</p> </blockquote>` - The commentary for Old Testament in HTML format.
    + pippa_adds: `<p><strong>John 20:10</strong></p> <p>I am so interested that, of all the people he could have appeared to, Jesus chose to appear first to Mary Magdalene. He did not go to his senior disciple (or even his mother!), but rather to a woman whom no one in the world rated as important.</p>` - The HTML text for Pippa Adds.
    + updated: `2015-06-01 09:04:45` - Time the item was last updated in Unix Time format.
    + show_twitter: false - Display the twitter links (boolean).
    + cartoon_key: `` - URL for cartoon.
    + deleted: false - Flag defining delete status (boolean)
    + scheduled_for: 1433116800 (number) - The mailchimp next scheduled datetime in Unix Time format.
    + day_of_year: 152 - The day number.
    + day (Day) - object container with Bible content with psalms, proverbs, new testament, old testament readings and text in HTML foramt.
    

### List commentaries [GET]

+ Request

    + Headers

            Authorization: Bearer {access_token}

  
+ Response 200 (application/json)

    + Attributes (object)
        + body (array)
            + (Commentary)
        + pager (Pager)

### Create a commentary [POST]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Body

  
+ Response 201 (application/json)

    + Attributes (Commentary)

    
### Read a single commentary [GET /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Attributes (Commentary)


### Update a Commentary [PUT /commentaries/{id}]

+ Request

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (array)
        + (object)
            + Include Commentary


+ Response 200 (application/json)

    + Attributes (array)
        + (object)
            + Include Commentary

### Delete Commentary [DELETE /commentaries/{id}]

+ Parameters
    + id (required, integer, `42`) ... Unique ID of the commentary

+ Request

    + Headers

            Authorization: Bearer {access_token}

+ Response 204

# Group Days functions

## Day [/days]

Manage day objects.
+ Attributes
  + did: 152 (number) - day ID
  + day_id: 152 (number) - leap year adjusted day ID (deprecated).
  + psalm - Psalms verse numbers
  + proverbs: `Proverbs 13:20-14:4` - Proverbs verse numbers
  + new_testament: `John 20:10-31` - New Testament verse numbers
  + old_testament: `2 Samuel 1:1-2:7` - Old Testament verse numbers
  + psalm_text - Psalms text in HTML format
  + proverbs_text: `<p class="line"><sup class="versenum">20 </sup>Walk with the wise and become wise,<br>    for a companion of fools suffers harm. </p> <p class="line"><sup class="versenum">21 </sup>Trouble pursues the sinner, <br>    but the righteous are rewarded with good things. </p> <p class="line"><sup class="versenum">22 </sup>A good person leaves an inheritance for their children’s children,<br>    but a sinner’s wealth is stored up for the righteous. </p> <p class="line"><sup class="versenum">23 </sup>An unplowed field produces food for the poor,<br>    but injustice sweeps it away.</p> <p class="line"><sup class="versenum">24 </sup>Whoever spares the rod hates their children,<br>    but the one who loves their children is careful to discipline them. </p> <p class="line"><sup class="versenum">25 </sup>The righteous eat to their hearts’ content,<br>    but the stomach of the wicked goes hungry. </p> <p class="line"><strong>14 </strong>The wise woman builds her house, <br>    but with her own hands the foolish one tears hers down.</p> <p class="line"><sup class="versenum">2 </sup>Whoever fears the Lord walks uprightly,<br>    but those who despise him are devious in their ways.</p> <p class="line"><sup class="versenum">3 </sup>A fool’s mouth lashes out with pride, <br>    but the lips of the wise protect them. </p> <p class="line"><sup class="versenum">4 </sup>Where there are no oxen, the manger is empty,<br>    but from the strength of an ox come abundant harvests.</p>` - Proverbs text in HTML format
  + new_testament_text: `<p><sup class="versenum">10 </sup>Then the disciples went back to where they were staying.</p> <h3>Jesus Appears to Mary Magdalene</h3><p><sup class="versenum">11 </sup>Now Mary stood outside the tomb crying. As she wept, she bent over to look into the tomb <sup class="versenum">12 </sup>and saw two angels in white, seated where Jesus’ body had been, one at the head and the other at the foot.</p> <p><sup class="versenum">13 </sup>They asked her, “Woman, why are you crying?” </p><p>“They have taken my Lord away,” she said, “and I don’t know where they have put him.” <sup class="versenum">14 </sup>At this, she turned around and saw Jesus standing there, but she did not realize that it was Jesus. </p> <p><sup class="versenum">15 </sup>He asked her, “Woman, why are you crying? Who is it you are looking for?”</p><p>Thinking he was the gardener, she said, “Sir, if you have carried him away, tell me where you have put him, and I will get him.”</p> <p><sup class="versenum">16 </sup>Jesus said to her, “Mary.”</p><p>She turned toward him and cried out in Aramaic, “Rabboni!” (which means “Teacher”).</p> <p><sup class="versenum">17 </sup>Jesus said, “Do not hold on to me, for I have not yet ascended to the Father. Go instead to my brothers and tell them, ‘I am ascending to my Father and your Father, to my God and your God.’”</p> <p><sup class="versenum">18 </sup>Mary Magdalene went to the disciples with the news: “I have seen the Lord!” And she told them that he had said these things to her.</p> <h3>Jesus Appears to His Disciples</h3><p><sup class="versenum">19 </sup>On the evening of that first day of the week, when the disciples were together, with the doors locked for fear of the Jewish leaders, Jesus came and stood among them and said, “Peace be with you!” <sup class="versenum">20 </sup>After he said this, he showed them his hands and side. The disciples were overjoyed when they saw the Lord.</p> <p><sup class="versenum">21 </sup>Again Jesus said, “Peace be with you! As the Father has sent me, I am sending you.” <sup class="versenum">22 </sup>And with that he breathed on them and said, “Receive the Holy Spirit. <sup class="versenum">23 </sup>If you forgive anyone’s sins, their sins are forgiven; if you do not forgive them, they are not forgiven.” </p> <h3>Jesus Appears to Thomas</h3><p><sup class="versenum">24 </sup>Now Thomas (also known as Didymus), one of the Twelve, was not with the disciples when Jesus came. <sup class="versenum">25 </sup>So the other disciples told him, “We have seen the Lord!”</p><p>But he said to them, “Unless I see the nail marks in his hands and put my finger where the nails were, and put my hand into his side, I will not believe.” </p> <p><sup class="versenum">26 </sup>A week later his disciples were in the house again, and Thomas was with them. Though the doors were locked, Jesus came and stood among them and said, “Peace be with you!” <sup class="versenum">27 </sup>Then he said to Thomas, “Put your finger here; see my hands. Reach out your hand and put it into my side. Stop doubting and believe.” </p> <p><sup class="versenum">28 </sup>Thomas said to him, “My Lord and my God!”</p> <p><sup class="versenum">29 </sup>Then Jesus told him, “Because you have seen me, you have believed; blessed are those who have not seen and yet have believed.” </p> <h3>The Purpose of John’s Gospel</h3><p><sup class="versenum">30 </sup>Jesus performed many other signs in the presence of his disciples, which are not recorded in this book. <sup class="versenum">31 </sup>But these are written that you may believe that Jesus is the Messiah, the Son of God, and that by believing you may have life in his name. </p>` - New Testament text in HTML format
  + old_testament_text: `<h3>David Hears of Saul’s Death </h3><p class="chapter-1"><strong>1 </strong>After the death of Saul, David returned from striking down the Amalekites and stayed in Ziklag two days. <sup class="versenum">2 </sup>On the third day a man arrived from Saul’s camp with his clothes torn and dust on his head. When he came to David, he fell to the ground to pay him honor. </p> <p><sup class="versenum">3 </sup>“Where have you come from?” David asked him.</p><p>He answered, “I have escaped from the Israelite camp.”</p> <p><sup class="versenum">4 </sup>“What happened?” David asked. “Tell me.”</p><p>“The men fled from the battle,” he replied. “Many of them fell and died. And Saul and his son Jonathan are dead.”</p> <p><sup class="versenum">5 </sup>Then David said to the young man who brought him the report, “How do you know that Saul and his son Jonathan are dead?”</p> <p><sup class="versenum">6 </sup>“I happened to be on Mount Gilboa, ” the young man said, “and there was Saul, leaning on his spear, with the chariots and their drivers in hot pursuit. <sup class="versenum">7 </sup>When he turned around and saw me, he called out to me, and I said, ‘What can I do?’</p> <p><sup class="versenum">8 </sup>“He asked me, ‘Who are you?’</p><p>“‘An Amalekite, ’ I answered.</p> <p><sup class="versenum">9 </sup>“Then he said to me, ‘Stand here by me and kill me! I’m in the throes of death, but I’m still alive.’</p> <p><sup class="versenum">10 </sup>“So I stood beside him and killed him, because I knew that after he had fallen he could not survive. And I took the crown that was on his head and the band on his arm and have brought them here to my lord.”</p> <p><sup class="versenum">11 </sup>Then David and all the men with him took hold of their clothes and tore them. <sup class="versenum">12 </sup>They mourned and wept and fasted till evening for Saul and his son Jonathan, and for the army of the Lord and for the nation of Israel, because they had fallen by the sword.</p> <p><sup class="versenum">13 </sup>David said to the young man who brought him the report, “Where are you from?”</p><p>“I am the son of a foreigner, an Amalekite, ” he answered.</p> <p><sup class="versenum">14 </sup>David asked him, “Why weren’t you afraid to lift your hand to destroy the Lord’s anointed? ”</p> <p><sup class="versenum">15 </sup>Then David called one of his men and said, “Go, strike him down!” So he struck him down, and he died. <sup class="versenum">16 </sup>For David had said to him, “Your blood be on your own head. Your own mouth testified against you when you said, ‘I killed the Lord’s anointed.’”</p> <h3>David’s Lament for Saul and Jonathan</h3><p><sup class="versenum">17 </sup>David took up this lament concerning Saul and his son Jonathan, <sup class="versenum">18 </sup>and he ordered that the people of Judah be taught this lament of the bow (it is written in the Book of Jashar): </p> <p class="line"><sup class="versenum">19 </sup>“A gazelle lies slain on your heights, Israel.<br>    How the mighty have fallen! </p> <p class="line"><sup class="versenum">20 </sup>“Tell it not in Gath, <br>    proclaim it not in the streets of Ashkelon, <br>lest the daughters of the Philistines be glad,<br>    lest the daughters of the uncircumcised rejoice. </p> <p class="line"><sup class="versenum">21 </sup>“Mountains of Gilboa, <br>    may you have neither dew nor rain, <br>    may no showers fall on your terraced fields.<br>For there the shield of the mighty was despised,<br>    the shield of Saul—no longer rubbed with oil. </p> <p class="line"><sup class="versenum">22 </sup>“From the blood of the slain,<br>    from the flesh of the mighty,<br>the bow of Jonathan did not turn back,<br>    the sword of Saul did not return unsatisfied.<br><sup class="versenum">23 </sup>Saul and Jonathan—<br>    in life they were loved and admired,<br>    and in death they were not parted.<br>They were swifter than eagles, <br>    they were stronger than lions. </p> <p class="line"><sup class="versenum">24 </sup>“Daughters of Israel,<br>    weep for Saul,<br>who clothed you in scarlet and finery,<br>    who adorned your garments with ornaments of gold. </p> <p class="line"><sup class="versenum">25 </sup>“How the mighty have fallen in battle!<br>    Jonathan lies slain on your heights.<br><sup class="versenum">26 </sup>I grieve for you, Jonathan my brother; <br>    you were very dear to me.<br>Your love for me was wonderful, <br>    more wonderful than that of women.</p> <p class="line"><sup class="versenum">27 </sup>“How the mighty have fallen!<br>    The weapons of war have perished!” </p> <h3>David Anointed King Over Judah</h3><p class="chapter-1"><strong>2 </strong>In the course of time, David inquired of the Lord. “Shall I go up to one of the towns of Judah?” he asked.</p><p>The Lord said, “Go up.”</p><p>David asked, “Where shall I go?”</p><p>“To Hebron,” the Lord answered.</p> <p><sup class="versenum">2 </sup>So David went up there with his two wives, Ahinoam of Jezreel and Abigail, the widow of Nabal of Carmel. <sup class="versenum">3 </sup>David also took the men who were with him, each with his family, and they settled in Hebron and its towns. <sup class="versenum">4 </sup>Then the men of Judah came to Hebron, and there they anointed David king over the tribe of Judah.</p><p>When David was told that it was the men from Jabesh Gilead who had buried Saul, <sup class="versenum">5 </sup>he sent messengers to them to say to them, “The Lord bless you for showing this kindness to Saul your master by burying him. <sup class="versenum">6 </sup>May the Lord now show you kindness and faithfulness, and I too will show you the same favor because you have done this. <sup class="versenum">7 </sup>Now then, be strong and brave, for Saul your master is dead, and the people of Judah have anointed me king over them.”</p>` - Old Testament text in HTML format
  + language

### Create Day [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 201

### List Days [GET /days{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200

### Get Day [GET /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Day)

### Update Day [PUT /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Day)

+ Response 200

### Delete Day [DELETE /days/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            
# Group Audio

Manage the Audio stream and ACS components

## Audio [/audio]

+ Attributes
    + id: 10 (number)
    + name: `AAR - Swing, Swing.mp3` - the name of the audio file
    + filename: `6e94c863-03a5-4e0d-8a79-a625568e0697.mp3` - the actual file name
    + path: `http://files.develop.alpha.org.s3.amazonaws.com/audio/6e94c863-03a5-4e0d-8a79-a625568e0697.mp3` - the full URL
    + owner: 18 (number) - the owner ID
    + deleted (boolean) - is this deleted?
    + created: `2015-09-28 15:58:54` - when created
    + updated: `2015-09-28 15:58:54` - when updated

### List Audio [GET /audio{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.name` (string, optional) - The value for sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`
    

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)

    + Headers

            Accept: application/json

    + Attributes (object)
        + body (array)
            + (Audio)
        + pager (Pager)


## Approve and Publish [/audio/{id}]
Approve and Publish audio that have been allocated for a daily commentary.

### Approve and Publish Audio [PUT]

+ Parameters
    + id: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + status: approved (string)
        + published: true (boolean)

+ Response 200 (application/json)

    + Headers
    
            Accept: application/json
            
    + Attributes (Audio)


## Needs Revision [/audio/{audioId}]
Reject audio that have been allocated for a daily commentary.

### Needs Revision [PUT]

+ Parameters
    + audioId: `23` (number, required) - The Audio Id.

+ Request (application/json)
    
    + Headers
            
            Authorization: Bearer {access_token}    

    + Attributes (object)
        + comment: comments (string) - reasons for rejection
        + email: test@gmail.com (string) - email address
        + status: rejected (string) - rejection status

+ Response 200 (application/json)
    + Attributes (Audio)


# Group Translation

Manage the Daily Commentaries Translations

## Translations [/translations]
Display translations allocated for daily commentaries

+ Attributes
    + default (Commentary)
    + translations (Commentary Translations)

### List Translations [GET /translations{?limit,page,orderBy,orderType}]
+ Request
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

             Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (Translations)


### Create Translation [POST]
Create translation for daily commentary.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}
             
    + Attributes (object)
        + cid: 1234 (number, required) - commentary ID
        + locale: fr (string, required) - locale for this translation
        + Include Commentary Translations

+ Response 201 (application/json)

    + Headers

            Accept: application/json

    + Attributes (Translations)

## Update Translation [/{cid}/translations/{translationId}]

Update translation for daily commentary.

### Update Translation [PUT]

+ Parameters
    + cid: 1234 (number, required) - Commentary ID
    + translationId: `1008` (number, required) - The value of translations Id.

+ Request (application/json)

    + Headers

             Authorization: Bearer {access_token}

    + Attributes (Commentary Translations)

+ Response 200 (application/json)
    + Attributes (Translations)
    

# Group Users

Manage the user access & groups

## User [/users]

+ Attributes (object)
    + id (number) - the user ID
    + email: example@example.com (string) - email address
    + languages (array)

### List Users [GET /users{?limit,page,orderBy,orderType,email}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy: `d.did` (string, optional) - The value to sort results.
            + Default: `d.did`
        + orderType: `ASC` (string, optional) - The value to sort order (Ascending or Descending).
            + Default: `ASC`
        + email: test@%.com (string, optional) - email to locate in SQL LIKE format
    + Headers

             Authorization: Bearer {access_token}

+ Response 200
    + Attributes
        + body (array)
            + (User)

### Get User [GET /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Update User [PUT /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 200
    + Attributes (User)

### Delete User [DELETE /users/{id}]
+ Request (application/json)
    + Headers

             Authorization: Bearer {access_token}
+ Response 204
            
# Group Languages

Manage the Language codes on the system

## Language [/languages]

Manage language objects.
+ Attributes
  + id (number) - language ID
  + iso (string) - ISO code
  + locale (string) - locale identifier
  + label (string) - label
  + created
  + updated
  + deleted

### Create Language [POST]
+ Request (application/json)

    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 201

### List Languages [GET /languages{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.id`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}

+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Language)
        + pager (Pager)

### Get Language [GET /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Language)

### Update Language [PUT /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Language)

+ Response 200

### Delete Language [DELETE /languages/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204
            

# Group Email

## Email [/emails]

Manage email campaigns.
+ Attributes
    + eid
    + campaign_id
    + scheduled_on
    + scheduled_for
    + commentary (Commentary)
    

### List Emails [GET /emails{?limit,page,orderBy,orderType}]
+ Request (application/json)
    + Parameters
        + limit: `10` (number, optional) - The number of results to return per page.
            + Default: `10`
        + page: `2` (number, optional) - The page of results to return.
            + Default: `1`
        + orderBy (string, optional) - The value for sort results.
            + Default: `d.eid`
        + orderType: `ASC` (string, optional) - The value for sort order (Ascending or Descending).
            + Default: `ASC`

    + Headers

            Authorization: Bearer {access_token}
+ Response 200 (application/json)
    + Attributes (object)
        + body (array)
            + (Email)
        + pager (Pager)            
            

### Get Email [GET /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

+ Response 200
    + Attributes (Email)

### Update Email [PUT /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}

    + Attributes (Email)

+ Response 200

### Delete Email [DELETE /emails/{id}]
+ Request (application/json)
    + Headers

            Authorization: Bearer {access_token}
+ Response 204

# Group Review
Review the status of commentaries in progress.

## Review

### Get review list [GET /review]
+ Request 
    + Headers

            Authorization: Bearer {access_token}
            
+ Response 200
    + Attributes (array)
        + (object)
            + did: 60 (number) - Day id
            + day_id: 60 (number) - Day id (deprecated)
            + audio_id: 165 (number) - Audio ID
            + `audio_path`: `https://dvo6z87ohhlk6.cloudfront.net/audio/Day60-v2095_24021431.mp3` - URL of audio file
            + day_info: `Day 60 - Proverbs 6:12-19, Mark 10:32-52, Leviticus 5:14-7:10` - Day summary heading
            + translations (object)
                + *zh_hans*: 165 (number) - Translation ID
            + cid: 2095 (number) - commentary ID
            + title: `My Eyes Were Opened` - Commentary title
            + document: `https://dvo6z87ohhlk6.cloudfront.net/documents/Day60-v2095_16021112.doc` - original commentary document
            + realday: `2016-03-01` - Scheduled day
            + workflow (Workflow)

### Get my workflow [GET /review/myworkflow]

Get commentaries in progress, filtered to those for the current user. 
Note that because of a bug in the way the response is generated, the
JSON encoding as as an object with numeric keys rather than as an array. This does not 
matter for PHP clients as long as they decode the JSON using the default method.

+ Request 
    + Headers

            Authorization: Bearer {access_token}
            
+ Response 200
    + Attributes (array)
        + (object)
            + did: 60 (number) - Day id
            + day_id: 60 (number) - Day id (deprecated)
            + audio_id: 165 (number) - Audio ID
            + `audio_path`: `https://dvo6z87ohhlk6.cloudfront.net/audio/Day60-v2095_24021431.mp3` - URL of audio file
            + day_info: `Day 60 - Proverbs 6:12-19, Mark 10:32-52, Leviticus 5:14-7:10` - Day summary heading
            + translations (object)
                + *zh_hans*: 165 (number) - Translation ID
            + cid: 2095 (number) - commentary ID
            + title: `My Eyes Were Opened` - Commentary title
            + document: `https://dvo6z87ohhlk6.cloudfront.net/documents/Day60-v2095_16021112.doc` - original commentary document
            + realday: `2016-03-01` - Scheduled day
            + workflow (Workflow)

# Group Common Data
Common data structures used in requests and responses are defined here. This section
will be migrated to **Data Structures** when a bug relating to definition of types is fixed.
## Pager [/fake1]
Pagination data in lists
+ Attributes (object)
    + totalItems: 2 (number) - total number of items
    + totalPages: 2 (number) - total number of pages
    + currentPage: 1 (number) - current page number

## Commentary Teaser [/fake2]
A shorter form of commentary
+ Attributes (object)
        + cid: 123 - Internal system commentary ID.
        + did: 152 - The day number.
        + title: `Wow!` - The title for the day.
        + realday: 152 - The real day number.
        + teaser: `<p>Judah Smith is a delightful, young Pentecostal pastor from Seattle, Washington. He is one of the best communicators that I have ever heard – especially to young people. When listening to others, his favourite expression is ‘Wow!’ For him it is an expression of respect, awe and reverence.</p> <p>There are many blessings to living in Western Europe in the twenty-first century. However, we live in a society in which respect, reverence and awe do not seem to be as valued as they once were.</p> <p>Each of the passages for today reflects on what these words mean and why they are important.</p>` - the short teaser text for each commentary.

## Commentary Translations [/fake3]
+ Attributes (object)
    + psalms_text (Translation) - translation of a field
    + proverbs_text (Translation) - translation of a field

## Translation [/fake4]
+ Attributes (object)
    + id: 123 (number) - translation ID
    + locale: en (string) - language locale for which this is valid
    + field: psalms_text (string) - field for which this is a translation
    + content (string) - translated content
    + approved: true (boolean) - approved or not
    
## Workflow [/fake5]
+ Attributes (object)
    + commentary (object)
        + progress: 100 (number) - percentage done
        + steps: 13 (number) - number of steps
        + previous (object)
            + class: success - visual class
            + info (Workflow Step Info)
        + current (object)
            + class: `success` - visual class
            + info (Workflow Step Info)
            + status: OK - status
        + next (object)
            + class: `success` - visual class
            + info (Workflow Step Info)
            + status: OK - status
        + step (object)
            + step: `1.17`
            + status: completed - Status
            + started: `11:59 16/02/2016` - When started
            + updated: `11:59 16/02/2016` - When updated
        + permitted: true - If this transition is permitted to the current user.
        + duedate: `29/02/2016` - When due
    + translation (object)
        steps: 3 (number) - number of steps
        + permitted: true - If this transition is permitted to the current user.
        + data (object)
            + *2.04* (object)
                + info (Workflow Step Info)
                + *zh_hans* (object)
                    + step (object)
                        + step: `2.04`
                        + status: completed - Status
                        + started: `01:02 19/02/2016` - When started
                        + updated: `01:02 19/02/2016` - When updated
                    + info (Workflow Step Info)
                    + status: OK - Status
                    + class: success - visual class
                    + permitted: true - If this transition is permitted to the current user.
                    + duedate: `29/02/2016` - When due
        + progress: 100 (number) - percentage complete
        + class: success - Success or failure
      + audio (object)
        + progress: 50 (number) - percentage complete
        + steps: 4 (number) - Number of steps
        + previous (object)
            + class: success - visual class
            + info (Workflow Step Info)
        + current (object)
            + class: `danger` - visual class
            + info (Workflow Step Info)
            + status: `CRITICAL` - Status
        + next (object)
            + class: success - visual class
            + info (Workflow Step Info)
            + status: OK - Status
        + step (object)
            + step: `3.03` - step identifier
            + status: null
            + started: `14:50 24/02/2016`
            + updated: `14:50 24/02/2016`
        + permitted: true - If this transition is permitted to the current user.
        + duedate: `29/02/2016` - When due
## Workflow Step Info [/fake6]
+ Attributes (object)
    + duration_str: `1h 0m` - Duration string
    + step: `1.16` - Step identifier
    + title: `Update system with commentary details` - Step title
    + description: `The VO admin will download the approved version and copy & paste the content into the fields on the commentary edit form. Change the status of the commentary for translations (so they now appear in the translation admin list) and notify translators that a commentary is available via email.  Starting WF2` - Description
    + duration: 1 - duration in hours
    + `role_name`: `ROLE_bioy_vo` - Role required for step